{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
        INSIDIOME
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
        BDSM Life style, Kink N' Fetish, Internal Language
    </div>
{% endblock %}

{% block body %}
    <div class="headband">
        {% include "front/partials/nav.html.twig" %}
        {# <div class="PageTitle">HOME</div> #}
        <img src="{{ asset('build/img/gen/room1.jpg') }}" alt="sofa" class="max">
    </div>
    {% if app.user %}
    {% if app.user.isFr == true %}
       
    {% else %}
        
    {% endif %}
{% elseif lang is same as 'fr' %}
    
{% else %}  
      
{% endif %} 
<hr>
    <div class="row m-3">
        
            <h5>Mises à jour et Versions</h5>
            <a class="btn btn-outline-success btn-sm my-1">1 may - Fuzzy Betlaine V-1.5</a>
            <a class="btn btn-outline-secondary btn-sm my-1">21 Mar - Equinox Weaving V-1</a>
            <a class="btn btn-outline-secondary btn-sm my-1">1 Fev - Lupercales Rising V-0.9.0 </a>
            

    </div>
    <hr>
                    {% if is_granted('ROLE_ADMIN')%}
                    <div class="tchat__menu justify-content-end">
                        {# <a href="" class="btn btn-outline-secondary btn-sm me-2 mt-2"><i class="fa-regular fa-comment"></i></a>
                        <a href="" class="btn btn-outline-secondary btn-sm me-2 mt-2"><i class="fa-regular fa-comment"></i>+</a> #}
                        <div>
                         
                        </div>

                    </div>
                    <hr class="mb-0">
                {% endif %}
{% include "front/partials/footer.html.twig" %}    
{% endblock %}
