{% extends 'new-base.html.twig' %}


    {% block title %}INSIDIOME Project{% endblock %}
    {% block og_title %}INSIDIOME Project{% endblock %}

    {% block description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Nos BDSM-tests et Kink-quizzes vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
        Développée par un kinkster pour les kinksters, notre plateforme gratuite est en constante évolution est destinée aux hommes gays, 
        mais les valeurs BDSM transcendent les orientations sexuelles et de genre. 
        Rejoignez-nous pour une expérience de qualité et d'intensité inégalées. 
        Notez que INSIDIOME n'est pas une plateforme de partage de contenu pornographique ni une plateforme commerciale.
    {% endblock %}
    {% block og_description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Nos BDSM-tests et Kink-quizzes vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
        Développée par un kinkster pour les kinksters, notre plateforme gratuite est en constante évolution est destinée aux hommes gays, 
        mais les valeurs BDSM transcendent les orientations sexuelles et de genre. 
        Rejoignez-nous pour une expérience de qualité et d'intensité inégalées. 
        Notez que INSIDIOME n'est pas une plateforme de partage de contenu pornographique ni une plateforme commerciale.
    {% endblock %}

    {% block keywords %}mode de vie BDSM, kink quiz, bdsm test, pratiquer le BDSM{% endblock %}

    {% block canonical %}{% endblock %}
    {% block og_link %}{% endblock %}

    {% block og_image %}https://insidiome.fr/build/img/gen/room1.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/home-bando.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">
        {# ------------------------------------------------------------------------------- #}
        {# header----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainUp.html.twig" 
            with {
                title: "INSIDIOME",
                idDown: "1",
                banner: "build/img/gen/home-ban.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}

        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">

        {#  content Beginning------------------------------------------------------------ #}
    <section class="section__minor bk-drk3 shdw-in-D pad3">
        <h2 class="title3 txt-second">Welcome <span class="txt-second-active"></span></h2>
        {# <h2 class="sub-title3 txt-second-light">Presentation</h2> #}
        <div class="section__minor__content shdw-in-D brdr-rad5 marx1 mary2 padx1 pady2">
            <h3 class="sub-title3 txt-warn mar0">INSIDIOME is under development</h3>
            <p class="info1 txt-soft mar0">I am coding this platform entirely</p>
            <hr class="hr-soft">
            <div class="pad2 glow">
                <h2 class="title1 txt-prim txt-center">NEWS!</h2>
                <h3 class="sub-title3 txt-soft txt-center">Latest Update: July 20, 2024</h3>
                <p class="text-danger"><strong>Registrations on the site are temporarily suspended.<br>
                But you can still take the tests.<br>
                Thank you for your patience :)</strong><br>
            </div>
            <hr class="hr-soft">
            <p class="info1 txt-soft txt-center">
                <br><strong class="txt-prim-light">The platform will soon have a new look</strong><br>
                - New tests<br>
                - New features<br>
            </p>
            <hr class="hr-soft">
            <p class="info1 txt-soft txt-center">
                <br><strong class="txt-prim-light">Munch Announcements</strong><br>
                - The creation of the Lugdunum Leather Club<br>
                - The opening of a leatherworking workshop<br>
                - And many other new features...<br>
            </p>
            <hr class="hr-soft">
        </div>
    </section>

        <hr class="hr-blk">


        {# ------------------------------------------------------------ #}
        {% include "front/partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}


       {# ----------------------------------------------- #}
    </main>

    
{% endblock %}