{% extends 'base.html.twig' %}

{% block title %}
    <div class="d-none">
        INSIDIOME
    </div>
{% endblock %}

{% block description %}
    <div class="d-none">
        BDSM Life style, Kink N' Fetish, Internal Language
    </div>
{% endblock %}

{% block body %}
    <div class="headband">
        {% include "front/partials/nav.html.twig" %}
        {# <div class="PageTitle">HOME</div> #}
        <img src="{{ asset('build/img/gen/room1.jpg') }}" alt="sofa" class="max">
    </div>
    {% if app.user %}
    {% if app.user.isFr == true %}
       
    {% else %}
        
    {% endif %}
{% elseif lang is same as 'fr' %}
    
{% else %}  
      
{% endif %} 

{% if is_granted('ROLE_ADMIN')%}
    <div class="p-1">
        <div class="navigation fluid m-3">
            {{ knp_pagination_render(kinksters) }}
        </div>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Kinkster</th>
                    <th scope="col">isKnown</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>

                {% for kinkster in kinksters %}
                    <tr>
                        <td>
                            <a href="{{ path('app_profil', {'userSlug': kinkster.userSlug }) }}" class="btn btn-outline-success btn-sm">{{ kinkster.pseudo }}</a>
                        </td>
                        <td>
                            {% if kinkster.isKnown == true %}
                            <div class="btn btn-outline-secondary btn-sm">K</div>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('app_insidiome_user_known', {'userSlug': kinkster.userSlug }) }}" class="btn btn-outline-success btn-sm">Mark</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation fluid m-3">
            {{ knp_pagination_render(kinksters) }}
        </div>

                <div class="navigation fluid m-3">
            {{ knp_pagination_render(known) }}
        </div>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">Kinkster</th>
                    <th scope="col">isKnown</th>

                </tr>
            </thead>
            <tbody>

                {% for kinkster in known %}
                    <tr>
                        <td>
                            <a href="{{ path('app_profil', {'userSlug': kinkster.userSlug }) }}" class="btn btn-outline-success btn-sm">{{ kinkster.pseudo }}</a>
                        </td>
                        <td>
                            {% if kinkster.isKnown == true %}
                            <div class="btn btn-outline-secondary btn-sm">K</div>
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="navigation fluid m-3">
            {{ knp_pagination_render(known) }}
        </div>

    </div>
{% endif %}
{% include "front/partials/footer.html.twig" %}    
{% endblock %}
