<h1 class="title3 txt-second">Votre description</h1>  
<p class="sub-title2 txt-soft">Maximum 400 caractères</p>
<hr class="hr-soft">
{{ form_start(form) }}
{{ form_widget(form) }}
<hr class="hr-soft">
<button type="submit" class="butn butn-prim">Valider</button>
{{ form_end(form) }}