<h1 class="title3 txt-second">Fetishes</h1>  
<p class="sub-title2 txt-soft">Cliquez pour choisir</p>
<p class="indo1 txt-danger">De nouveaux fetishs seront bientôt ajoutés</p>
<hr class="hr-soft">
<section class="disp-center wrap">
    {% for fetish in fetishes %}
        <a href="{{path('app_profil_add_fetish', {'userSlug': userSlug, 'fetishId': fetish.id})}}"    
        class="butn butn-prim">{{fetish.nom}}</a>
    {% endfor %}
</section>