<h1 class="title3 txt-second">Positions</h1>  
<p class="sub-title2 txt-soft">Cliquez pour choisir</p>
<p class="indo1 txt-danger">De nouvelles positions seront bientôt ajoutées</p>
<hr class="hr-soft">
<section class="disp-center wrap">
    {% for position in positions %}
        <a href="{{path('app_profil_add_position', {'userSlug': userSlug, 'positionId': position.id})}}"    

        class="butn butn-prim">{{position.nom}}</a>
    {% endfor %}
</section>