{% extends 'new-base.html.twig' %}


    {% block title %}INSIDIOME - ENTER{% endblock %}
    {% block og_title %}INSIDIOME - ENTER{% endblock %}

    {% block description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}
    {% block og_description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}

    {% block keywords %}insidiome, bdsm, life style, lifestyle, life-style, life, style, lifesty{% endblock %}

    {% block canonical %}https://insidiome.fr{% endblock %}
    {% block og_link %}https://insidiome.fr{% endblock %}

    {% block og_image %}https://www.insidiome.com/build/img/gen/room1.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {{ encore_entry_link_tags('general') }}
    <style>

    </style>   
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {# {{ encore_entry_script_tags('popModal') }} #}

{% endblock %}

{% block body %}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/back1.jpg",
        } 
    %}
    {% include "front/partials/asideDown.html.twig" %}

    <main class="main__container relative vh100">
        {# ------------------------------------------------------------ #}
        <section id="1" class="section__major bk-drk2 shdw-in-D">
            <div class="mobile__img__bk shdw-in-D" style="background-image: url('{{ asset('build/img/gen/back1.jpg') }}');" >
            <div>
        </section>
        {# ------------------------------------------------------------ #}
        <div class="modl" id="popModal" >
            <div class="modl__content padx1 pady3 mar1">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_sun_down') }}">Logout</a>
                    </div>
                {% endif %}
                <h1 class="title1 txt-second ">Connexion</h1>
                {# <h2 class="sub-title2 txt-soft">Entrez vos identifiants</h2> #}
                <hr class="hr-soft">
                <form method="post">
                    {# <label class="form-label" for="inputEmail">Email</label> #}
                    <div class="info1 txt-prim-light">Email</div>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                    {# <label class="form-label" for="inputPassword">Password</label> #}
                    <div class="info1 txt-prim-light">Password</div>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    {# <label class="form-label" for="inputPassword"> #}
                    {# <input type="checkbox" name="_remember_me">Remember me / Se souvenir de moi</label> #}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <button class="butn butn-prim mar1" type="submit">
                        Connexion
                    </button>
                </form> 
                <hr class="hr-soft">
                <p class="sub-title3 txt-soft">Mot de passe oublié ? / Forgot your password ?</p>
                <a href="{{ path('app_reset_password') }}" class="butn butn-prim mar1">Reset</a>
                <hr class="hr-soft">
                {# <h2 class="title3 txt-second ">Créer un compte <br> Create an account</h1>
                <h3 class="sub-title3 txt-soft">Rapide et sécurisé / Fast and secured</h2>
                <a href="{{ path('app_dungeon_gate') }}" class="butn butn-prim mar1"> Compte / Account</a> #}

            </div>
        </div>
    </main>
 
{% endblock %}








