<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

        
    </head>
    <body class="bg-black">
        <div class="container bg-dark m-5 p-3">
            <div class="text-secondary text-center">
                <h1>INSIDIOME</h1>
                <h3>BDSM French Touch</h3>
                
                <h2>Félicitation / Congratulations {{ pseudo }}!</h2>
                <p>Vous vous êtes inscrit</p>
                <p>You have registered</p>
                {# <p>cliquez pour valider votre compte / click to validate your account</p>
                <a href="{{ link }}" class="btn btn-outline-light btn-lg">Validation</a> #}
                {# <p>Vous vous êtes inscrit, vous devez valider votre compte</p>
                <p>You have registered, you must validate your account</p>
                <a href="insidiome.com/profil/activate/{{ userSlug }}" class="btn btn-outline-light btn-lg">Valider / Validate</a> #}

            </div>
        </div>
    </body>
</html>
