<form method="post" action="{{ path('app_back_question_delete', {'id': question.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ question.id) }}">
    <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
</form>
