{{ form_start(form) }}
    <div class="row">
        <div class="col-12 marb1">
            {{ form_label(form.questFr, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.questFr, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-12 marb1">
            {{ form_label(form.questEng, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.questEng, {'attr': {'class': 'form-control'}}) }}
        </div>

        <button class="btn butn-prim mar marb1">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
