{% extends 'new-base.html.twig' %}


    {% block title %}INSIDIOME - ENTER{% endblock %}
    {% block og_title %}INSIDIOME - ENTER{% endblock %}

    {% block description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}
    {% block og_description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}

    {% block keywords %}insidiome, bdsm, life style, lifestyle, life-style, life, style, lifesty{% endblock %}

    {% block canonical %}https://insidiome.fr{% endblock %}
    {% block og_link %}https://insidiome.fr{% endblock %}

    {% block og_image %}https://www.insidiome.com/build/img/gen/room1.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {{ encore_entry_link_tags('general') }}
    <style>

    </style>   
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {# {{ encore_entry_script_tags('popModal') }} #}

{% endblock %}

{% block body %}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/cop1.jpg",
        } 
    %}
    {% include "front/partials/asideDown.html.twig" %}

    <main class="main__container relative vh100">
        {# ------------------------------------------------------------ #}
        <section id="1" class="section__major bk-drk2 shdw-in-D">
            <div class="mobile__img__bk shdw-in-D" style="background-image: url('{{ asset('build/img/gen/cop1.jpg') }}');" >
            <div>
        </section>
        {# ------------------------------------------------------------ #}
        <div class="modl" id="popModal" >
            <div class="modl__content padx1 pady3 mar1">
                <h1 class="title2 txt-second ">Gate</h1>
                {# <h2 class="sub-title2 txt-soft">c'est rapide et sécurisé</h2> #}
                <hr class="hr-soft">
                {% if code is same as "emailExists" %}
                    <p class="info1 txt-warn">
                        {{ message }}
                    </p>
                    <a href="{{ path('app_cellar_door') }}" class="butn butn-prim">Login</a>
                {% elseif code is same as "firstValidation" %}
                    <p class="info1 txt-soft">
                        {{ user.pseudo }} <br>
                        {{ user.email }} <br>
                    </p>
                    <hr class="hr-soft">
                    <p class="info1 txt-soft">
                        {{ message }}
                    </p>
                    <hr class="hr-soft">
                    <a href="{{ path('app_home') }}" class="butn butn-prim">Home</a>
                {% elseif code is same as "secondValidation" %}    
                    <h3 class="sub-title2 txt-prim-active">Félicitaions / Congratulations !</h2><br>
                    <p class="info1 txt-soft">
                        Vous êtes maintenant membre INSIDIOME<br>
                        votre compte est activé et sécurisé<br>
                        Vous pouvez vous connecter<br>
                        <br>
                        You are now a member of INSIDIOME<br>
                        your account is activated and secure<br>
                        You can log in<br>
                    </p>    
                    <a href="{{ path('app_cellar_door') }}" class="butn butn-prim">Login</a>
                {% endif %}
               

            </div>
        </div>
    </main>

 
{% endblock %}