{% extends 'new-base.html.twig' %}


    {% block title %}INSIDIOME - ENTER{% endblock %}
    {% block og_title %}INSIDIOME - ENTER{% endblock %}

    {% block description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}
    {% block og_description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}

    {% block keywords %}insidiome, bdsm, life style, lifestyle, life-style, life, style, lifesty{% endblock %}

    {% block canonical %}https://insidiome.fr{% endblock %}
    {% block og_link %}https://insidiome.fr{% endblock %}

    {% block og_image %}https://www.insidiome.com/build/img/gen/room1.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {{ encore_entry_link_tags('general') }}
    <style>

    </style>   
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {# {{ encore_entry_script_tags('popModal') }} #}

{% endblock %}

{% block body %}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/back1.jpg",
        } 
    %}
    {% include "front/partials/asideDown.html.twig" %}

    <main class="main__container relative vh100">
        {# ------------------------------------------------------------ #}
        <section id="1" class="section__major bk-drk2 shdw-in-D">
            <div class="mobile__img__bk shdw-in-D" style="background-image: url('{{ asset('build/img/gen/back1.jpg') }}');" >
            <div>
        </section>
        {# ------------------------------------------------------------ #}
        <div class="modl" id="popModal" >
            <div class="modl__content padx1 pady3 mar1">
                <h1 class="title2 txt-second ">Créer un compte <br> Create an account</h1>
                {# <h2 class="sub-title2 txt-soft">c'est rapide et sécurisé</h2> #}
                <hr class="hr-soft">
                {{ form_start(PreRegisterForm) }}
                    {{ form_row(PreRegisterForm.pseudo) }}
                    {{ form_row(PreRegisterForm.email) }}
                    {{ form_row(PreRegisterForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    <div class="disp-center">
                        <div type="button" class="butn butn-prim mar1" data-bs-toggle="modal" data-bs-target="#mentionsLegales">
                            Legals
                        </div>
                        <div type="button" class="butn butn-prim mar1" data-bs-toggle="modal" data-bs-target="#cgu">
                            CGU
                        </div>
                    </div>

                    {{ form_row(PreRegisterForm.agreeTerms) }}

                    <button type="submit" class="butn butn-prim mar1">Register</button>
                {{ form_end(PreRegisterForm) }}  
               

            </div>
        </div>
    </main>

    <div class="modal fade" id="mentionsLegales" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bk-drk2 shdw-in-D">
            <div class="board__modal__content p-3 text-start">
                {% include "front/info/content/legals.html.twig" %}
                <button type="button" class="butn butn-prim" data-bs-target="#pageModal" data-bs-toggle="modal">Close / Fermer</button>
            </div> 
        </div>
    </div>
</div>

<div class="modal fade" id="cgu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bk-drk2 shdw-in-D">
            <div class="board__modal__content p-3 text-start">
                {% include "front/info/content/cgu.html.twig" %}
                <button type="button" class="butn butn-prim" data-bs-target="#pageModal" data-bs-toggle="modal">Close / Fermer</button>
            </div>        
        </div>
    </div>
</div>
 
{% endblock %}