<footer id="footer" class="fluid">
    <nav class="footer__nav bk-drk2 disp-spbtwn shdw-in-D fluidx pad1">
        <div class="nav__item"><a href="#" class=""></a></div>
        <div class="footer__nav__list disp-col-center shdw-in-D brdr-rad5 fluidx marx1 pad1">
            <a href="{{ path('app_info', { 'code': 'legals' }) }}" class="butn butn-prim fluidx">Legals</a>
            <a href="{{ path('app_info', { 'code': 'cgu' }) }}" class="butn butn-prim fluidx">CGU</a>
        </div>
        <div class="footer__nav__list disp-col-center shdw-in-D brdr-rad5  fluidx marx1 pad1">
            <a href="{{ path('app_info', { 'code': 'nsdm' }) }}" class="butn butn-prim fluidx">A Propos</a>
            {% if app.user %}
                <a href="mailto:insidiome@gamail.com" type="button" class="butn butn-prim fluidx" role="navigation">Contact</a>
            {% else %}
                <a href="{{ path('app_cellar_door') }}" type="button" class="butn butn-prim fluidx" role="navigation">Contact</a>
            {% endif %}
        </div>
        <nav class="nav__up-down shdw-in-D ">
             <a href="#" type="button" class="butn-vertical butn-prim mar0" role="navigation"><i class="fas fa-arrow-up"></i></a>            
        </nav>
    </nav>
    <hr class="hr-soft">
    <div class="footer__copyright txt-second-dark bk-dark1">
        INSIDIOME © 2019 - All rights reserved
    </div>
</footer>
