    <header id="present" class="main__header">
        <section class="main__header__banner shdw-in-D">
            <img src="{{ asset(banner) }}" alt="{{title|title}}" class="main__header__banner__img fluidx">
            <div class="main__header__banner__present fluidx pad1">
                <h1 class="title1 txt-wht txt-shdw notranslate " translate="no">{{title|title}}</h1>
                <nav class="nav__up-down shdw-in-D ">
                    <a href="#{{idDown}}" type="button" class="butn-vertical butn-prim mar0" role="navigation"><i class="fas fa-arrow-down"></i></a>
                </nav>
            </div>
        </section>