<nav class="main__nav bk-drk1 shdw-in-D disp-col-center mar0 padx1">
    <section class="main__nav__supp disp-end fluidx mar0">
        {% if app.user %}
            <span class="user">Bonjour <strong class="txt-second-active">{{ app.user.pseudo }}</strong> ! </span>
            <a href="{{ path('app_profil_board', {'userSlug': app.user.userSlug} ) }}" class="butn butn-third marx1">
                <i class="fas fa-user"></i>
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="px-2">
                    <a href="{{ path('ea_board') }}" class="butn butn-prim marx1"> EA </a>
                    <a href="{{ path('app_quick') }}" class="butn butn-prim marx1"> QA </a>
                </div>
            {% endif %}
        {% else %}
            <span class="user">Bonjour Visiteur ! </span>
            <a href="{{ path('app_cellar_door') }}" class="butn butn-prim marx1">
                    <i class="fas fa-user"></i>
            </a>
        {% endif %} 
    </section>
    <hr class="hr-soft mar0">
    <section class="main__nav__supp disp-center fluid wrap mar0">
        <a href="{{ path('app_home') }}" class="butn butn-prim " ><i class="fas fa-home"></i> <span class="label1">Home</span></a>
        <a href="{{ path('app_test_list') }}" class="butn butn-prim " ><i class="fas fa-dice"></i><span class="label1">Tests</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim" ><i class="fas fa-gopuram"></i><span class="label1">NSDM</span></a>