<section id="{{ idSection }}" class="section__major bk-drk3 shdw-in-D">
    <header class="section__major__heading shdw-in-D" style="background-image: url('{{ asset(banner) }}');">
        <div class="section__major__heading__present padx1">
            <h2 class="title2 txt-wht notranslate " translate="no">{{ title|title }}</h2>
            <nav class="nav__up-down shdw-in-D">
                <a href="#{{ idUp }}" type="button" class="butn-vertical butn-prim"><i class="fas fa-arrow-up"></i></a>
                <a href="#{{ idDown }}" type="button" class="butn-vertical butn-prim"><i class="fas fa-arrow-down"></i></a>
            </nav>
        </div>
    </header>
    <div class="section__major__content fluidx padx1 pady3">
