{% extends 'new-base.html.twig' %}


    {% block title %}INSIDIOME - ENTER{% endblock %}
    {% block og_title %}INSIDIOME - ENTER{% endblock %}

    {% block description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}
    {% block og_description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}

    {% block keywords %}insidiome, bdsm, life style, lifestyle, life-style, life, style, lifesty{% endblock %}

    {% block canonical %}https://insidiome.fr{% endblock %}
    {% block og_link %}https://insidiome.fr{% endblock %}

    {% block og_image %}https://www.insidiome.com/build/img/gen/room1.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('general') }}
    <style>

    </style>   
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {# {{ encore_entry_script_tags('popModal') }} #}

{% endblock %}

{% block body %}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/cop1.jpg",
        } 
    %}
    {% include "front/partials/asideDown.html.twig" %}

    <main class="main__container relative vh100">
        {# ------------------------------------------------------------ #}
        <section id="1" class="section__major bk-drk2 shdw-in-D">
            <div class="mobile__img__bk shdw-in-D vh100" style="background-image: url('{{ asset('build/img/gen/cop1.jpg') }}');" >
            <div>
        </section>
        {# ------------------------------------------------------------ #}
        <div class="modl" id="popModal" >
            <div class="modl__content padx1 pady3 mar1 brdr-shdw-L ">


                {% if code is same as "done" %}
                    <section id="visitor disp-col-center shdw-in-D" class="padx1">
                        <h1 class="title2 txt-second">Test Alerte</h1>
                        <h2 class="info1 txt-second-light">Vous avez déjà réalisé ce test <br>
                            You have already completed this test!
                        </h2>
                        <hr>
                        <a href="{{ path('app_test_result', { 'impactSlug': impactSlug }
                        ) }}" class="butn butn-prim marx3 mary1">Résultats / result</a>
                        <hr>
                        <a href="{{ path('app_home') }}" class="butn butn-prim marx3 mary1">retour</a>
                        <hr>
                    </section>
                {% elseif code is same as "comArticle" %}
                    <section id="visitor disp-col-center shdw-in-D" class="padx1">
                        <h1 class="title2 txt-second">Commentaire Alerte</h1>
                        <h2 class="info1 txt-second-light">Vous avez déjà commenté cet article !<br>
                            You have already commented on this article!
                            {# vous pouvez consulter votre commentaire sur votre  : #}
                        </h2>
                        {# <a href="" class="butn butn-prim marx3 mary1">Voir</a> #}
                        <hr class="hr-soft">
                        <a href="{{ path('app_home') }}" class="butn butn-prim marx3 mary1">retour</a>
                        <hr class="hr-soft">
                        <h2 class="info1 txt-second-light">Vous pouvez venir discuter sur Le groupe Facebook INSIDIOME !<br>
                            You can come and discuss on the Facebook group INSIDIOME!   
                            {# vous pouvez consulter votre commentaire sur  votre  : #}
                        </h2>
                        <a href="https://www.facebook.com/groups/1460845264289284" class="butn butn-third" >Facebook INSIDIOME</span></a>
                    </section>    
                {% elseif code is same as "comTest" %}
                    <section id="visitor disp-col-center shdw-in-D" class="padx1">
                        <h1 class="title2 txt-second">Commentaire Alerte</h1>
                        <h2 class="info1 txt-second-light">Vous avez déjà commenté ce test !<br>
                            You have already commented on this test!
                            {# vous pouvez consulter votre commentaire sur votre  : #}
                        </h2>
                        {# <a href="" class="butn butn-prim marx3 mary1">Voir</a> #}
                        <hr class="hr-soft">
                        <a href="{{ path('app_home') }}" class="butn butn-prim marx3 mary1">retour</a>
                        <hr class="hr-soft">
                        <h2 class="info1 txt-second-light">Vous pouvez venir discuter sur Le groupe Facebook INSIDIOME !<br>
                            You can come and discuss on the Facebook group INSIDIOME!   
                            {# vous pouvez consulter votre commentaire sur  votre  : #}
                        </h2>
                        <a href="https://www.facebook.com/groups/1460845264289284" class="butn butn-third" >Facebook INSIDIOME</span></a>
                    </section>
                {% elseif code is same as "comNoTest" %}
                    <section id="visitor disp-col-center shdw-in-D" class="padx1">
                        <h1 class="title2 txt-second">Commentaire Alerte</h1>
                        <h2 class="info1 txt-second-light">Vous n'avez pas fait ce test <br>
                            You have not done this test!
                        </h2>
                        <a href="{{ path('app_test', { 'testSlug': testSlug }) }}" class="butn butn-prim ">Test</a>
                        <hr class="hr-soft">
                        <a href="{{ path('app_home') }}" class="butn butn-prim marx3 mary1">retour</a>
                    </section>    
                {% elseif code is same as "succCom" %}
                    <section id="visitor disp-col-center shdw-in-D" class="padx1">
                        <h1 class="title2 txt-second">Commentaire</h1>
                        <h2 class="info1 txt-second-light">Félicitations / Congratulations !</h2>
                        <p class="info1 txt-soft">    Votre commentaire a été enregistré avec succès.<br>
                            Il sera publié après <span class="txt-second-light">validation par INSIDIOME</span>.<br>
                            Your comment has been successfully registered.<br>
                            It will be published after <span class="txt-second-light">validation by INSIDIOME</span>.
                            
                            </p>
                        
                        <a href="{{ path('app_home') }}" class="butn butn-prim marx3 mary1">retour</a>
                    </section>       
                {% elseif code is same as 403 %}
                    <section id="visitor disp-col-center shdw-in-D" class="padx1">
                        <h1 class="title2 txt-second">Accés Refusé</h1>
                        <h2 class="info1 txt-second-light">Vous n'avez rien à faire ici !<hr>
                            You have nothing to do here !
                        </h2>
                        <hr>
                        <a href="{{ path('app_home') }}" class="butn butn-prim marx3 mary1">retour</a>
                        <hr>
                    </section>
                {% elseif code == 404 %}
                    <section id="visitor disp-col-center shdw-in-D" class="padx1">
                        <h1 class="title2 txt-second">Ressource inexistante</h1>
                        <h2 class="info1 txt-second-light">Ce que vous cherchez n'existe pas !<hr>
                            You are looking for does not exist !
                        </h2>
                        <hr>
                        <a href="{{ path('app_home') }}" class="butn butn-prim marx3 mary1">retour</a>
                        <hr>
                    </section>
                {% elseif code == 500 %}
                    <section id="visitor disp-col-center shdw-in-D" class="padx1">
                        <h1 class="title2 txt-second">Ressource Indisponible</h1>
                        <h2 class="info1 txt-second-light">Ce que vous cherchez n'est pas disponible<hr>
                            You are looking for is not available !
                        </h2>
                        <hr>
                        <a href="{{ path('app_home') }}" class="butn butn-prim marx3 mary1">retour</a>
                        <hr>
                    </section>
                {% else %}
                    <section id="visitor disp-col-center shdw-in-D" class="padx1">
                        <h1 class="title2 txt-second">Erreur</h1>
                        <h2 class="info1 txt-second-light">Une erreur s'est produite<hr>
                            An error has occurred !
                        </h2>
                        <hr>
                        <a href="{{ path('app_home') }}" class="butn butn-prim marx3 mary1">retour</a>
                        <hr>
                    </section>
                {% endif %}

            </div>
        </div>
    </main>
 
{% endblock %}