{% extends 'main.html.twig' %}

{# {% block title %}Register{% endblock %} #}

{% block body %}
<div class="column__container">
    <div class="column__trunk">
        <img src="{{ asset('build/img/gen/mobile.jpg') }}" alt="">
        <div class="column__content">
            
        </div>

    </div>
</div>

    <!-- Modal -->
<div class="modal banner__modal fade" id="pageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="p-3">
            {% if app.user %}
                {% if app.user.isFr == true %}
                    <h4>Bienvenue dans la communauté INSIDIOME</h4>
                    <h3> {{ user.pseudo }}</h3>
                    <p>Votre profil est validé, vous pouvez voir votre profil</p>
                    <a href="{{ path('app_profil', {'userSlug': user.userSlug}) }}" class="btn btn-outline-light">Profil</a> 
                {% else %}
                    <h4>Welcome to the INSIDIOME community</h4>
                    <h3> {{ user.pseudo }}</h3> 
                    <p>Your profile is validated, you can see your profile</p>
                    <a href="{{ path('app_profil', {'userSlug': user.userSlug}) }}" class="btn btn-outline-light">Profile</a>
                {% endif %}

            {% endif %}
 
 
            </div>
        </div>
    </div>
</div> 


{% endblock %}
