{% extends 'new-base.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}INSIDIOME {% endblock %}
    {% block og_title %}INSIDIOME {% endblock %}

    {% block description %}{% endblock %}
    {% block og_description %}  {% endblock %}

    {% block keywords %}{% endblock %}

    {% block canonical %}https://insidiome.com/kink-and-bdsm-tests/present/{% endblock %}
    {% block og_link %}https://insidiome.com/kink-and-bdsm-tests/present/{% endblock %}

    {% block og_image %}https://insidiome.com/build/img/mapped/square/test/{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/back2.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        {# header----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainUp.html.twig" 
            with {
                title: "Board",
                idDown: "1",
                banner: "build/img/gen/banner2.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}

        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">



        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor disp-col-center bk-drk2 shdw-in-D fluidx pad3">
            <h2 class="title3 txt-second">Bienvenue <span class="txt-second-active">{{ kinkster.pseudo|capitalize }}</span></h2>
            <p class="sub-title3 txt-soft">Ici, vous pouvez gérer votre Profil</p>
            <p class="info1 txt-danger">Votre espace personnel est en cours de création</p>
            <section id="card" class="crd__present bk-drk2 shdw-in-D brdr-rad10 fluidx mary3">
                <div class="crd__present__img shdw-in-D">

                    <img src="{{ asset('build/img/gen/default.jpg') }}" class="shdw-in-D fluidx" alt="{{ kinkster.pseudo }}">

                </div>
                <div class="crd__present__content disp-col-center pad1">
                    <h3 class="title2 txt-second">{{ kinkster.pseudo|capitalize }}</h3>
                    <p class="info1 txt-soft">{{ kinkster.email }} </p>
                    <hr class="hr-soft">
                    <p class="sub-title3 txt-soft">
                        {% if kinkster.position  %}
                            {{ kinkster.position.nom }}
                        {% else %} 
                            No Position
                        {% endif %}  
                        -|-
                        {% if kinkster.fetish  %}
                            {{ kinkster.fetish.nom }}
                        {% else %} 
                            No Fetish
                        {% endif %}  

                    </p>
                    <hr class="hr-soft">
                    {# <p class="info1 txt-second-light">{{ impacts|length }} Tests</p> #}
                    {# <a href="{{ path('app_test_run2', {'testSlug': test.testSlug}) }}" 
                        class="butn butn-prim">
                        Faire le test 
                    </a> #}
                </div>
            </section>

           

            <section class="disp-col-center bk-drk2 shdw-in-D brdr-rad10 fluidx pad2">
                <h3 class="title3 txt-second">Completez votre profil !</h3>
                <hr class="hr-soft">
                <p class="Info1 txt-soft">Un profil complet augmente votre niveau dans INSIDIOME <br>
                    et vous permet de débloquer des <span class="txt-prim-light">fonctionnalités supplémentaires<span> !<br>
                    <span class="txt-danger">Ces fonctionnalités seront bientôt mises en pace ...<span>
                </p>
                <hr class="hr-soft">
                {% if kinkster.description == null %}
                    <a href="{{ path('app_profil_description', {'userSlug': kinkster.userSlug}) }}" class="butn butn-prim" >Ajouter une Descripton</span></a>
                {% endif %}
                {% if kinkster.position == null %}
                    <a href="{{ path('app_profil_show_position', {'userSlug': kinkster.userSlug}) }}" class="butn butn-prim" >Ajouter une Position</span></a>
                {% endif %}
                {% if kinkster.fetish == null %}
                    <a href="{{ path('app_profil_show_fetish', {'userSlug': kinkster.userSlug}) }}" class="butn butn-prim" >Ajouter un Fetish</span></a>
                {% endif %}                
            </section>
            <hr class="hr-blk">
            {% if kinkster.description %}
                <section id="description" class="bk-drk2 shdw-in-D brdr-rad10 fluidx pad2">
                    <h3 class="title3 txt-second">Votre description</h3>
                    <hr class="hr-soft">
                    <p class="info1 txt-soft">{{ kinkster.description|raw}}</p> 
                </section>
            {% endif %}
            <hr class="hr-blk">
            <section class="bk-drk2 shdw-in-D brdr-rad10 fluidx pad2">
                    <h3 class="title3 txt-second">Discussions</h3>
                    <hr class="hr-soft">
                    <p class="info1 txt-soft">Vous pouvez me retrouver sur Facebook même si j'ai peu de temps pour les reseaux sociaux :</p>
                    <a href="https://www.facebook.com/groups/1460845264289284" class="butn butn-third" >Facebook INSIDIOME</span></a>
            </section>
            <hr class="hr-blk">

            <section class="bk-drk2 shdw-in-D brdr-rad10 fluidx padx3 pady2">
                <h3 class="title3 txt-second">Vos actions</h3>
                <hr class="hr-soft">

                <h4 class="sub-title3 txt-soft">Ajouter / Modifier votre :</h4>
                <a href="{{ path('app_profil_description', {'userSlug': kinkster.userSlug}) }}" class="butn butn-prim" >Description</span></a>
                <a href="{{ path('app_profil_show_position', {'userSlug': kinkster.userSlug}) }}" class="butn butn-prim" >Position</span></a>
                <a href="{{ path('app_profil_show_fetish', {'userSlug': kinkster.userSlug}) }}" class="butn butn-prim" >Fetish</span></a>
                <hr class="hr-soft">

               

                {# <h4 class="sub-title3 txt-soft">Consulter vos commentaires:</h4>
                <p class="info1 txt-soft"><span class="title4 txt-second-light">INSIDIOME</span> vous a certainement répondu !</p>
                <a href="{{ path('app_profil_comments', {'userSlug': kinkster.userSlug}) }}" class="butn butn-prim" >Commentaires</span></a>
                <hr class="hr-soft"> #}

                <h4 class="sub-title3 txt-soft">Naviguer :</h4>
                <a href="{{ path('app_profil', {'userSlug': kinkster.userSlug}) }}" class="butn butn-prim" >Voir votre profil</span></a>
                <a href="{{ path('app_sun_down') }}" class="butn butn-prim" >Déconnexion</span></a>
            </section>  
            <hr class="hr-blk">


            <section class="bk-drk2 shdw-in-D brdr-rad10 fluidx pad2">
                <h3 class="title3 txt-second">Vos tests</h3>
                <p class="info1 txt-soft">Pour pouvoir refaire un test vous devez le supprimer</p>
                <hr class="hr-soft">
                {% for impact in impacts %}
                    <div class="crd__lng  bk-drk2 shdw-in-D">
                        <div class="disp-spbtwn">
                            {% if impact.test.image is not null %} 
                                <img src="{{ asset('build/img/mapped/square/test/' ~ impact.test.image) }}" class="fluidx card__lng__img" alt="{{ impact.test.name }}">
                            {% else %}
                                <img src="{{ asset('build/img/gen/default.jpg') }}" class="fluidx card__lng__img" alt="{{ impact.test.name }}">
                            {% endif %}                        
                            {# <img src="{{ asset('build/img/gen/default.jpg') }}" alt="photo de profil" class="fluidx card__lng__img"> #}
                            {# </div> #}
                            <div class="crd__lng__content disp-col-center fluid">
                                <h4 class="title4 txt-prim-light">{{ impact.test.name|title }}</h4>
                                <hr class="hr-soft">
                                <!-- Button trigger modal -->
                                <button type="button" class="butn butn-danger" data-bs-toggle="modal" data-bs-target="#delTestModal">
                                    Supprimer ce test 
                                </button>

                            </div>
                            <a href="{{ path('app_test_result', {'impactSlug': impact.impactSlug}) }}"
                            class="butn-vertical butn-prim">
                                <i class="fas fa-eye"></i>
                            </a>  
                        </div>

                    </div>
                    <!-- Modal -->
                    <div class="modal fade " id="delTestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog vh100 disp-center ">
                            <div class="modal-content bk-drk2 shdw-in-D pad2">
                                <div class="modal-header">
                                    <h1 class="title3 txt-second" id="exampleModalLabel">{{impact.test.name}}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="info1 txt-soft">Souhaitez vous vraiment supprimer ce test ?</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ path('app_profil_del_impact', {'userSlug': kinkster.userSlug, 'impactId': impact.id}) }}" class="butn butn-danger" >Supprimer</span></a>
                                    {# <button type="button" class="btn btn-primary">Save changes</button> #}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </section>
        </section>



        {# ------------------------------------------------------------ #}
        {# {% include "front/partials/sectionMajorUp.html.twig" 
            with {
                idSection: "1",
                title: "Tests",
                idUp: "present",
                idDown: "2",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
        <section class="pad1 fluidx">
            <h3 class="title3 txt-second">Resultas de <span class="txt-second-light">{{ kinkster.pseudo|capitalize }}</span></h3>

        </section> 
        {% include "front/partials/sectionMajorDown.html.twig" %} #}
        {# ------------------------------------------------------------ #}

        

        {# ------------------------------------------------------------ #}
        {% include "front/partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}