{% extends 'new-base.html.twig' %}

    {% block lang %}en{% endblock %}
    {% block title %}INSIDIOME {% endblock %}
    {% block og_title %}INSIDIOME {% endblock %}

    {% block description %}{% endblock %}
    {% block og_description %}  {% endblock %}

    {% block keywords %}{% endblock %}

    {% block canonical %}https://insidiome.com/kink-and-bdsm-tests/present/{% endblock %}
    {% block og_link %}https://insidiome.com/kink-and-bdsm-tests/present/{% endblock %}

    {% block og_image %}https://insidiome.com/build/img/mapped/square/test/{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}en_US{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/back2.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        {# header----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainUp.html.twig" 
            with {
                title: "Profil",
                idDown: "1",
                banner: "build/img/gen/banner2.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}

        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">



        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor disp-col-center bk-drk2 shdw-in-D fluidx pad3">
            <section class="crd__present bk-drk2 shdw-in-D brdr-rad10 fluidx">
                <div class="crd__present__img shdw-in-D">

                    <img src="{{ asset('build/img/gen/default.jpg') }}" class="shdw-in-D fluidx" alt="{{ kinkster.pseudo }}">

                </div>
                <div class="crd__present__content disp-col-center pad1">
                    <h3 class="title2 txt-second">{{ kinkster.pseudo|capitalize }}</h3>
                    <p class="sub-title3 txt-soft txt-center">
                        {% if kinkster.position  %}
                            {{ kinkster.position.name }}
                        {% else %} 
                            No Position
                        {% endif %}  
                        <br>
                        {% if kinkster.fetish  %}
                            {{ kinkster.fetish.name }}
                        {% else %} 
                            No Fetish
                        {% endif %}  
                    </p>

                    
                </div>
            </section>
            <hr class="hr-soft">
            <section class="bk-drk2 shdw-in-D brdr-rad10 fluidx pad2">
                <p class="info1 txt-soft">{{ kinkster.description|raw}}</p>
            </section>
        </section>
        <hr class="hr-blk">





        {# ------------------------------------------------------------ #}
        {% include "front/partials/sectionMajorUp.html.twig" 
            with {
                idSection: "1",
                title: "Tests",
                idUp: "present",
                idDown: "2",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
        <section class="pad1 fluidx">
            <h3 class="title3 txt-second">Resultats / results : <span class="txt-second-light">{{ kinkster.pseudo|capitalize }} </span></h3>
            <section class="fluidx disp-col-center padx1 pady3">
                {% for impact in impacts %}
                    <div class="crd__lng  bk-drk2 shdw-in-D">
                        <div class="disp-spbtwn">
                            {% if impact.test.image is not null %} 
                                <img src="{{ asset('build/img/mapped/square/test/' ~ impact.test.image) }}" class="fluidx card__lng__img" alt="{{ impact.test.name }}">
                            {% else %}
                                <img src="{{ asset('build/img/gen/default.jpg') }}" class="fluidx card__lng__img" alt="{{ impact.test.name }}">
                            {% endif %}                        
                            {# <img src="{{ asset('build/img/gen/default.jpg') }}" alt="photo de profil" class="fluidx card__lng__img"> #}
                            {# </div> #}
                            <div class="crd__lng__content disp-col-center fluid">
                                <h4 class="title4 txt-prim-light">{{ impact.test.name|title }}</h4>
                                <hr class="hr-soft">
                                <h3 class="sub-title4 txt-soft">{{ impact.test.testType }}</h3>
                            </div>
                            <a href="{{ path('app_test_result', {'impactSlug': impact.impactSlug}) }}"
                            class="butn-vertical butn-prim">
                                <i class="fas fa-eye"></i>
                            </a>  
                        </div>
                        <div class="crd__lng__footer disp-center shdw-in-D">
                            {% for score in impact.scores %}
                                {% if score.level > 85 %}
                                    <div class="butn butn-tag">
                                        {{ score.factor.name }}-{{ score.level }}%
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </section>
        </section> 
        {% include "front/partials/sectionMajorDown.html.twig" %}
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}

        

        {# ------------------------------------------------------------ #}
        {% include "front/partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}