{% extends 'new-base.html.twig' %}


    {% block title %}INSIDIOME {% endblock %}
    {% block og_title %}INSIDIOME {% endblock %}

    {% block description %}{% endblock %}
    {% block og_description %}  {% endblock %}

    {% block keywords %}{% endblock %}

    {% block canonical %}https://insidiome.com/kink-and-bdsm-tests/present/{% endblock %}
    {% block og_link %}https://insidiome.com/kink-and-bdsm-tests/present/{% endblock %}

    {% block og_image %}https://insidiome.com/build/img/mapped/square/test/{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/back1.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        {# header----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainUp.html.twig" 
            with {
                title: "Commentaires",
                idDown: "1",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
        <a href="{{ path('app_home') }}" class="butn butn-prim marx1" ><i class="fas fa-house-user"></i> <span class="label1">HOME</span></a>
        <a href="{{ path('app_test_list') }}" class="butn butn-prim marx1" ><i class="fas fa-shapes"></i><span class="label1">TESTS</span></a>
        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
  



        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor disp-col-start bk-drk2 shdw-in-D pad1 fluidx vh100">
            <h2 class="title3 txt-second">Vos commentaires </h2>
            <hr class="hr-soft">
            {# <h2 class="sub-title3 txt-second-light">Présentation</h2> #}

            {% if comments %}
            <nav class="fluidx">
                <ul>
                    {% if currentPage > 1 %}
                        <li><a href="{{ path('app_quick_comment', {'page': currentPage - 1, 'anchor': 'kinksters'}) }}" class="butn butn-prim"><</a></li>
                    {% endif %}
                    {# {% for i in 1..totalPages %}
                        {% if i == currentPage %}
                            <li><div class="butn butn-prim">Page {{ i }}</div></li>
                        {% else %}
                            <li><a href="{{ path('app_quick_comment', {'page': i, 'anchor': 'kinksters'}) }}" class="butn butn-prim">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %} #}
                    {% if currentPage < totalPages %}
                        <li><a href="{{ path('app_quick_comment', {'page': currentPage + 1, 'anchor': 'kinksters'}) }}" class="butn butn-prim">></a></li>
                    {% endif %}
                </ul>
                {# --------------------------------------------- #}

                <div class="accordion disp-col-center pad1"> 
                    {% for comment in comments %}
                        <div class="accordion__item fluidx bk-drk2 shdw-in-D">
                            <div class="accordion__item__heading disp-col-center">
                                {# <h4 class="title4 txt-prim-light">{{ factor.nom }}</h4> #} 
                                <div class="accordion__item__heading__title fluidx padx1">
                                    {% if comment.isTest %}
                                        <div class="title4 txt-second">{{ comment.test.name|capitalize }}</div>
                                    {% endif %}
                                    {% if comment.isArticle %}
                                        <div class="title4 txt-second">{{ comment.article.name|capitalize }}</div>
                                    {% endif %}
                                </div>
                                <div class="accordion__item__heading__title disp-spbtwn fluidx padx1">
                                    {% if comment.isTest %}
                                        <div class="info1 txt-soft">Test : <span class="txt-prim"><b>{{ comment.value }}/10</b></span> </div>
                                    {% endif %}
                                    {% if comment.isArticle %}
                                        <div class="info1 txt-soft">Article : <span class="txt-prim"><b>{{ comment.value }}/10</b></span> </div>
                                    {% endif %}
                                    <div class="info1"> {{ comment.createdAt | date('d/m/Y') }} </div>
                                    <i class="fas fa-plus txt-prim"></i>
                                </div>
                            </div>
                            <div class="accordion__item__content">
                                <div class="accordion__txt brdr-rad5 shdw-in-D">
                                    {{ comment.msg }}
                                </div>
                                <hr class="hr-soft">
                                <div class="accordion__item__content__answ txt-end">
                                    {% if comment.answ %}
                                        <div class="accordion__answ__head">
                                            Réponse - {{ comment.answAt | date('d/m/Y') }}
                                            : <span class="title4 txt-second txt-end">INSIDIOME</span><br>
                                        </div>
                                        <div class="accordion__txt brdr-rad5 shdw-in-D">
                                            {{ comment.answ }}
                                        </div>
                                    {% endif %}
                                </div>
                                <hr class="hr-soft">
                                <div class="accordion__comment__menu disp-center">
                                    <form method="post" action="{{ path('app_comment_owner_delete', {'comId': comment.id}) }}" onsubmit="return confirm('Etes vous certains de vouloir supprimer votre commentaire ?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
                                        <button class="butn butn-danger mar1">Supprimer ce commentaire</button>
                                    </form>     
                                    {# <a href="{{ path('app_comment_owner_delete', {'comId': comment.id}) }}" 
                                        data-token="{{ csrf_token('delete_comment_' ~ comment.id) }}"
                                        class="butn butn-prim">Supprimer</a> #}
                                </div> <!-- ajout de la balise de fermeture manquante -->
                            </div> <!-- ajout de la balise de fermeture manquante -->
                        </div>
                    {% endfor %}
                </div> <!-- ajout de la balise de fermeture manquante -->
                {% else %}
                    <p class="txt-soft">Aucun commentaire !</p>
                    <p class="txt-second-light txt-center">Si vous avez écrit un commentaire il, est sur la liste de la modération.<br>
                    soyez patient ! <br>
                    Je travaille dur sur cette plateforme.<br>
                    Je fais de mon mieux pour vous coder un site de qualité,<br>
                    Je manque souvent de temps, mais je ne lâche rien !
                    </p>
                {% endif %}

                <a href="{{ path('app_profil_board', {'userSlug': userSlug}) }}" class="butn butn-prim">retour à votre board</a>





                {# --------------------------------------------- #}

                {# --------------------------------------------------------------- #}

        {#  content end------------------------------------------------------------ #}


    </main>

    
{% endblock %}