{% set questionArray = entity.instance.questions %}
    


{% if questionArray | length == 0 %}
    <span>Pas de question</span>
{% else %}
    <p class='p-2 mb-4 text-center'>Il y a en tout 
        <strong>{{questionArray | length}}</strong>
        <span> 
            {% if questionArray | length == 1 %} 
                Question.
            {% else %} 
                Questions.
            {% endif %}
        </span>
    </p>
    
    <table class='table'>
        <thead>
            <tr>
                <th scope="col">Questions</th>
                <th scope="col">Action</th>
                
            </tr>
        </thead>
        <tbody>
            {% for question in questionArray %}
                <tr>
                    <td>{{question.questFr}}</td>
                    <td>
                        <a href="{{ ea_url()
                        .setController('App\\Controller\\Admin\\QuestionCrudController')
                        .setEntityId(question.id)
                        .setAction('edit')
                        }}"
                        class="btn">
                        Editer</a>
                    </td>                   
                </tr>
            {% endfor %}      
        </tbody>
    </table>
{% endif %}