{% extends 'new-base.html.twig' %}


    {% block title %}INSIDIOME {% endblock %}
    {% block og_title %}INSIDIOME {% endblock %}

    {% block description %}{% endblock %}
    {% block og_description %}  {% endblock %}

    {% block keywords %}{% endblock %}

    {% block canonical %}https://insidiome.com/kink-and-bdsm-tests/present/{% endblock %}
    {% block og_link %}https://insidiome.com/kink-and-bdsm-tests/present/{% endblock %}

    {% block og_image %}https://insidiome.com/build/img/mapped/square/test/{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/back1.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        {# header----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainUp.html.twig" 
            with {
                title: "Q-Board",
                idDown: "1",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
        <a href="{{ path('app_home') }}" class="butn butn-prim marx1" ><i class="fas fa-house-user"></i> <span class="label1">HOME</span></a>
        <a href="{{ path('app_quick_comment_to_valid') }}" class="butn butn-prim marx1" ></i><span class="label1">com<br>ToValid</span></a>
        <a href="{{ path('app_quick_comment_list') }}" class="butn butn-prim marx1" ></i><span class="label1">all<br>com</span></a>
        <a href="{{ path('app_quick_users_list') }}" class="butn butn-prim marx1" ><span class="label1">All<br>User</span></a>
        <a href="{{ path('app_quick_todo') }}" class="butn butn-prim marx1" ><span class="label1">Todo</span></a>
        {# <a href="{{ path('app_quick_user', {'userSlug': }    ) }}" class="butn butn-prim marx1" ><span class="label1">All<br>User</span></a> #}
        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
  



        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor disp-col-start bk-drk2 shdw-in-D pad1 fluidx vh100">
            <h2 class="title3 txt-second"> {{ code }} </h2>
            <hr class="hr-soft">
            {# <h2 class="sub-title3 txt-second-light">Présentation</h2> #}
            <nav class="fluidx">
                <ul>
                    {% if currentPage > 1 %}
                        <li><a href="{{ path('app_quick_comment_to_valid', {'page': currentPage - 1, 'anchor': 'kinksters'}) }}" class="butn butn-prim"><</a></li>
                    {% endif %}
                    <li><div class="butn butn-second">Page {{ currentPage }}</div></li>
                   
                    {% if currentPage < totalPages %}
                        <li><a href="{{ path('app_quick_comment_to_valid', {'page': currentPage + 1, 'anchor': 'kinksters'}) }}" class="butn butn-prim">></a></li>
                    {% endif %}
                    
                </ul>
                {# --------------------------------------------- #}

                <div class="accordion disp-col-center pad1"> 
                    {% for comment in comments %}
                        <div class="accordion__item fluidx bk-drk2 shdw-in-D">
                            <div class="accordion__item__heading__title fluidx padx1">
                                {% if comment.isTest %}
                                    <div class="title4 txt-second">{{ comment.test.name|capitalize }}
                                    <span class="info1">  -
                                    {% if comment.toKeep == true%}Keep{% endif %} - 
                                    {% if comment.isAnsw == true%}Answ{% endif %} 
                                    </span>
                                    </div>
                                {% endif %}
                                {% if comment.isArticle %}
                                    <div class="title4 txt-second">{{ comment.article.name|capitalize }}
                                    <span class="info1">  -
                                    {% if comment.toKeep == true%}Keep{% endif %} - 
                                    {% if comment.isAnsw == true%}Answ{% endif %} 
                                    </span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="accordion__item__heading__title disp-spbtwn fluidx padx1">
                                {% if comment.isTest %}
                                    <div class="info1 txt-soft">Test : <span class="txt-prim"><b>{{ comment.value }}/10</b></span> </div>
                                {% endif %}
                                {% if comment.isArticle %}
                                    <div class="info1 txt-soft">Article : <span class="txt-prim"><b>{{ comment.value }}/10</b></span> </div>
                                {% endif %}
                                <a href="{{ path('app_quick_comment_to_valid', {'id': comment.id}) }}" class="info1 txt-prim">{{ comment.user.pseudo }}</a>
                                {# <div class="info1"> {{ comment.createdAt | date('d/m/Y') }} </div> #}
                                <i class="fas fa-plus txt-prim"></i>
                            </div>                        

                            <div class="accordion__item__content">
                                <div class="accordion__txt brdr-rad5 shdw-in-D">
                                    {{ comment.msg }}
                                </div>
                                <hr class="hr-soft">
                                <div class="accordion__item__content__answ txt-end">
                                    {% if comment.answ %}
                                        <div class="accordion__answ__head">
                                            Réponse - {{ comment.answAt | date('d/m/Y') }}
                                            : <span class="title4 txt-second txt-end">INSIDIOME</span><br>
                                        </div>
                                        <div class="accordion__txt brdr-rad5 shdw-in-D">
                                            {{ comment.answ }}
                                        </div>
                                    {% endif %}
                                </div>
                                <hr class="hr-soft">
                                <div class="accordion__comment__menu disp-center wrap">
                                    {% if comment.isValid %}
                                        <a href="{{ path('app_profil', {'userSlug': comment.user.userSlug}) }}" class="butn butn-prim">Profil</a>
                                        <a href="{{ path('app_quick_one_user', {'userSlug': comment.user.userSlug}) }}" class="butn butn-prim">One-User</a>
                                    {% else %}
                                        <a href="{{ path('app_comment_validation', {'comId': comment.id}) }}" class="butn butn-prim">Valid</a>
                                    {% endif %}                                    
                                    <a href="{{ path('app_new_answer', {'comId': comment.id}) }}" class="butn butn-prim">Answ</a>
                                    <a href="{{ path('app_comment_admin_delete', {'comId': comment.id}) }}" class="butn butn-second">DEL</a>
                                </div> 
                            </div> 
                        </div>
                    {% endfor %}
                </div> 





                {# --------------------------------------------- #}

                {# --------------------------------------------------------------- #}

        {#  content end------------------------------------------------------------ #}


    </main>

    
{% endblock %}