{% extends 'new-base.html.twig' %}


    {% block title %}INSIDIOME {% endblock %}
    {% block og_title %}INSIDIOME {% endblock %}




{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/back1.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        {# header----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainUp.html.twig" 
            with {
                title: "Q-Board",
                idDown: "1",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
        <a href="{{ path('app_home') }}" class="butn butn-prim marx1" ><i class="fas fa-house-user"></i> <span class="label1">HOME</span></a>
        <a href="{{ path('app_quick') }}" class="butn butn-third marx1" ></i><span class="label1">quick<br>admin</span></a>
        {# <a href="{{ path('app_quick_user', {'userSlug': }    ) }}" class="butn butn-prim marx1" ><span class="label1">All<br>User</span></a> #}
        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
  



        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor disp-col-start bk-drk2 shdw-in-D pad1 fluidx vh100">
            <h2 class="title3 txt-second"> Tests List </h2>
            <hr class="hr-soft">
            {# <h2 class="sub-title3 txt-second-light">Présentation</h2> #}

            {% for test in tests %}
                <a href="{{ path('app_quick_one_test', {'testSlug': test.testSlug}) }}" class="butn butn-prim marx1" ><span class="label1">{{ test.name }}</span></a>
            {% endfor %}

        {#  content end------------------------------------------------------------ #}


    </main>

    
{% endblock %}