{% extends 'new-base.html.twig' %}


    {% block title %}INSIDIOME {% endblock %}
    {% block og_title %}INSIDIOME {% endblock %}

    {% block description %}{% endblock %}
    {% block og_description %}  {% endblock %}

    {% block keywords %}{% endblock %}

    {% block canonical %}https://insidiome.com/kink-and-bdsm-tests/present/{% endblock %}
    {% block og_link %}https://insidiome.com/kink-and-bdsm-tests/present/{% endblock %}

    {% block og_image %}https://insidiome.com/build/img/mapped/square/test/{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/back1.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        {# header----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainUp.html.twig" 
            with {
                title: "Quick Board",
                idDown: "1",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
        <a href="{{ path('app_home') }}" class="butn butn-prim marx1" ><i class="fas fa-house-user"></i> <span class="label1">HOME</span></a>
        <a href="{{ path('app_quick_comment_to_valid') }}" class="butn butn-prim marx1" ></i><span class="label1">com<br>ToValid</span></a>
        <a href="{{ path('app_quick_comment_list') }}" class="butn butn-prim marx1" ></i><span class="label1">all<br>com</span></a>
        <a href="{{ path('app_quick_users_list') }}" class="butn butn-prim marx1" ><span class="label1">All<br>User</span></a>
        <a href="{{ path('app_quick_known_list') }}" class="butn butn-prim marx1" ><span class="label1">Known<br>User</span></a>

        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
  



        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor disp-col-center bk-drk2 shdw-in-D ">
            <h2 class="title2 txt-second">{{ code }}</h2>
            <hr class="hr-soft">
            {# <h2 class="sub-title3 txt-second-light">Présentation</h2> #}
            <nav>
                <ul>
                    {% if currentPage > 1 %}
                        <li><a href="{{ path('app_quick_users_list', {'page': currentPage - 1, 'anchor': 'kinksters'}) }}" class="butn butn-prim"><</a></li>
                    {% endif %}
                    <li><div class="butn butn-second">Page {{currentPage}}</div></li>
                    {# {% for i in 1..totalPages %}
                        {% if i == currentPage %}
                            <li><div class="butn butn-prim">current {{ i }}</div></li>
                        {% else %}
                            <li><a href="{{ path('app_quick_user', {'page': i, 'anchor': 'kinksters'}) }}" class="butn butn-prim">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %} #}
                    {% if currentPage < totalPages %}
                        <li><a href="{{ path('app_quick_users_list', {'page': currentPage + 1, 'anchor': 'kinksters'}) }}" class="butn butn-prim">></a></li>
                    {% endif %}
                </ul>
            {% for kinkster in kinksters %}
                <section class="disp-col-center bk-drk2 shdw-in-D brdr-rad10 pad1">
                    <div class="info1 txt-soft txt-center">
                        <span class="title4 txt-second">{{ kinkster.pseudo }}</span -
                        {{ kinkster.creation|date('d/m/Y') }} -
                        {% if kinkster.isKnown == true  %}
                            K
                        {% endif %}
                        <br>
                        {% if kinkster.position  %}
                            {{ kinkster.position.nom }}
                        {% else %} 
                            No Position
                        {% endif %}  
                        -
                        {% if kinkster.fetish  %}
                            {{ kinkster.fetish.nom }}
                        {% else %} 
                            No Fetish
                        {% endif %}
                        <br>
                        {# {% if kinkster.status  %}
                            {{ kinkster.fetish.nom }}
                        {% else %} 
                            No status
                        {% endif %} #}
                    </div>
                    <hr class="hr-soft">
                    <div class="disp-spbtwn">
                        <a href="{{ path('app_profil', {'userSlug': kinkster.userSlug}) }}" class="butn butn-prim">Profil</a>
                        <a href="{{ path('app_quick_one_user', {'userSlug': kinkster.userSlug}) }}" class="butn butn-prim">Card</a>
                        {% if kinkster.isKnown == false  %}
                            <a href="{{ path('app_quick_user_known', {'userSlug': kinkster.userSlug}) }}" class="butn butn-prim">Known</a>
                        {% endif %}
                        <a href="{{ path('app_quick_user_status', {'userSlug': kinkster.userSlug}) }}" class="butn butn-prim">Status</a>
                    </div>
                </section>
            <hr class="hr-soft">
            {% endfor %}
            
        </nav>
        </section>

        {#  content end------------------------------------------------------------ #}


    </main>

    
{% endblock %}