<section class="section__minor__content__presentation pad2">
    <h3 class="title3 txt-second mary1">Presentation</h3>
    <p class="info1 txt-soft">
        Discover or deepen your BDSM knowledge with INSIDIOME, a <strong class="txt-second">free platform</strong> developed by a kinkster for kinksters.
    </p>
    <p class="info1 txt-soft">
        We offer <strong class="txt-second">BDSM tests</strong> and Kink quizzes to identify your needs and desires and improve your experience. 
        Our platform is for anyone who wants to practice BDSM in a balanced way.
    </p>
    <p class="info1 txt-soft">
        INSIDIOME primarily caters to gay men, but <strong class="txt-second">BDSM values/strong> ​​transcend sex demands and gender orientations.
        
    </p>
    <p class="info1 txt-soft">
        I'm Sam, <strong class="txt-second">Master BDSM, Switch and web developer</strong>. I created INSIDIOME to share my experience and to help you discover or deepen your knowledge of BDSM.
        
    </p>
    <p class="info1 txt-soft">
        You will find tests, articles, definitions and comprehension tools for a practice that gains in <strong class="txt-second">intensity</strong> and <strong class="txt-second">quality</strong>.
    </p>
    <hr class="hr-soft">

    <p class="info1 txt-second">
        I wish you a good visit !
    </p>
    <div type="button" class="butn butn-prim" data-bs-dismiss="modal">Close</div>
</section>