<section class="section__minor__content__presentation pad2">
    <h3 class="title3 txt-second mary1">Présentation</h3>
    <p class="info1 txt-soft">
        Découvrir et approfondir vos connaissances du BDSM avec INSIDIOME, 
        une <strong class="txt-second">plateforme gratuite</strong> développée par un kinkster pour les kinkster.
    </p>
    <p class="info1 txt-soft">
        Je vous offre la possibilité de faire des <strong class="txt-second">BDSM tests</strong> and Kink quizzes 
        afin de mieux identifier vos besoins et vos désirs et améliorer votre expérience.
    </p>
    <p class="info1 txt-soft">
        INSIDIOME s'addresse premièrement au homme gay, mais les <strong class="txt-second">valeurs BDSM</strong> transcendent les assigantions de sexe et les orientations de genre.
      
    </p>
    <p class="info1 txt-soft">
        Je suis Sam, <strong class="txt-second">Maître BDSM, Switch et développeur web</strong>. 
        J'ai créé INSIDIOME pour partager mon expérience et vous aider à découvrir ou approfondir vos connaissances du BDSM.
    </p>
    <p class="info1 txt-soft">
        Vous trouverez des tests, des articles, des définitions et des outils de compréhension pour une pratique 
        qui gagne en <strong class="txt-second">intensité</strong> et en <strong class="txt-second">qualité</strong>.
    </p>
    <hr class="hr-soft">

    <p class="info1 txt-second">
        Je vous souhaite une bonne visite !
    </p>
    <div type="button" class="butn butn-prim" data-bs-dismiss="modal">Fermer</div>
</section>