<section class="tag__cloud__container">
    <h3 class="title3 txt-soft pady1">Values in few words</h3>
    <ul class="tag__cloud disp-center brdr-rad5 shdw-in-D pad2">
        <li class="butn butn-second">Security</li>
        <li class="butn butn-second">Consent</li>
        <li class="butn butn-second">Hierarchy</li>
        <li class="butn butn-second">Pleasure</li>
        <li class="butn butn-second">Protocol</li>
        <li class="butn butn-second">Kindness</li>
        <li class="butn butn-second">Discipline</li>
        <li class="butn butn-second notranslate">Gay</li>
        <li class="butn butn-second">Developement</li>
        <li class="butn butn-second">Care</li>
        <li class="butn butn-second">Language</li>
        <li class="butn butn-second">Communication</li>
        <li class="butn butn-second">Initiation</li>
        <li class="butn butn-second">Challenge</li>
        <li class="butn butn-second notranslate">Kink</li>
        <li class="butn butn-second">Culture</li>
        <li class="butn butn-second notranslate">Fun</li>
        <li class="butn butn-second">History</li>
        <li class="butn butn-second notranslate">Fetish</li>   
        <li class="butn butn-second">Health</li>   
    </ul>   
</section>