<section class="tag__cloud__container">
    <h3 class="title3 txt-soft pady1">Valeurs en quelques mots</h3>
    <ul class="tag__cloud disp-center brdr-rad5 shdw-in-D pad2">
        <li class="butn butn-second">Securité</li>
        <li class="butn butn-second">Consentement</li>
        <li class="butn butn-second">Hierarchie</li>
        <li class="butn butn-second">Plaisir</li>
        <li class="butn butn-second">Protocole</li>
        <li class="butn butn-second">Bienveillance</li>
        <li class="butn butn-second">Discipline</li>
        <li class="butn butn-second notranslate">Gay</li>
        <li class="butn butn-second">Développement</li>
        <li class="butn butn-second">Soin</li>
        <li class="butn butn-second">Langage</li>
        <li class="butn butn-second">Communication</li>
        <li class="butn butn-second">Initiation</li>
        <li class="butn butn-second notranslate">Challenge</li>
        <li class="butn butn-second notranslate">Kink</li>
        <li class="butn butn-second">Culture</li>
        <li class="butn butn-second notranslate">Fun</li>
        <li class="butn butn-second">Histoire</li>
        <li class="butn butn-second notranslate">Fetish</li>  
        <li class="butn butn-second">Santé</li>    
    </ul>   
</section>


