<h1 class="title2 txt-second">A propos d'INSIDIOME</h1>
<hr class="hr-soft">
<section id="visitor disp-col-center shdw-in-D" class="padx1">
        <p class="info1 txt-soft">
            Insidiome est une plateforme de partage sur la pratique du BDSM<br>

            Je suis Master et occassionelement switch <br>
            Je suis également développeur web et j'ai créé cette plateforme pour partager mes connaissances et mes expériences.<br>
            Je code Insidiome en PHP sur le framework Symfony 6<br>
            
        </p>

</section>