<h1 class="title2 txt-second">Conditions générales d'utilisation</h1>
<h2 class="sub-title3 txt-second-light">du site insidiome.com</h2>
<hr class="hr-soft">
<section id="visitor disp-col-center shdw-in-D" class="padx1">
        <p class="info1 txt-soft">L’adresse de notre site Web est : https://insidiome.com<br> 
        Hébergement OVH<br>
        Siège social : 2 rue Kellermann – 59100 Roubaix – France<br>

        <h2 class="title4 txt-second">ARTICLE 1 : Objet</h2>
        <hr class="hr-soft">
        <p  class="info1 txt-soft">
            Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique <br>
            de l’utilisation du site insidiome.com et de ses services.<br>
            Ce contrat est conclu entre :<br>
            Le gérant du site internet, ci-après désigné « l’Éditeur »,<br>
            Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ».<br>
            Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, <br>
            et son accès au site vaut acceptation de ces conditions.<br>
        </p><br>
        <hr class="hr-soft">

        <h2 class="title4 txt-second">ARTICLE 2 : Mentions légales</h2>
        <hr class="hr-soft">
        <p  class="info1 txt-soft">
            Voir les mentions légales
        </p><br>
        <hr class="hr-soft">

        <h2 class="title4 txt-second">ARTICLE 3 : accès aux services</h2>
        <hr class="hr-soft">
        <p  class="info1 txt-soft">
            L’Utilisateur du site insidiome.com a accès aux services gratuits suivants :<br>
            - Creation d'un compte utilisateur
            - Réalisation de tests de personalités
            - consultations des résultats des tests
            - Consultation des articles du blog
            - emettre des commentaires sur sur les tests les articles du blog
        </p><br>
        <hr class="hr-soft">

        <h2 class="title4 txt-second">ARTICLE 3 : accès aux services</h2>
        <hr class="hr-soft">
        <p  class="info1 txt-soft">
            L’Utilisateur du site insidiome.com a accès aux services suivants :<br>
            - Creation d'un compte utilisateur<br>
            - Réalisation de tests de personalités<br>
            - consultations des résultats des tests<br>
            - Consultation des articles du blog. Ces commentaires seront soumias à une modération stricte.<br>
            - emettre des commentaires sur sur les tests les articles du blog<br><br>
            Tout Utilisateur ayant accès a internet peut accéder gratuitement et depuis n’importe où au site. <br>
            Les frais supportés par l’Utilisateur pour y accéder sont pas à la charge de l’Éditeur.<br>
            L’Éditeur peut faire des appels aux dons pour supporter le tarifs du serveur et des frais divers de la plateforme.<br>
            Les services suivants ne sont pas accessible pour l’Utilisateur que s’il est membre du site <br>
            (c’est-à-dire qu’il s’est identifié à l’aide de ses identifiants de connexion) :<br>
            - créer un profil
            - sauvegarder les resultats de ses tests
            - emettre des commentaires sur sur les tests les articles du blog. Ces commentaires seront soumias à une modération stricte.<br><br>
        </p><br>
        <hr class="hr-soft">

        <h2 class="title4 txt-second">ARTICLE 4 : Responsabilité de l’Utilisateur</h2>
        <hr class="hr-soft">
        <p class="info1 txt-soft">
            L’Utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de passe. 
            Le mot de passe de l’Utilisateur doit rester secret. 
            Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. 
            L’Utilisateur assume les risques liés à l’utilisation de son identifiant et mot de passe. 
            L’Éditeur décline toute responsabilité.<br><br>
            
            L’Utilisateur s’engage à ne pas utiliser le site et ses services à des fins illégales ou contraires aux présentes conditions générales d’utilisation. <br><br>
            L’Utilisateur s’engage à ne pas porter atteinte aux droits de tiers, notamment les droits de propriété intellectuelle, les droits à l’image, les droits à la vie privée, etc...<br><br>

            L’Utilisateur s’engage à ne pas créer de lien hypertexte vers le site sans l’autorisation expresse de l’Éditeur.<br><br>

            L’Utilisateur est responsable des contenus qu’il met en ligne et il s’engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes. 
            En particulier, il s’engage à ne pas mettre en ligne de contenus à caractère raciste, xénophobe, pornographique, violent, diffamatoire, etc.<br><br>

            L’Utilisateur s’engage à ne pas collecter ou recueillir les données personnelles des autres utilisateurs du site à des fins commerciales.<br><br>
        </p><br>
        <hr class="hr-soft">

        <h2 class="title4 txt-second">ARTICLE 5 : Responsabilité de l’Éditeur</h2>
        <hr class="hr-soft">
        <p class="info1 txt-soft">
            Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.<br><br>
            De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.<br><br>    
            Le site insidiome.com s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. <br><br>
            Toutefois, il n’apporte pas une garantie de sécurité totale.<br><br>
            L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées su le site soient réputées fiables.<br><br>
        </p><br>
        <hr class="hr-soft">

        <h2 class="title4 txt-second">ARTICLE 6 : Propriété intellectuelle</h2>
        <hr class="hr-soft">
        <p class="info1 txt-soft">
            Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.<br><br>
            De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.<br><br>    
            Le site insidiome.com s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. <br><br>
            Toutefois, il n’apporte pas une garantie de sécurité totale.<br><br>
            L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées su le site soient réputées fiables.<br><br>
        </p><br>
        <hr class="hr-soft">

        <h2 class="title4 txt-second">ARTICLE 7 : Données personnelles</h2>
        <hr class="hr-soft">
        <p class="info1 txt-soft">
        Les informations demandées à l’Utilisateur sont nécessaires au traitement de sa demande et à la création de son compte. <br>
        L’Utilisateur doit obligatoirement fournir ces informations. <br>
        En cas de non-fourniture d’informations, l’Éditeur se réserve le droit de ne pas enregistrer le compte de l’Utilisateur.<br>
        L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site insidiome.com <br>
        pour la communication d’informations diverses et la gestion du compte.<br>
        insidiome garantie le respect de la vie privée de l’utilisateur, conformément à la loi n°78-17 du 6 janvier 1978 <br>
        relative à l'informatique, aux fichiers et aux libertés.<br>
        En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l’Utilisateur dispose d’un droit d’accès, <br>
        de rectification, de suppression et d’opposition de ses données personnelles. <br>
        L’Utilisateur exerce ce droit :<br>
        - via son espace personnel <br>
        - par mail à l’adresse suivante : insidiome [at] gmail . com ;<br>
        </p><br>
        <hr class="hr-soft">

        <h2 class="title4 txt-second">ARTICLE 8 : Liens hypertextes</h2>
        <hr class="hr-soft">
        <p class="info1 txt-soft">
        Les domaines vers lesquels mènent les liens hypertextes présents sur le site <br>
        n’engagent pas la responsabilité de l’Éditeur de insidiome.com, qui n’a pas le contrôle de ces liens.<br><br>
        L’Éditeur n’est pas responsable du contenu accessible sur ces sites.<br>
        </p><br>
        <hr class="hr-soft">

        <h2 class="title4 txt-second">ARTICLE 9 : Évolution des conditions générales d’utilisation</h2>
        <hr class="hr-soft">
        <p class="info1 txt-soft">
        Le site insidiome.com se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.<br>
        </p><br>
        <hr class="hr-soft">

        <h2 class="title4 txt-second">ARTICLE 10 : Durée du contrat</h2>
        <hr class="hr-soft">
        <p class="info1 txt-soft">
        La durée du présent contrat est indéterminée. <br>
        Le contrat produit ses effets à l’égard de l’Utilisateur à compter du début de l’utilisation du service.<br>
        Le site insidiome.com se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.<br>
        </p><br>
        <hr class="hr-soft">

        <h2 class="title4 txt-second">ARTICLE 11 : Droit applicable et juridiction compétente</h2>
        <hr class="hr-soft">
        <p class="info1 txt-soft">
        Le présent contrat dépend de la législation française. En cas de litige non résolu à l’amiable entre l’Utilisateur et l’Éditeur, les tribunaux français seront seuls compétents pour régler le contentieux.<br>
        </p><br>
        <hr class="hr-soft">
</section>



