<h1 class="title2 txt-second">Mentions légales</h1>
<hr class="hr-soft">
<section id="visitor disp-col-center shdw-in-D" class="padx1">
        <p class="info1 txt-soft">L’adresse de notre site Web est : https://insidiome.com<br> 
        Hébergement OVH<br>
        Siège social : 2 rue Kellermann – 59100 Roubaix – France<br>

        <h2 class="title3 txt-second">Vos données personnelles</h2>
        <hr class="hr-soft">
        <h3 class="sub-title3 txt-second-light">Cookies </h3>
        <p  class="info1 txt-soft">Nous n’utilisons que le strict minimum pour le fonctionnement de la plateforme.<br>
        Nous n’utilisons aucun tracker de statistiques, ni de mesure d’audience tel que Google Analytics.<br>
        La plateforme est sans publicité.</p><br>
        <hr class="hr-soft">

        <h2 class="title3 txt-second">Création d’un compte :</h2>
        <h3 class="sub-title3 txt-second-light">email</h3>
        <p class="info1 txt-soft">Lorsque vous créé un compte, la seule donnée personnelle enregistrée est votre email.<br>
        Celui ci est utile pour des raisons de sécurité, la validation de votre compte.<br> 
        Votre email ne sera utilisé par la suite que pour vous informé des mises à jours de la plateforme ou pour le renouvellent de votre password si vous avez perdu vos identifiants.<br>
        Si vous choisissez de ne pas recevoir la news letter, vous ne recevrez aucun email.<br>
        Votre email ne sera en aucun cas partagé ou revendu.</p><br>
        <hr class="hr-soft">

        <h3 class="sub-title3 txt-second-light">Mot de passe</h3>
        <p class="info1 txt-soft">Votre mot de passe est enregistré de manière sécurisée et chiffré par un système de Hash</p>
        <hr class="hr-soft">

        <h3 class="sub-title3 txt-second-light">Médias</h3>
        <p class="info1 txt-soft">La plateforme Insidiome ne permet pas le téléversement de médias</p>
        <hr class="hr-soft">

        <h3 class="sub-title3 txt-second-light">Durées de stockage de vos données</h3>
        <p class="info1 txt-soft">Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. <br>
        Cela permet de reconnaître et approuver automatiquement les commentaires suivants au lieu de les laisser dans la file de modération.<br>
        Pour les utilisateurs et utilisatrices qui s’enregistrent sur notre site web, <br>
        nous stockons également les données personnelles indiquées dans leur profil. <br>
        Tous les utilisateurs et utilisatrices peuvent voir, modifier leurs informations personnelles à tout moment,<br>
        et demander la suppression de leur compte. <br>
        Les gestionnaires du site web Ne modifie aucune dde ces informations.</p>
        <hr class="hr-soft">
        
        <h3 class="sub-title3 txt-second-light">Transmission de vos données personnelles</h3>
        <p class="info1 txt-soft">Insidiome tiens à l'intimité de ses utilisateurs et votre email qui est votre seule donnée enregistrée ne sera jamis partagée ou revendu.<br>
        Les commentaires des visiteurs peuvent être vérifiés à l’aide d’un service automatisé de détection des commentaires indésirables.</p>
        <hr class="hr-soft">

        <h3 class="sub-title3 txt-second-light">Informations de contact</h3>
        <p class="info1 txt-soft">Si vous avez des questions sur cette politique de confidentialité, vous pouvez nous contacter à l’adresse suivante :<br>
        insidiome [at] gmail.com</p>
        <hr class="hr-soft">
</section>