{% extends 'base.html.twig' %}

{% block title %}Kinkster index{% endblock %}

{% block body %}
    <h1>Kinkster index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Pseudo</th>
                <th>UserSlug</th>
                <th>Description</th>
                <th>Creation</th>
                <th>UpdateAt</th>
                <th>IsFr</th>
                <th>IsLetter</th>
                <th>IsValidated</th>
                <th>IsSuspended</th>
                <th>IsDeleted</th>
                <th>Visit</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kinkster in kinksters %}
            <tr>
                <td>{{ kinkster.id }}</td>
                <td>{{ kinkster.email }}</td>
                <td>{{ kinkster.roles ? kinkster.roles|json_encode : '' }}</td>
                <td>{{ kinkster.password }}</td>
                <td>{{ kinkster.pseudo }}</td>
                <td>{{ kinkster.userSlug }}</td>
                <td>{{ kinkster.description }}</td>
                <td>{{ kinkster.creation ? kinkster.creation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ kinkster.updateAt ? kinkster.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ kinkster.isFr ? 'Yes' : 'No' }}</td>
                <td>{{ kinkster.isLetter ? 'Yes' : 'No' }}</td>
                <td>{{ kinkster.isValidated ? 'Yes' : 'No' }}</td>
                <td>{{ kinkster.isSuspended ? 'Yes' : 'No' }}</td>
                <td>{{ kinkster.isDeleted ? 'Yes' : 'No' }}</td>
                <td>{{ kinkster.visit }}</td>
                <td>
                    <a href="{{ path('app_kinkster_show', {'id': kinkster.id}) }}">show</a>
                    <a href="{{ path('app_kinkster_edit', {'id': kinkster.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_kinkster_new') }}">Create new</a>
{% endblock %}
