{% extends 'base.html.twig' %}

{% block title %}New Kinkster{% endblock %}

{% block body %}
    <h1>Create new Kinkster</h1>

    {{ include('kinkster/_form.html.twig') }}

    <a href="{{ path('app_kinkster_index') }}">back to list</a>
{% endblock %}
