{% extends 'new-base.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}INSIDIOME - ENTER{% endblock %}
    {% block og_title %}INSIDIOME - ENTER{% endblock %}

    {% block description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}
    {% block og_description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}

    {% block keywords %}insidiome, bdsm, life style, lifestyle, life-style, life, style, lifesty{% endblock %}

    {% block canonical %}https://insidiome.fr{% endblock %}
    {% block og_link %}https://insidiome.fr{% endblock %}

    {% block og_image %}https://www.insidiome.com/build/img/gen/banner1.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('general') }}
    <style>

    </style>   
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/back1.jpg",
        } 
    %}
    {% include "front/partials/asideDown.html.twig" %}


    <main class="main__container relative vh100">
        {# ------------------------------------------------------------ #}
        <section id="1" class="section__major bk-drk2 shdw-in-D">
            <div class="modal__mobile__bk shdw-in-D" style="background-image: url('{{ asset('build/img/gen/back1.jpg') }}');" >
            <div>
        </section>

        {# ------------------------------------------------------------ #}
        <div class="modl" id="popModal" >
            <div class="modl__content shdw-in-D padx1 pady3 mar1">
                <section class="padx1">
                    <h1 class="title1 txt-second ">INSIDIOME</h1>
                    <h2 class="sub-title2 txt-soft notranslate">
                        French Touch BDSM
                    </h2>
                </section>
                {# <hr class="hr-succ">
                <section class="disp-col-center">
                    <h3 class="title3 notranslate txt-prim-light " translate="no">INSIDe Of ME</h3>
                    <h3 class="title3 notranslate txt-prim-light " translate="no">INSIDe mY hOME</h3>
                    <h3 class="title3 notranslate txt-prim-light " translate="no">IN Self IDIOME</h3>
                </section> #}
                <hr class="hr-succ">
                <section id="choose-language" class="disp-col-center brdr-rad5 shdw-in-D  fluidx pady1">
                    <h2 class="sub-title2 txt-prim notranslate" translate="no">Choisissez -|- Choose </h2>
                    <div class="disp-speven fluidx pady1 ">
                        <a href="{{ path('app_enter', {'lang': 'fr'}) }}" role="navidation">
                            <img src="{{ asset('build/img/gen/fr.jpg') }}" alt="Choix Français" class="flag brdr-rad5 shdw-in-D"> 
                        </a>
                        <a href="{{ path('app_enter', {'lang': 'en'}) }}" role="navidation"> 
                            <img src="{{ asset('build/img/gen/en.jpg') }}" alt="English choice" class="flag brdr-rad5 shdw-in-D">
                        </a>
                    </div>
                   
                </section> 
                <hr class="hr-succ"> 
                 <p class="info1 txt-warn txt-center">
                        INSIDIOME is a French platform which is being translated into English.<br>
                        Thanks for your patience !
                    </p> 
                       
                
            </div>
        </div>

    </main>
 
{% endblock %}