{% extends 'skynn1.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}INSIDe' Home{% endblock %}
    {% block og_title %}INSIDe' Home{% endblock %}

    {% block description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Une plateforme gratuite développée par un kinkster pour les kinksters.
        Nos BDSM-tests, Kink-quiz et des artciles vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
    {% endblock %}
    {% block og_description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Une plateforme gratuite développée par un kinkster pour les kinksters.
        Nos BDSM-tests, Kink-quiz et des artciles vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
    {% endblock %}

    {% block keywords %}mode de vie BDSM, BDSM France, fetish France, pratiquer le BDSM, gay BDSM France{% endblock %}

    {% block canonical %}https://www.insidiome.com/home{% endblock %}
    {% block og_link %}https://www.insidiome.com/home{% endblock %}

    {# {% block og_image %}{{randomBanner}}{% endblock %} #}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}


    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('skynn') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    {# --------------------------------------------------------------------------------- #}
    {# aside left----------------------------------------------------------------------- #}
    {% include "front/partials/asideBegin.html.twig" 
        with {
            imgBack: "build/img/gen/back1.jpg",
            asideClass: "aside-left",

        } 
    %}
    {% include "front/partials/asideEnd.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

    {# <aside class="aside-left bg-primary">
        <div class="ghost-left bg-success"></div>
    </aside> #}
    <section class="trunk px-3">
        <!-- <div class="bg-warning p-3">sgsdgsfdgdfsgdfgf</div> -->
        {# <div class="ghost-container">
            <div class="ghost-main p-3">
                
            </div>
        </div> #}
        <header class="bg-danger p-1">
            <nav class="bg-secondary p-1">

            </nav>
        </header>
        <main class="bg-success p-1">
            <div class="main-container bg-dark pad1">
                <div class="bg-success fluid pad-pwr">
                    <div class="bg-primary fluid pad-pwr">
                        <div class="bg-dark pad-pwr">
                            <h1 class="title1 text-light">INSIDe' Home</h1>
                        </div>    
                    </div>
                </div>
                <div class="bg-success fluid pad2">
                    <div class="bg-primary fluid pad2">
                        <div class="bg-dark pad1">
                            <h1 class="title2 text-light">INSIDe' Home</h1>
                            
                        </div>    
                    </div>
                </div>
                <div class="bg-success fluid pad3">
                    <div class="bg-primary fluid pad3">
                        <div class="bg-dark pad1">
                            <h1 class="title3 text-light">INSIDe' Home</h1>
                        </div>    
                    </div>
                </div>
                <div class="bg-success fluid pad4">
                    <div class="bg-primary fluid pad4">
                        <div class="bg-dark pad1">
                            <h1 class="title4 text-light">INSIDe' Home</h1>
                        </div>
                    </div>
                </div>
                <div class="bg-success fluid pad5">
                    <div class="bg-primary fluid pad5">
                        <div class="bg-dark pad1">
                            <h1 class="title5 text-light">INSIDe' Home</h1>
                        </div>
                    </div>
                </div>            


            </div>
        </main>
        <footer class="bg-danger p-1">
            
        </footer>
    </section>
    {# <aside class="aside-right bg-primary">
        <div class="ghost-right ">
            
        </div>
    </aside> #}
    {# --------------------------------------------------------------------------------- #}
    {# aside Rigth----------------------------------------------------------------------- #}
    {% include "front/partials/asideBegin.html.twig" 
        with {
            asideClass: "aside-right",
        } 
    %}
    {% include "front/partials/asideEnd.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

   
{% endblock %}