{% extends 'new-base.html.twig' %}

    {% block lang %}en{% endblock %}
    {% block title %}INSIDIOME - ENTER{% endblock %}
    {% block og_title %}INSIDIOME - ENTER{% endblock %}

    {% block description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}
    {% block og_description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}

    {% block keywords %}insidiome, bdsm, life style, lifestyle, life-style, life, style, lifesty{% endblock %}

    {% block canonical %}https://insidiome.fr{% endblock %}
    {% block og_link %}https://insidiome.fr{% endblock %}

    {% block og_image %}https://www.insidiome.com/build/img/gen/room1.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}en_US{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('general') }}
    <style>

    </style>   
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {# {{ encore_entry_script_tags('popModal') }} #}

{% endblock %}

{% block body %}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/back1.jpg",
        } 
    %}
    {% include "front/partials/asideDown.html.twig" %}

    <main class="main__container relative vh100">
        {# ------------------------------------------------------------ #}
        <section id="1" class="section__major bk-drk2 shdw-in-D">
            <div class="mobile__img__bk shdw-in-D" style="background-image: url('{{ asset('build/img/gen/back1.jpg') }}');" >
            <div>
        </section>
        {# ------------------------------------------------------------ #}
        <div class="modl" id="popModal" >
            <div class="modl__content padx1 pady3 mar1">
                <header>
                    <h1 class="title1 txt-second ">INSIDIOME</h1>
                    <h2 class="sub-title2 txt-soft">BDSM life style</h2>
                </header>
                <hr>
                <section id="user" class="padx1">
                    <h2 class="info1 txt-soft">You have an account :</h2>
                    <a href="{{ path('app_cellar_door') }}" class="butn butn-prim mary1">
                        Connexion
                    </a>
                    <a href="{{ path('app_dungeon_gate') }}" class="butn butn-prim mary1">
                        Create account
                    </a>
                </section>
                <hr>
                <section id="visitor" class="padx1">
                    <h2 class="info1 txt-soft">Simple visit :</h2>
                    {# <h3 class="title3 txt-soft">Validez le formulaire d'entrée !</h3> #}
                    <a href="{{ path('app_start_validation') }}" class="butn butn-prim mary1" role="navigation">
                        Validation
                    </a>
                </section>
                <hr>
            </div>
        </div>
    </main>
 
{% endblock %}