{% extends 'new-base.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}INSIDIOME - ENTER{% endblock %}
    {% block og_title %}INSIDIOME - ENTER{% endblock %}

    {% block description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}
    {% block og_description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}

    {% block keywords %}insidiome, bdsm, life style, lifestyle, life-style, life, style, lifesty{% endblock %}

    {% block canonical %}https://insidiome.fr{% endblock %}
    {% block og_link %}https://insidiome.fr{% endblock %}

    {% block og_image %}https://www.insidiome.com/build/img/gen/room1.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('general') }}
    <style>

    </style>   
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {# {{ encore_entry_script_tags('popModal') }} #}

{% endblock %}

{% block body %}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/back1.jpg",
        } 
    %}
    {% include "front/partials/asideDown.html.twig" %}

    <main class="main__container relative vh100">
        {# ------------------------------------------------------------ #}
        <section id="1" class="section__major bk-drk2 shdw-in-D">
            <div class="mobile__img__bk shdw-in-D" style="background-image: url('{{ asset('build/img/gen/back1.jpg') }}');" >
            <div>
        </section>
        {# ------------------------------------------------------------ #}
        <div class="modl" id="popModal" >
            <div class="modl__content padx1 pady3 mar1">
                <header>
                    <h1 class="title3 txt-second">INSIDIOME</h1>
                    <h2 class="sub-title3 txt-soft ">Veuillez valider les conditions</h2>
                </header>
                <section id="validation-form">
                    {{ form_start(startForm) }}
                        <hr class="hr-soft">
                        <div class="alert__form brdr-rad3 bk-succ">
                            <div class="alert__form__message info1 txt-soft">
                                <b>INSIDIOME </b> est un site sans publicité et n'est pas relié aux divers réseaux sociaux. <br> 
                                Ceci le protège des cookies et trackers extérieurs intrusifs
                            </div>
                            <div class="alert__form__check">
                                {{ form_row(startForm.opt1) }}  
                            </div>
                        </div>
                        <hr class="hr-soft">
                         <div class="alert__form bk-shdw-dngr">
                            <div class="alert__form__message info1 txt-soft">
                                <b>INSIDIOME</b> n’utilise aucun tracker de statistique tel que GoogleAnalytics
                            </div>
                            <div class="alert__form__check">
                                {{ form_row(startForm.opt2) }}  
                            </div>
                        </div>
                        <hr class="hr-soft">
                         <div class="alert__form bk-shdw-dngr">
                            <div class="alert__form__message info1 txt-soft">
                                <b>INSIDIOME </b> n’est pas une plateforme de diffusion de contenu pornographique, ni un site commercial
                            </div>
                            <div class="alert__form__check">
                                {{ form_row(startForm.opt3) }}  
                            </div>
                        </div>
                        <hr class="hr-soft">
                         <div class="alert__form bk-shdw-dngr">
                            <div class="alert__form__message info1 txt-soft">
                                <b>INSIDIOME </b> est une plateforme sur le BDSM : Réaliser des tests de personalité, 
                                Consulter des Articles, Poster des commentaires<br>
                                Le langage écrit y est soutenu mais toutefois explicite sur les sujets abordés
                            </div>
                            <div class="alert__form__check">
                                {{ form_row(startForm.opt4) }}  
                            </div>
                        </div>
                        <hr class="hr-soft">
                        <div class="alert__form bk-shdw-dngr">
                            <div class="alert__form__message info1 txt-soft">
                                <b>INSIDIOME </b> n'utilise que des cookies strictements necessaires au fonctionnement technique de la plateforme.<br>
                                Acceptez-vous l'utilisation de ces cookies ?
                            </div>
                            <div class="alert__form__check">
                                {{ form_row(startForm.opt5) }}  
                            </div>
                        </div>
                        <hr class="hr-soft">
                        <div class="alert__form bk-shdw-dngr">
                            <div class="alert__form__message info1 txt-soft">
                                <b> Vous certifiez être majeur, avoir plus de 18 ans
                            </div>
                            <div class="alert__form__check">
                                {{ form_row(startForm.opt6) }}  
                            </div>
                        </div>
                        <hr class="hr-soft">
                        {# <button class"butn butn-prim" type="submit">
                            Validez !
                        </button>     #}
                    {{ form_end(startForm) }}
                
                </section>
            </div>
        </div>
    </main>
 
{% endblock %}

