{% extends 'new-base.html.twig' %}

    {% block lang %}en{% endblock %}
    {% block title %}INSIDIOME - ENTER{% endblock %}
    {% block og_title %}INSIDIOME - ENTER{% endblock %}

    {% block description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}
    {% block og_description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}

    {% block keywords %}insidiome, bdsm, life style, lifestyle, life-style, life, style, lifesty{% endblock %}

    {% block canonical %}https://insidiome.fr{% endblock %}
    {% block og_link %}https://insidiome.fr{% endblock %}

    {% block og_image %}https://www.insidiome.com/build/img/gen/room1.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}en_US{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    {{ encore_entry_link_tags('general') }}
    <style>

    </style>   
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {# {{ encore_entry_script_tags('popModal') }} #}

{% endblock %}

{% block body %}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/back1.jpg",
        } 
    %}
    {% include "front/partials/asideDown.html.twig" %}

    <main class="main__container relative vh100">
        {# ------------------------------------------------------------ #}
        <section id="1" class="section__major bk-drk2 shdw-in-D">
            <div class="mobile__img__bk shdw-in-D" style="background-image: url('{{ asset('build/img/gen/back1.jpg') }}');" >
            <div>
        </section>
        {# ------------------------------------------------------------ #}
        <div class="modl" id="popModal" >
            <div class="modl__content padx1 pady3 mar1">
                <header>
                    <h1 class="title3 txt-second">INSIDIOME</h1>
                    <h2 class="sub-title3 txt-soft ">Please validate the conditions</h2>
                </header>
                <section id="validation-form">
                    {{ form_start(startForm) }}
                        <hr class="hr-soft">
                        <div class="alert__form brdr-rad3 bk-succ">
                            <div class="alert__form__message info1 txt-soft">
                                <b>INSIDIOME </b>is an advertising-free site and is not linked to various social networks.
                                This protects it from intrusive external cookies and trackers
                            </div>
                            <div class="alert__form__check">
                                {{ form_row(startForm.opt1) }}  
                            </div>
                        </div>
                        <hr class="hr-soft">
                         <div class="alert__form bk-shdw-dngr">
                            <div class="alert__form__message info1 txt-soft">
                                <b>INSIDIOME</b> n’utilise aucun tracker de statistique tel que GoogleAnalytics
                            </div>
                            <div class="alert__form__check">
                                {{ form_row(startForm.opt2) }}  
                            </div>
                        </div>
                        <hr class="hr-soft">
                         <div class="alert__form bk-shdw-dngr">
                            <div class="alert__form__message info1 txt-soft">
                                <b>INSIDIOME </b> does not use any statistics tracker such as GoogleAnalytics
                            </div>
                            <div class="alert__form__check">
                                {{ form_row(startForm.opt3) }}  
                            </div>
                        </div>
                        <hr class="hr-soft">
                         <div class="alert__form bk-shdw-dngr">
                            <div class="alert__form__message info1 txt-soft">
                                <b>INSIDIOME </b> is a platform on BDSM: Carry out personality tests, Consult Articles, Post comments
                                The written language is sustained but nevertheless explicit on the subjects covered.
                            </div>
                            <div class="alert__form__check">
                                {{ form_row(startForm.opt4) }}  
                            </div>
                        </div>
                        <hr class="hr-soft">
                        <div class="alert__form bk-shdw-dngr">
                            <div class="alert__form__message info1 txt-soft">
                                <b>INSIDIOME </b> only uses cookies that are strictly necessary for the technical functioning of the platform.
                                Do you accept the use of these cookies?
                            </div>
                            <div class="alert__form__check">
                                {{ form_row(startForm.opt5) }}  
                            </div>
                        </div>
                        <hr class="hr-soft">
                        <div class="alert__form bk-shdw-dngr">
                            <div class="alert__form__message info1 txt-soft">
                                <b> You certify that you are an adult, over 18 years old
                            </div>
                            <div class="alert__form__check">
                                {{ form_row(startForm.opt6) }}  
                            </div>
                        </div>
                        <hr class="hr-soft">
                        {# <button class"butn butn-prim" type="submit">
                            Validez !
                        </button>     #}
                    {{ form_end(startForm) }}
                
                </section>
            </div>
        </div>
    </main>
 
{% endblock %}