:root {
    --prim: #337733;
    --prim-active: #4eb151;
    --prim-dark: #205121;
    --prim-dark2: #0d290d;
    --prim-light: #bce9bc;

    --second: #cc5500; 
    --second-active: #ff8833;
    --second-dark: #994400;
    --second-dark2: #662200;
    --second-light: #ffddbb;
    
    --third: #7d53de;
    --third-active: #a98cff;
    --third-dark: #4f2fb2;
    --third-dark2: #2a1a6d;
    --third-light: #c7b3ff;





    --succ: #337733; 
    --warn: #FFB400;
    --danger: #D90429;
    --soft:#999999;
    --test: #777777;
    --blk: #000000;
    --drk1: #111111;
    --drk2: #222222;
    --drk3: #333333;
    --wht: #FFFFFF;
    --shadow-dark:rgba(0,0,0,0.5);
    .div {
        box-shadow: inset 0 0 10px var(--drk1); 
      }
    --shadow-light: rgba(255,255,255,0.5);
    --shadow-prim: rgba(var(--prim), 0.5);

    --color1: #4eb151;

    --color2: #61ac68;
  
    --color3: #74a77e;
  
    --color4: #88a294;
  
    --color5: #9c9daa;
  
    --color6: #b09980;
  
    --color7: #994400;



}
// back ground color
.bk-blk {
    background-color: #000000;
}
.bk-drk1 {
    background-color: var(--drk1);
}
.bk-drk2 {
    background-color: var(--drk2);
}
.bk-drk3 {
    background-color: var(--drk3);
}
.bk-shdw-dark {
    background-color: var(--shadow-dark);
}
.bk-shdw-L {
    background-color: var(--shadow-W);
}
.bk-shdw-prim {
    background-color: var(--shadow-prim);
}


.bk-shdw-dngr {
    background-color: rgba(var(--danger), 0.5);
}
.bk-shdw-succ {
    background-color: rgba(var(--succ), 0.5);
}


// text color
.txt-prim {
    color: var(--prim);
}
.txt-prim-active {
    color: var(--prim-active);
}
.txt-prim-dark {
    color: var(--prim-dark);
}
.txt-prim-light {
    color: var(--prim-light);
}

.txt-second {
    color: var(--second);
}
.txt-second-active {
    color: var(--second-active);
}
.txt-second-dark {
    color: var(--second-dark);
}
.txt-second-light {
    color: var(--second-light);
}

.txt-third {
    color: var(--third);
}



.txt-succ {
    color: var(--succ);
}
.txt-warn {
    color: var(--warn);
}
.txt-danger {
    color: var(--danger);
}
.txt-soft {
    color: var(--soft);
}
.txt-wht {
    color: white;
}
.txt-bld {
    font-weight: bold;
}
// border shadow
.brdr-shdw-D {
    box-shadow: var(--shadowD);
}
.brdr-shdw-L {
    box-shadow: var(--shadowW);
}
.brdr-shdw-S {
    box-shadow: var(--shadow-succ);
}

.shdw-in-D {
    box-shadow: inset 0 0 100px black ; 
  }

.hr-prim {
    border: 1px solid var(--prim-dark2);
    width: 100%;
}
.hr-second {
    border: 1px solid var(--second-dark2);
    width: 100%;
}
.hr-soft {
    border: 1px solid var(--soft);
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
}
.hr-blk {
    border: 2px solid black;
    width: 100%;
    margin:1px;
}

.bk-filter-gs {
    backdrop-filter: grayscale(100%);
}