@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Rubik+Dirt&display=swap');

.title1, .title2, .title3, .title4 {
    font-family: 'Rubik Dirt', sans-serif;
    margin: 0;
    padding: 0;
}
// .title1 {
//     font-size: clamp (3rem, 0.3043 + 3.4783vw, 5rem);
// }   
.title1 {
    font-size: max(3vw, 2.5rem);
}
.title2 {
    font-size: max(2.5vw, 2rem);
}
.title3 {
    font-size: max(2vw, 1.5rem);
}
.title4 {
    font-size: max(1.5vw, 1rem);
}
.sub-title1, .sub-title2, .sub-title3, .sub-title4 {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
}
.sub-title1 {
    font-size: max(1.6vw, 1.4rem);
}
.sub-title2 {
    font-size: max(1.4vw, 1.2rem);
}
.sub-title3 {
    font-size: max(1.2vw, 1rem);
}
.sub-title4 {
    font-size: max(1vw, 0.8rem);

}
.txt-shdw {
    text-shadow: 10px 10px 40px black;
}
.txt-center {
    text-align: center;
}
.txt-end {
    text-align: right !important;
}

.label1 {
    font-size: max(1.1vw, 0.8em);
    font-family: 'Roboto', sans-serif;
}

.info1 {
    font-size: max(1.1vw, 0.9em);
    font-family: 'Roboto', sans-serif;
    
}

.user {
    font-size: max(1.2vw, 1em);
    font-family: 'Roboto', sans-serif;
    color: var(--second);
}

p , li { 
    font-size: max(1vw, 0.8rem);  
    font-family: 'Roboto', sans-serif;
}

// li {
//     text-decoration: none;
//     list-style-type: none;
// }

.notranslate {
    -webkit-translate: none;
    translate: none;
}

.a1 {
    font-size: max(1.3vw, 1em);  
    font-family: 'Anton', sans-serif;
    text-decoration: none;
    color: var(--prim);
}
.a1:hover {
    color: var(--prim-active);
}