.form-label {
    color: whitesmoke;
    margin-top: 10px;
}

.form-check-label {
    color: whitesmoke;
}



.alert__form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert__form__message {
    flex: 1;

}

.alert__form__check {
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style pour les inputs */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
}

/* Style pour les inputs en focus */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #fff;
}

/* Style pour les placeholders */
::placeholder {
  color: #aaa;
}

/* Style pour les labels */
label {
  color: #fff;
  font-weight: bold;
}