/* margins----------------------------------------------- */
.mar0 {
    margin: 0;
}

.mar1 {
    margin: max(3vw, 0.5em);
}
.mar2 {
    margin: max(3vw, 1em);
}
.mar3 {
    margin: max(3vw, 2em);
}
.mar4 {
    margin: max(3vw, 4em);
}

.marx1 {
    margin-left: max(3vw, 0.5em);
    margin-right: max(3vw, 0.5em);
}
.marx2 {
    margin-left: max(3vw, 1em);
    margin-right: max(3vw, 1em);
}
.marx3 {
    margin-left: max(3vw, 2em);
    margin-right: max(3vw, 2em);
}
.marx4 {
    margin-left: max(3vw, 4em);
    margin-right: max(3vw, 4em);
}
.mary1 {
    margin-top: max(3vw, 0.5em);
    margin-bottom: max(3vw, 0.5em);
}
.mary2 {
    margin-top: max(3vw, 1em);
    margin-bottom: max(3vw, 1em);
}
.mary3 {
    margin-top: max(3vw, 2em);
    margin-bottom: max(3vw, 2em);
}
.mary4 {
    margin-top: max(3vw, 4em);
    margin-bottom: max(3vw, 4em);
}
.marb1 {
    margin-bottom: max(3vw, 0.5em);
}
.marb2 {
    margin-bottom: max(3vw, 1em);
}
.marb3 {
    margin-bottom: max(3vw, 2em);
}
.marb4 {
    margin-bottom: max(3vw, 4em);
}
// padiings----------------------------------------------- */
.pad0 {
    padding: 0;
}
.pad1 {
    padding: max(2vw, 6px) ;
}
.pad2 {
    padding: max(3vw, 1em);
}
.pad3 {
    padding: max(3vw, 2em);
}
.pad4 {
    padding: max(3vw, 4em);
}
.padx1 {
    padding-left: max(3vw, 0.5em);
    padding-right: max(3vw, 0.5em);
}
.padx2 {
    padding-left: max(3vw, 1em);
    padding-right: max(3vw, 1em);
}
.padx3 {
    padding-left: max(3vw, 2em);
    padding-right: max(3vw, 2em);
}
.padx4 {
    padding-left: max(3vw, 4em);
    padding-right: max(3vw, 4em);
}   
.pady1 {
    padding-top: max(3vw, 0.5em);
    padding-bottom: max(3vw, 0.5em);
}
.pady2 {
    padding-top: max(3vw, 1em);
    padding-bottom: max(3vw, 1em);
}
.pady3 {
    padding-top: max(3vw, 2em);
    padding-bottom: max(3vw, 2em);
}
.pady4 {
    padding-top: max(3vw, 4em);
    padding-bottom: max(3vw, 4em);
}
