{% extends 'base.html.twig' %}

{# {% block title %}Hello InfoController!{% endblock %} #}

{% block body %}

    <div class="headband">
        {% include "front/partials/nav.html.twig" %}
        <img src="{{ asset('build/img/gen/sofa1.png') }}" alt="sofa">

    </div>

    <div class="p-3">

        <h3>Conditions générales d'utilisation </h3>
        <h2>du site insidiome.com</h2>
        <h4>ARTICLE 1 : Objet</h4>
        <p>Les présentes « conditions générales d'utilisation » ont pour objet l'encadrement juridique 
        de l’utilisation du site insidiome.com et de ses services.
        Ce contrat est conclu entre :
        Le gérant du site internet, ci-après désigné « l’Éditeur »,
        Toute personne physique ou morale souhaitant accéder au site et à ses services, ci-après appelé « l’Utilisateur ».
        Les conditions générales d'utilisation doivent être acceptées par tout Utilisateur, 
        et son accès au site vaut acceptation de ces conditions.
        </p>

        <h4>ARTICLE 2 : Mentions légales</h4>
        <p>Voir les mentions légales</p>
        {# <a href="{{ path('app_legals') }}">Legals</a>  #}

        <h4>ARTICLE 3 : accès aux services</h4>
        <p>L’Utilisateur du site insidiome.com a accès aux services suivants :</p>
        <ul>
            <li>Réaliser des tests</li>
            <li>Créer un profil</li>
            <li>Faire des commentaires</li>
        </ul>
        <p>Tout Utilisateur ayant accès a internet peut accéder gratuitement et depuis n’importe où au site. Les frais supportés par l’Utilisateur pour y accéder sont pas à la charge de l’Éditeur.
         L’Éditeur peut faire des appels aux dons pour supporter le tarifs du serveur et des frais divers de la plateforme.
        Les services suivants ne sont pas accessible pour l’Utilisateur que s’il est membre du site (c’est-à-dire qu’il s’est identifié à l’aide de ses identifiants de connexion) :</p>
        <ul>
            <li>Créer un profil</li>
            <li>Enregistrer le résultat de ses tests</li>
            <li>Voir d’autres profils</li>
            <li>Poster des commentaires</li>
        </ul>
        <p>Le site et ses différents services peuvent être interrompus ou suspendus par l’Éditeur, notamment à l’occasion d’une maintenance, sans obligation d’en informer préalablement l’Utilisateur.</p>

        <h4>ARTICLE 4 : Responsabilité de l’Utilisateur</h4>
        <p>L’Utilisateur est responsable des risques liés à l’utilisation de son identifiant de connexion et de son mot de passe. 
        Le mot de passe de l’Utilisateur doit rester secret. 
        Toute divulgation du mot de passe, quelle que soit sa forme, est interdite. 
        L’Utilisateur assume les risques liés à l’utilisation de son identifiant et mot de passe. 
        L’Éditeur décline toute responsabilité.
        
        L’Utilisateur s’engage à ne pas utiliser le site et ses services à des fins illégales ou contraires aux présentes conditions générales d’utilisation. 
        L’Utilisateur s’engage à ne pas porter atteinte aux droits de tiers, notamment les droits de propriété intellectuelle, les droits à l’image, les droits à la vie privée, etc...

        L’Utilisateur s’engage à ne pas créer de lien hypertexte vers le site sans l’autorisation expresse de l’Éditeur.

        L’Utilisateur est responsable des contenus qu’il met en ligne et il s’engage à ne pas mettre en ligne de contenus pouvant porter atteinte aux intérêts de tierces personnes. 
        En particulier, il s’engage à ne pas mettre en ligne de contenus à caractère raciste, xénophobe, pornographique, violent, diffamatoire, etc.

        L’Utilisateur s’engage à ne pas collecter ou recueillir les données personnelles des autres utilisateurs du site à des fins commerciales.

        <h4>ARTICLE 5 : Responsabilité de l’Éditeur</h4>

        <p>Tout dysfonctionnement du serveur ou du réseau ne peut engager la responsabilité de l’Éditeur.
        De même, la responsabilité du site ne peut être engagée en cas de force majeure ou du fait imprévisible et insurmontable d'un tiers.
        Le site insidiome.com s'engage à mettre en œuvre tous les moyens nécessaires pour garantir la sécurité et la confidentialité des données. 
        Toutefois, il n’apporte pas une garantie de sécurité totale.
        L’Éditeur se réserve la faculté d’une non-garantie de la fiabilité des sources, bien que les informations diffusées su le site soient réputées fiables.</p>

        <h4>ARTICLE 6 : Propriété intellectuelle</h4>
        <p>Les contenus du site (logos, textes, éléments graphiques, vidéos, etc.) sont protégés par le droit d’auteur, en vertu du Code de la propriété intellectuelle.</p>
        <p>L’Utilisateur devra obtenir l’autorisation de l’éditeur du site avant toute reproduction, copie ou publication de ces différents contenus.</p>
        <p>Ces derniers peuvent être utilisés par les utilisateurs à des fins privées ; tout usage commercial est interdit.</p>
        <p>L’Utilisateur est entièrement responsable de tout contenu qu’il met en ligne et il s’engage à ne pas porter atteinte à un tiers.</p>
        <p>L’Éditeur du site se réserve le droit de modérer ou de supprimer librement et à tout moment les contenus mis en ligne par les utilisateurs, et ce sans justification.</p>

        <h4>ARTICLE 7 : Données personnelles</h4>
        <p>
        Les informations demandées à l’Utilisateur sont nécessaires au traitement de sa demande et à la création de son compte. 
        L’Utilisateur doit obligatoirement fournir ces informations. 
        En cas de non-fourniture d’informations, l’Éditeur se réserve le droit de ne pas enregistrer le compte de l’Utilisateur.
        L’adresse électronique (e-mail) de l’utilisateur pourra notamment être utilisée par le site insidiome.com 
        pour la communication d’informations diverses et la gestion du compte.
        insidiome garantie le respect de la vie privée de l’utilisateur, conformément à la loi n°78-17 du 6 janvier 1978 
        relative à l'informatique, aux fichiers et aux libertés.
        En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l’Utilisateur dispose d’un droit d’accès, 
        de rectification, de suppression et d’opposition de ses données personnelles. 
        L’Utilisateur exerce ce droit :
        - via son espace personnel 
        - par mail à l’adresse suivante : insidiome [at] gmail . com ;

        <h4>ARTICLE 8 : Liens hypertextes</h4>
        <p>Les domaines vers lesquels mènent les liens hypertextes présents sur le site 
        n’engagent pas la responsabilité de l’Éditeur de insidiome.com, qui n’a pas le contrôle de ces liens.
        L’Éditeur n’est pas responsable du contenu accessible sur ces sites.</p>

        <h4>ARTICLE 9 : Évolution des conditions générales d’utilisation</h4>
        <p>Le site insidiome.com se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.</p>

        <h4>ARTICLE 10 : Durée du contrat</h4>
        <p>La durée du présent contrat est indéterminée. 
        Le contrat produit ses effets à l’égard de l’Utilisateur à compter du début de l’utilisation du service.
        Le site insidiome.com se réserve le droit de modifier les clauses de ces conditions générales d’utilisation à tout moment et sans justification.</p>

        <h4>ARTICLE 11 : Droit applicable et juridiction compétente</h4>    
        <p>Le présent contrat dépend de la législation française. En cas de litige non résolu à l’amiable entre l’Utilisateur et l’Éditeur, les tribunaux français seront seuls compétents pour régler le contentieux.</p>
    </div>
   {% include "front/partials/footer.html.twig" %}   
{% endblock %}


