{% extends 'main.html.twig' %}

{% block title %}Hello InfoController!{% endblock %}

{% block body %}
<div class="banner__container">
    {# <p class="my-2 text-center text-dark"><b>INSID</b>e m<b>Y</b> h<b>OM</b>e - <b>INSID</b>e <b>O</b>f <b>ME</b> - <b>IN</b> <b>S</b>elf <b>IDIOM</b>e<p> #}
    {# ---------- Desktop ---------- #}
    <div class="banner__desktop">
        <img src="{{ asset('build/img/gen/back.jpg') }}">
        <div class="banner__header">
            {% include "front/partials/nav.html.twig" %}
        </div>
        <div class="banner__block p-4 mt-5">
            <div class="banner__left__content p-4">
                {% include "front/home/content.html.twig" %}

                {% include "front/partials/footer.html.twig" %}
            </div>      
        </div>
    </div>

    {# ---------- Mobile ---------- #}
    <div class="banner__mobile">
        {% include "front/partials/nav.html.twig" %}
        <img src="{{ asset('build/img/gen/back.jpg') }}">
        <div class="banner__header">
            {# {% include "front/partials/nav.html.twig" %} #}
        </div>
        <div class="banner__block p-2">
            <div class="banner__left__content p-4">
                {% include "front/home/content.html.twig" %}

                {% include "front/partials/footer.html.twig" %}
            </div>
            
        </div>
    </div>
</div>  

{% endblock %}
