{% extends 'new-base.html.twig' %}


    {% block title %}INSIDIOME Infos{% endblock %}
    {% block og_title %}INSIDIOME infos{% endblock %}

    {% block description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Nos BDSM-tests et Kink-quizzes vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
        Développée par un kinkster pour les kinksters, notre plateforme gratuite est en constante évolution est destinée aux hommes gays, 
        mais les valeurs BDSM transcendent les orientations sexuelles et de genre. 
        Rejoignez-nous pour une expérience de qualité et d'intensité inégalées. 
        Notez que INSIDIOME n'est pas une plateforme de partage de contenu pornographique ni une plateforme commerciale.
    {% endblock %}
    {% block og_description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Nos BDSM-tests et Kink-quizzes vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
        Développée par un kinkster pour les kinksters, notre plateforme gratuite est en constante évolution est destinée aux hommes gays, 
        mais les valeurs BDSM transcendent les orientations sexuelles et de genre. 
        Rejoignez-nous pour une expérience de qualité et d'intensité inégalées. 
        Notez que INSIDIOME n'est pas une plateforme de partage de contenu pornographique ni une plateforme commerciale.
    {% endblock %}

    {% block keywords %}mode de vie BDSM, kink quiz, bdsm test, pratiquer le BDSM{% endblock %}

    {% block canonical %}{% endblock %}
    {% block og_link %}{% endblock %}

    {% block og_image %}https://insidiome.fr/build/img/gen/room1.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/back1.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">
        {# ------------------------------------------------------------------------------- #}
        {# header----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainUp.html.twig" 
            with {
                title: code,
                idDown: "1",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}

        <a href="{{ path('app_home') }}" class="butn butn-prim marx1" ><i class="fas fa-shapes"></i><span class="label1">Accueil</span></a>
        <a href="{{ path('app_test_list') }}" class="butn butn-prim marx1" ><i class="fas fa-shapes"></i><span class="label1">TESTS</span></a>
        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">

        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor bk-drk3 shdw-in-D pad3">
            {% if code is same as 'legals' %}
                <section id="visitor disp-col-center shdw-in-D" class="padx1">
                    {% include "front/info/content/legals.html.twig" %}
                </section>
            {% elseif code is same as 'cgu' %}
                <section id="visitor disp-col-center shdw-in-D" class="padx1">
                    {% include "front/info/content/cgu.html.twig" %}
                </section>
            {% elseif code is same as 'nsdm' %}
                <section id="visitor disp-col-center shdw-in-D" class="padx1">
                    {% include "front/info/content/about.html.twig" %}
                </section>
            {% endif %}
            
        </section>
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
    


        {# ------------------------------------------------------------ #}
        {% include "front/partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}


       {# ----------------------------------------------- #}
    </main>

    
{% endblock %}