{% extends 'base.html.twig' %}

{# {% block title %}Hello InfoController!{% endblock %} #}

{% block body %}
    <div class="headband">
        {% include "front/partials/nav.html.twig" %}
        <img src="{{ asset('build/img/gen/sofa1.png') }}" alt="sofa">
    </div>
    <div class="p-3">    
        <h3>Politique de confidentialité</h3>
        <p>L’adresse de notre site Web est : https://insidiome.com</p>  
        <p>Hébergement OVH</p> 
        <p>Siège social : 2 rue Kellermann – 59100 Roubaix – France</p>

        <h2>Vos données personnelles</h2>
        <h4>Cookies </h4>
        <p>Nous n’utilisons que le strict minimum pour le fonctionnement de la plateforme.</p>
        <p>Nous n’utilisons aucun tracker de statistiques, ni de mesure d’audience tel que Google Analytics.</p>
        <p>La plateforme est sans publicité.</p>

        <h2>Création d’un compte :</h2>
        <h4>email</h4>
        <p>Lorsque vous créé un compte, la seule donnée personnelle enregistrée est votre email.</p>
        <p>Celui ci est utile pour des raisons de sécurité, la validation de votre compte. Votre email ne sera utilisé par la suite que pour vous informé des mises à jours de la plateforme ou pour le renouvellent de votre password si vous avez perdu vos identifiants.</p>
        <p>Si vous choisissez de ne pas recevoir la news letter, vous ne recevrez aucun email.</p>
        <p>Votre email ne sera en aucun cas partagé ou revendu.</p>

        <h4>password</h4>
        <p>Votre mot de passe est enregistré de manière anonymisé par un système de Hash</p>

        <h4>Medias</h4>
        <p>Si vous êtes un utilisateur ou une utilisatrice enregistré·e et que vous téléversez des images sur le site web, nous vous conseillons d’éviter de téléverser des images contenant des données EXIF de coordonnées GPS. Les visiteurs de votre site web peuvent télécharger et extraire des données de localisation depuis ces images.</p>

        <h4>Durées de stockage de vos données</h4>
        <p>Si vous laissez un commentaire, le commentaire et ses métadonnées sont conservés indéfiniment. Cela permet de reconnaître et approuver automatiquement les commentaires suivants au lieu de les laisser dans la file de modération.</p>
        <p>Pour les utilisateurs et utilisatrices qui s’enregistrent sur notre site web (si cela est possible), nous stockons également les données personnelles indiquées dans leur profil. Tous les utilisateurs et utilisatrices peuvent voir, modifier ou supprimer leurs informations personnelles à tout moment (à l’exception de leur nom d’utilisateur·ice). Les gestionnaires du site web peuvent également voir et modifier ces informations.</p>

        <h4>Les droits que vous avez sur vos données</h4>
        <p>Si vous avez un compte ou un compte sur ce site, ou si vous avez laissé des commentaires, vous pouvez demander à recevoir un fichier exportable des données personnelles que nous détenons à votre sujet, y compris toutes les données que vous nous avez fournies. Vous pouvez également demander que nous effacions toutes les données personnelles que nous détenons à votre sujet. Cela ne comprend pas les données que nous sommes tenus de conserver pour des raisons administratives, légales ou de sécurité.</p>
        
        <h4>Transmission de vos données personnelles</h4>
        <p>Les commentaires des visiteurs peuvent être vérifiés à l’aide d’un service automatisé de détection des commentaires indésirables.</p>
        
        <h4>Informations de contact</h4>
        <p>Si vous avez des questions sur cette politique de confidentialité, vous pouvez nous contacter à l’adresse suivante :
        <p>indidiome [at] gmail.com</p>
            
    </div>
    {% include "front/partials/footer.html.twig" %}
{% endblock %}
