<!DOCTYPE html>

<title>Comment index</title>

{% block body %}
    <h1>Comment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Value</th>
                <th>Msg</th>
                <th>Answ</th>
                <th>IsValid</th>
                <th>ToKeep</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ comment.value }}</td>
                <td>{{ comment.msg }}</td>
                <td>{{ comment.answ }}</td>
                <td>{{ comment.isValid ? 'Yes' : 'No' }}</td>
                <td>{{ comment.toKeep ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_comment_show', {'id': comment.id}) }}">show</a>
                    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_comment_new') }}">Create new</a>
{% endblock %}
