<!DOCTYPE html>

<title>Comment</title>

{% block body %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Value</th>
                <td>{{ comment.value }}</td>
            </tr>
            <tr>
                <th>Msg</th>
                <td>{{ comment.msg }}</td>
            </tr>
            <tr>
                <th>Answ</th>
                <td>{{ comment.answ }}</td>
            </tr>
            <tr>
                <th>IsValid</th>
                <td>{{ comment.isValid ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ToKeep</th>
                <td>{{ comment.toKeep ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_comment_index') }}">back to list</a>

    <a href="{{ path('app_comment_edit', {'id': comment.id}) }}">edit</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
