{% if score.level > 85 %}
    <p class="info1 mar0" style="color:green; font-weight: bold;">{{ score.factor.nom }}</p>
    <p class="info1 mar0" style="color:green; font-weight: bold;">{{ score.level }}%</p>
{% elseif score.level > 65 %}
    <p class="info1 mar0" style="color:greenyellow; font-weight: bold;">{{ score.factor.nom }}</p>
    <p class="info1 mar0" style="color:greenyellow; font-weight: bold;">{{ score.level }}%</p>
{% elseif score.level > 45 %}
    <p class="info1 mar0" style="color:yellow; font-weight: bold;">{{ score.factor.nom }}</p>
    <p class="info1 mar0" style="color:yellow; font-weight: bold;">{{ score.level }}%</p>
{% elseif score.level > 25 %}
    <p class="info1 mar0" style="color:orange; font-weight: bold;">{{ score.factor.nom }}</p>
    <p class="info1 mar0" style="color:orange; font-weight: bold;">{{ score.level }}%</p>
{% else %}
    <p class="info1 mar0" style="color:red; font-weight: bold;">{{ score.factor.nom }}</p>
    <p class="info1 mar0" style="color:red; font-weight: bold;">{{ score.level }}%</p>
{% endif %}