<div class="crd__lng  bk-drk2 shdw-in-D">
    <div class="disp-spbtwn">
        {% if test.image is not null %} 
            <img src="{{ asset('build/img/mapped/square/test/' ~ test.image) }}" class="fluidx card__lng__img" alt="{{ test.name }}">
        {% else %}
            <img src="{{ asset('build/img/gen/default.jpg') }}" class="fluidx card__lng__img" alt="{{ test.name }}">
        {% endif %}                        
        {# <img src="{{ asset('build/img/gen/default.jpg') }}" alt="photo de profil" class="fluidx card__lng__img"> #}
        {# </div> #}
        <div class="crd__lng__content disp-col-center fluid">
            <h4 class="title4 txt-prim-light mar0">{{ test.name|title }}</h4>
            <hr class="hr-soft mar0">
            <p class="info1 txt-soft mar0">{{ test.sousTitre|raw }}</p>
        </div>
        <a href="{{ path('app_test', {'testSlug': test.testSlug}) }}"
        class="butn-vertical butn-prim">
            <i class="fas fa-eye"></i>
        </a>  
    </div>
</div>