{% extends 'new-base.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}INSIDe' Home{% endblock %}
    {% block og_title %}INSIDe' Home{% endblock %}

    {% block description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Une plateforme gratuite développée par un kinkster pour les kinksters.
        Nos BDSM-tests, Kink-quiz et des artciles vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
    {% endblock %}
    {% block og_description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Une plateforme gratuite développée par un kinkster pour les kinksters.
        Nos BDSM-tests, Kink-quiz et des artciles vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
    {% endblock %}

    {% block keywords %}mode de vie BDSM, BDSM France, fetish France, pratiquer le BDSM, gay BDSM France{% endblock %}

    {% block canonical %}https://www.insidiome.com/home{% endblock %}
    {% block og_link %}https://www.insidiome.com/home{% endblock %}

    {% block og_image %}{{randomBanner}}{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}


    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('register') }}
{% endblock %}

{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/home-bando.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">
        {# ------------------------------------------------------------------------------- #}
        {# header----------------------------------------------------------------------- #}
        {# menu----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        <div class="butn butn-second marx1" ><i class="fas fa-home"></i> <span class="label1">Accueil</span></div>
        <a href="{{ path('app_test_list') }}" class="butn butn-prim " ><i class="fas fa-dice"></i><span class="label1">Tests</span></a>
        {# <a href="{{ path('app_blog') }}" class="butn butn-prim" ><i class="fas fa-book-reader"></i><span class="label1">Blog</span></a> #}
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim" ><i class="fas fa-gopuram"></i><span class="label1">NSDM</span></a>
        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/headerBlogUP.html.twig" 
            with {
                title: "Accueil",
                idDown: "1",
                banner: randomBanner,
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}

        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">

        {# ------------------------------------------------------------ #}
        {# ------------------------------------------------------------ #}
        <section  class="section__minor bk-drk3 shdw-in-D pad3">
            <h2 class="title3 txt-second">register<span class="txt-second-active"></span></h2>
            <h2 class="sub-title3 txt-second-light">try It</h2>
            <hr class="hr-soft">
            <form action="#" method="post"> 
                <div class="form-group">
                    <label for="username">Pseudo</label>
                    <p>Le pseudo doit contenir entre 4 et 16 caractères
                        - Uniquement des lettres
                    </p>
                    <input type="text" class="form-control is-invalid" id="pseudo" placeholder="pseudo">
                </div>
                <hr class="hr-soft">

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="email">
                </div>
                <hr class="hr-soft">

                <div class="form-group">
                    <label class="text-light" for="message">Password</label>
                    <div id="msgPassword" class="text-danger">Minimum : 8 caractères, une majuscule, une minuscule, un chiffre, un caractère spécial, max 20 caractères</div> 
                    <div class="disp-center">
                        <input type="password" id="password" class="form-control is-invalid" >
                        {# <div class="btn btn-success id="showPswrd""><i class="fas fa-eye"></i></div>   #}
                    </div>    
                </div>
                <hr class="hr-soft">

                <div id="repeatPswrdGrp" class="form-group d-none">
                    <label class="text-light" for="nom">Repeat password</label>
                    <div id="msgRepeatPassword" class="text-danger">Répétez le mot de passe</div> 
                    <div class="disp-center">
                        <input type="password" id="passwordRepeat" class="form-control  is-invalid">
                        {# <div class="btn btn-success" id="showRepeatPswrd"><i class="fas fa-eye"></i></div>  #}
                    </div>
                </div>
                <hr class="hr-soft">

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="agree-terms">
                    <label class="form-check-label" for="agree-terms">
                        J'accepte les conditions d'utilisation
                    </label>
                </div>
                <hr class="hr-soft">

                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>


            {# <form id="register">
                
                
                <div class="form-group">
                    <label for="passwordOne">Mot de passe</label>
                    <input type="text" class="form-control is-invalid" id="passwordOne" placeholder="password">
                </div>

                <div class="form-group d-none">
                    <label for="passwordTwo">Confirmez votre mot de passe</label>
                    <input type="text" class="form-control is-invalid" id="passwordTwoe" placeholder="repaeat password">
                </div>


                
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="agree-terms">
                    <label class="form-check-label" for="agree-terms">
                    J'accepte les conditions d'utilisation
                    </label>
                </div>
                
                <button type="submit" class="btn btn-primary d-none">Soumettre</button>
            </form> #}
        </section>
        <hr class="hr-blk"> 

        {# ------------------------------------------------------------ #}
        {% include "front/partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}


    </main>

    
{% endblock %}
