{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %}
    Bienvenue dans l'administration
{% endblock %}

{% block main %}
    <p>Today visits : {{ todayVisits | length }}</p>
    <p>All visits : {{ allVisits | length }}</p>
    {# <p>Today impacts :  {{ todayImpacts | length }}</p> #}
    <p>All impacts : {{ allImpacts | length }}</p>
    {# <p>Today kinksters :  {{ todayKinksters | length }}</p> #}
    <p>All Kinksters : {{ allKinksters | length }}</p>  

{% endblock %}