{# templates/admin/blog/paraArticle.html.twig #}

{% set paragraphArray = entity.instance.paras %}

<a href="{{ ea_url()
    .setController('App\\Controller\\Admin\\ParagraphCrudController')
    .set('articleId', entity.instance.id)
    .setAction('new')
    }}"
    class="btn btn-success">
    Ajouter un paragraphe
</a>

{% if paragraphArray | length == 0 %}
    <span>Pas de paragraphe.</span>
{% else %}
    <p class='p-2 mb-4 text-center'>Il y a en tout 
        <strong>{{ paragraphArray | length }}</strong>
        {% if paragraphArray | length == 1 %} 
            Paragraphe.
        {% else %} 
            Paragraphes.
        {% endif %}
    </p>
    <table class='table'>
        <thead>
            <tr>
                <th scope="col">Paragraphe: nom</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for paragraph in paragraphArray %}
                <tr>
                    <td>{{ paragraph.nom }}</td>
                    <td>
                        <a href="{{ ea_url()
                            .setController('App\\Controller\\Admin\\ParagraphCrudController')
                            .set('id', paragraph.id)
                            .setAction('edit')
                            }}"
                            class="btn btn-primary btn-sm">
                            Modifier
                        </a>
                        <a href="{{ ea_url()
                            .setController('App\\Controller\\Admin\\ParagraphCrudController')
                            .set('id', paragraph.id)
                            .setAction('delete')
                            .set('referer', app.request.getUri())
                            }}"
                            class="btn btn-danger btn-sm">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
