{% extends 'new-base.html.twig' %}

    {% block lang %}en{% endblock %}
    {% block title %}INSIDe' Home{% endblock %}
    {% block og_title %}INSIDe' Home{% endblock %}

    {% block description %}
        Discover or deepen your BDSM knowledge with INSIDIOME.
        A free platform developed by a kinkster for kinksters.
        Our BDSM-tests, Kink-quizzes and articles help you identify your needs and desires to improve your experience.
    {% endblock %}
    {% block og_description %}
        Discover or deepen your BDSM knowledge with INSIDIOME.
        A free platform developed by a kinkster for kinksters.
        Our BDSM-tests, Kink-quizzes and articles help you identify your needs and desires to improve your experience.
    {% endblock %}

    {% block keywords %}BDSM life style, kink quiz, bdsm test, practice BDSM, living kink, BDSM french touch{% endblock %}

    {% block canonical %}https://www.insidiome.com/home{% endblock %}
    {% block og_link %}https://www.insidiome.com/home{% endblock %}

    {% block og_image %}{{randomBanner}}{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}en_US{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/home-bando.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">
        {# ------------------------------------------------------------------------------- #}
        {# header----------------------------------------------------------------------- #}
        {# menu----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        
        {% include "front/partials/navMainDown.html.twig" %}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/headerBlogUP.html.twig" 
            with {
                title: "Home",
                idDown: "1",
                banner: randomBanner,
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        
        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">

        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor bk-drk3 shdw-in-D pad3">
            <h2 class="title3 txt-second">Welcome on <span class="txt-second-active">INSIDIOME</span></h2>
            {# <h2 class="sub-title3 txt-second-light">Présentation</h2> #}
            <div class=" section__minor__content shdw-in-D brdr-rad5 marx1 mary2 padx1 pady2">
                <section class="section__minor__content__presentation">
                    <h3 class="title3 txt-second mary1">Presentation</h3>
                    <p class="info1 txt-soft">
                        Discover or deepen your BDSM knowledge with INSIDIOME, a <strong class="txt-second">free platform</strong> developed by a kinkster for kinksters.
                    </p>
                    <p class="info1 txt-soft">
                        We offer <strong class="txt-second">BDSM tests</strong> and Kink quizzes to identify your needs and desires and improve your experience. 
                        Our platform is for anyone who wants to practice BDSM in a balanced way.
                    </p>
                    <découvrir type="button" class="butn butn-prim" data-bs-toggle="modal" data-bs-target="#remainModal">
                        Read more
                    </div>
                </section>
                <hr class="hr-blk">
                
            </div>
        </section>
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
        {% include "front/partials/sectionMajorUp.html.twig" 
            with {
                idSection: "1",
                title: "Tests",
                idUp: "present",
                idDown: "2",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
        <h3 class="title3 txt-second mar0">Want to explore? </h3>
        <p class="sub-title3 txt-second-light">Start with the basics</p>  
        {% include "front/component/carouselTest.html.twig" %}
        
        <h3 class="title3 txt-second mar0">Go further ?</h3>
        <div class="disp-col-center">
            <a href="{{ path('app_test_list') }}" class="butn butn-prim marx1" >
                <i class="fas fa-shapes"></i><span class="label1">More TESTS</span>
            </a>
        </div> 

        {% include "front/partials/sectionMajorDown.html.twig" %}
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
        <section  class="section__mminor bk-drk3 shdw-in-D pad3">
            <h2 class="title3 txt-second">INSIDIOME<span class="txt-second-active"></span></h2>
            <h2 class="sub-title3 txt-second-light">Spirit</h2>
                <section class="disp-col-center brdr-rad5 padx1 pady3 marx1 mary3 shdw-in-D">
                    <h3 class="title3 notranslate txt-soft" translate="no">INSIDe Of ME</h3>
                    <h3 class="title3 notranslate txt-soft" translate="no">INSIDe mY hOME</h3>
                    <h3 class="title3 notranslate txt-soft" translate="no">IN Self IDIOME</h3>
                </section> 
        </section>
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
        {% include "front/partials/sectionMajorUp.html.twig" 
            with {
                idSection: "2",
                title: "Kinkters",
                idUp: "1",
                idDown: "footer",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
        <section class="pad1 fluidx">
            <h3 class="title3 txt-second">New Kinksters</h3>
            <hr>
            
            {# <nav class="disp-center fluidx pad1">
                {{ knp_pagination_render(kinksters, '@KnpPaginator/Pagination/sliding.html.twig', {'id': 'kinksters'}) }}
            </nav> #}






            <section id="kinksters" class="fluidx disp-col-center pad0">
            {% for kinkster in kinksters %}
                <div class="crd__lng disp-spbtwn bk-drk3 shdw-in-D">
                
                    <img src="{{ asset('build/img/gen/default.jpg') }}" alt="photo de profil" class="fluidx card__lng__img">
                
                <div class="crd__lng__content disp-col-center fluid">
                    <h4 class="title4 txt-second-light notranslate"  translate="no">{{ kinkster.pseudo|title }}</h4>
                    <hr class="hr-soft">
                    <h3 class="sub-title4 txt-soft notranslate" translate="no">
                        {% if kinkster.position  %}
                            {{ kinkster.position.nom }}
                        {% else %} 
                            No Position
                        {% endif %}  
                        -|-
                        {% if kinkster.fetish  %}
                            {{ kinkster.fetish.nom }}
                        {% else %} 
                            No Fetish
                        {% endif %}                              
                    </h3>
                </div>
                
                <a href="{{ path('app_profil', {'userSlug': kinkster.userSlug}) }}"
                class="butn-vertical butn-prim">
                    <i class="fas fa-eye"></i>
                </a>  

            </div>
            {% endfor %}
            </section>
            {# <nav class="disp-center fluidx pad1">
                {{ knp_pagination_render(kinksters) }}
            </nav> #}
            
                
        </section>    



        {% include "front/partials/sectionMajorDown.html.twig" %}
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
        {# ------------------------------------------------------------ #}
        <section  class="section__minor bk-drk3 shdw-in-D pad3">
            <h2 class="title3 txt-second">INSIDIOME<span class="txt-second-active"></span></h2>
            <h2 class="sub-title3 txt-second-light"> BDSM univers</h2>
            <div class=" section__minor__content pad1">
                {% include "front/home/content/valuesEN.html.twig" %}
            </div>
        </section>
        <hr class="hr-blk"> 

        {# ------------------------------------------------------------ #}
        {% include "front/partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}


        <!-- Modal -->
        <div class="modal fade" id="remainModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bk-drk3 shdw-in-D">
                    {% include "front/home/content/presentEN.html.twig" %}
                </div>
            </div>
        </div>

       {# ----------------------------------------------- #}
    </main>

    
{% endblock %}
