body {
    background-color: black;
    display:flex;
    justify-content: space-around;
}


aside {
    position: sticky;
    top: 0;
    height: 100vh;
}

.aside-left, .aside-right {
    width: 600px;
    /* position: relative; */
} 
.aside__content {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.trunk {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1200px) {
    // .main-container {
    //     max-width: 576px;
    // }

    .aside-left, .aside-right {
        width: 400px;
    }
}

@media (max-width: 992px) {
    .aside-left, .aside-right {
        width: 0px;
    }

}

@media (max-width: 768px) {

}  

@media (max-width: 576px) {

}