// @import '~bootstrap';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
// @import '~@fortawesome/fontawesome-free/scss/regular';
// @import '~@fortawesome/fontawesome-free/scss/solid';
// @import '~@fortawesome/fontawesome-free/scss/brands';

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: darkorange;
}

h2 {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 2rem;
    font-weight: 400;
    color: lightblue;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: darkorange;
}

h4 {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 1.4rem;
    font-weight: 400;
    color: lightblue;
}

h5 {
    font-family: 'Anton', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: darkorange;
}

p {
    font-family: 'roboto condensed', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: silver;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.board__column {
    width:100%;
    max-width: 576px;
    text-align: center;
}