<section class="disp-col-center">
    {# <a href="{{ path('ea_board') }}" class="butn butn-prim marx1"> EA </a> #}
    <a href="{{ path('app_back') }}" class="butn butn-prim mary1">Stats</a>
    <a href="{{ path('app_back_test') }}" class="butn butn-prim mary1">Tests</a>
    <a href="{{ path('app_back_kinkster') }}" class="butn butn-prim mary1">Kinksters</a>
</section>