.bk-blk {
    background-color: #000000;
}
.bk-drk1 {
    background-color: var(--drk1);
}
.bk-drk2 {
    background-color: var(--drk2);
}
.bk-drk3 {
    background-color: var(--drk3);
}
.bk-drk4 {
    background-color: var(--drk4);
}
// -----------------------------------------
.bk-shdw-dark {
    background-color: var(--shdw-drk);
}
.bk-shdw-lght {
    background-color: var(--shdw-lght);
}
.bk-shdw-dngr {
    background-color: rgba(var(--danger), 0.5);
}
.bk-shdw-warn {
    background-color: rgba(var(--warn), 0.5);
}    
.bk-shdw-succ {
    background-color: rgba(var(--succ), 0.5);
}
// -----------------------------------------
.shdw-in-drk1 {
    box-shadow: inset 0 0 10px black ; 
}
.shdw-in-drk2 {
    box-shadow: inset 0 0 25px black; 
}  
.shdw-in-drk3 {
    box-shadow: inset 0 0 50px black; 
} 
.shdw-in-drk4 {
    box-shadow: inset 0 0 100px black; 
}