/* paddings----------------------------------------------- */
.pad0 {
    margin: 0;
}
.padx0 {
    margin-left: 0;
    margin-right: 0;
}
.pady0 {
    margin-top: 0;
    margin-bottom: 0;
}
.pad-pwr {
    padding: max(3.5vw, 0.25px);

}
.pad1 {
    padding: max(1.5vw, 0.25rem);
}
.pad2 {
    padding: max(2vw, 1rem);
}
.pad3 {
    padding: max(2.5vw, 2rem);
}
.pad4 {
    padding: max(3vw, 3rem);
}
.pad5 {
    padding: max(3.5vw, 4rem);
}
.pad6 {
    padding: max(4vw, 5rem);
}
// ---------------------------------------
.padx1 {
    padding-left: max(1.5vw, 0.25rem);
    padding-right: max(1.5vw, 0.25rem);
}
.padx2 {
    padding-left: max(2vw, 1rem);
    padding-right: max(2vw, 1rem);
}
.padx3 {
    padding-left: max(2.5vw, 2rem);
    padding-right: max(2.5vw, 2rem);
}
.padx4 {
    padding-left: max(3vw, 3rem);
    padding-right: max(3vw, 3rem);
}
.padx5 {
    padding-left: max(3.5vw, 4rem);
    padding-right: max(3.5vw, 4rem);
}
.padx6 {
    padding-left: max(4vw, 5rem);
    padding-right: max(4vw, 5rem);
}
// --------------------------------------*
.pady1 {
    padding-top: max(1.5vw, 0.25rem);
    padding-bottom: max(1.5vw, 0.25rem);
}
.pady2 {
    padding-top: max(2vw, 1rem);
    padding-bottom: max(2vw, 1rem);
}
.pady3 {
    padding-top: max(2.5vw, 2rem);
    padding-bottom: max(2.5vw, 2rem);
}
.pady4 {
    padding-top: max(3vw, 3rem);
    padding-bottom: max(3vw, 3rem);
}
.pady5 {
    padding-top: max(3.5vw, 4rem);
    padding-bottom: max(3.5vw, 4rem);
}
.pady6 {
    padding-top: max(4vw, 5rem);
    padding-bottom: max(4vw, 5rem);
}
// margins----------------------------------------------- */
.mar0 {
    margin: 0;
}
.marx0 {
    margin-left: 0;
    margin-right: 0;
}
.mary0 {
    margin-top: 0;
    margin-bottom: 0;
}
// ---------------------------------------
.mar1 {
    margin: max(1.5vw, 0.25rem);
}
.mar2 {
    margin: max(2vw, 1rem);
}
.mar3 {
    margin: max(2.5vw, 2rem);
}
.mar4 {
    margin: max(3vw, 3rem);
}
.mar5 {
    margin: max(3.5vw, 4rem);
}
.mar6 {
    margin: max(4vw, 5rem);
}
// ---------------------------------------
.marx1 {
    margin-left: max(1.5vw, 0.25rem);
    margin-right: max(1.5vw, 0.25rem);
}
.marx2 {
    margin-left: max(2vw, 1rem);
    margin-right: max(2vw, 1rem);
}
.marx3 {
    margin-left: max(2.5vw, 2rem);
    margin-right: max(2.5vw, 2rem);
}
.marx4 {
    margin-left: max(3vw, 3rem);
    margin-right: max(3vw, 3rem);
}
.marx5 {
    margin-left: max(3.5vw, 4rem);
    margin-right: max(3.5vw, 4rem);
}
.marx6 {
    margin-left: max(4vw, 5rem);
    margin-right: max(4vw, 5rem);
}
// --------------------------------------*
.mary1 {
    margin-top: max(1.5vw, 0.25rem);
    margin-bottom: max(1.5vw, 0.25rem);
}
.mary2 {
    margin-top: max(2vw, 1rem);
    margin-bottom: max(2vw, 1rem);
}
.mary3 {
    margin-top: max(2.5vw, 2rem);
    margin-bottom: max(2.5vw, 2rem);
}
.mary4 {
    margin-top: max(3vw, 3rem);
    margin-bottom: max(3vw, 3rem);
}
.mary5 {
    margin-top: max(3.5vw, 4rem);
    margin-bottom: max(3.5vw, 4rem);
}
.mary6 {
    margin-top: max(4vw, 5rem);
    margin-bottom: max(4vw, 5rem);
}
// --------------------------------------*
.marb1 {
    margin-bottom: max(1.5vw, 0.25rem);
}
.marb2 {
    margin-bottom: max(2vw, 1rem);
}
.marb3 {
    margin-bottom: max(2.5vw, 2rem);
}
.marb4 {
    margin-bottom: max(3vw, 3rem);
}
.marb5 {
    margin-bottom: max(3.5vw, 4rem);
}
.marb6 {
    margin-bottom: max(4vw, 5rem);
}



// .mar1 {
//     margin: max(3vw, 0.5em);
// }
// .mar2 {
//     margin: max(3vw, 1em);
// }
// .mar3 {
//     margin: max(3vw, 2em);
// }
// .mar4 {
//     margin: max(3vw, 4em);
// }

// .marx1 {
//     margin-left: max(3vw, 0.5em);
//     margin-right: max(3vw, 0.5em);
// }
// .marx2 {
//     margin-left: max(3vw, 1em);
//     margin-right: max(3vw, 1em);
// }
// .marx3 {
//     margin-left: max(3vw, 2em);
//     margin-right: max(3vw, 2em);
// }
// .marx4 {
//     margin-left: max(3vw, 4em);
//     margin-right: max(3vw, 4em);
// }
// .mary1 {
//     margin-top: max(3vw, 0.5em);
//     margin-bottom: max(3vw, 0.5em);
// }
// .mary2 {
//     margin-top: max(3vw, 1em);
//     margin-bottom: max(3vw, 1em);
// }
// .mary3 {
//     margin-top: max(3vw, 2em);
//     margin-bottom: max(3vw, 2em);
// }
// .mary4 {
//     margin-top: max(3vw, 4em);
//     margin-bottom: max(3vw, 4em);
// }
// .marb1 {
//     margin-bottom: max(3vw, 0.5em);
// }
// .marb2 {
//     margin-bottom: max(3vw, 1em);
// }
// .marb3 {
//     margin-bottom: max(3vw, 2em);
// }
// .marb4 {
//     margin-bottom: max(3vw, 4em);
// }
// // padiings----------------------------------------------- */
// .pad0 {
//     padding: 0;
// }
// .pad1 {
//     padding: max(3vw, 0.5rem) ;
// }
// .pad2 {
//     padding: max(3vw, 1em);
// }
// .pad3 {
//     padding: max(3vw, 2em);
// }
// .pad4 {
//     padding: max(3vw, 4em);
// }
// .padx1 {
//     padding-left: max(3vw, 0.5em);
//     padding-right: max(3vw, 0.5em);
// }
// .padx2 {
//     padding-left: max(3vw, 1em);
//     padding-right: max(3vw, 1em);
// }
// .padx3 {
//     padding-left: max(3vw, 2em);
//     padding-right: max(3vw, 2em);
// }
// .padx4 {
//     padding-left: max(3vw, 4em);
//     padding-right: max(3vw, 4em);
// }   
// .pady1 {
//     padding-top: max(3vw, 0.5em);
//     padding-bottom: max(3vw, 0.5em);
// }
// .pady2 {
//     padding-top: max(3vw, 1em);
//     padding-bottom: max(3vw, 1em);
// }
// .pady3 {
//     padding-top: max(3vw, 2em);
//     padding-bottom: max(3vw, 2em);
// }
// .pady4 {
//     padding-top: max(3vw, 4em);
//     padding-bottom: max(3vw, 4em);
// }