// text color
.txt-prim {
    color: var(--prim);
}
.txt-prim-actv {
    color: var(--prim-active);
}
.txt-prim-drk {
    color: var(--prim-dark);
}
.txt-prim-lght {
    color: var(--prim-light);
}

.txt-scnd {
    color: var(--second);
}
.txt-scnd-actv {
    color: var(--second-active);
}
.txt-scnd-drk {
    color: var(--second-dark);
}
.txt-scnd-lght {
    color: var(--second-light);
}

.txt-thrd {
    color: var(--third);
}
.txt-thrd-actv {
    color: var(--third-active);
}
.txt-thrd-drk {
    color: var(--third-dark);
}
.txt-thrd-lght {
    color: var(--third-light);
}