{% extends 'new-base.html.twig' %}


    {% block title %}INSIDIOME Blog{% endblock %}
    {% block og_title %}INSIDIOME Blog{% endblock %}

    {% block description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Nos BDSM-tests et Kink-quizzes vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
        Développée par un kinkster pour les kinksters, notre plateforme gratuite est en constante évolution est destinée aux hommes gays, 
        mais les valeurs BDSM transcendent les orientations sexuelles et de genre. 
        Rejoignez-nous pour une expérience de qualité et d'intensité inégalées. 
        Notez que INSIDIOME n'est pas une plateforme de partage de contenu pornographique ni une plateforme commerciale.
    {% endblock %}
    {% block og_description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Nos BDSM-tests et Kink-quizzes vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
        Développée par un kinkster pour les kinksters, notre plateforme gratuite est en constante évolution est destinée aux hommes gays, 
        mais les valeurs BDSM transcendent les orientations sexuelles et de genre. 
        Rejoignez-nous pour une expérience de qualité et d'intensité inégalées. 
        Notez que INSIDIOME n'est pas une plateforme de partage de contenu pornographique ni une plateforme commerciale.
    {% endblock %}

    {% block keywords %}mode de vie BDSM, kink quiz, bdsm test, pratiquer le BDSM{% endblock %}

    {% block canonical %}http://silenus.fr/home{% endblock %}
    {% block og_link %}http://silenus.fr/home{% endblock %}

    {% block og_image %}{{randomBanner}}{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
    <style>
        .category__box{
            padding: 0.5rem;
            margin: 0.5rem;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/blog-bando.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">
        {# ------------------------------------------------------------------------------- #}
        {# header----------------------------------------------------------------------- #}
        {% include "front/partials/headerBlogUP.html.twig" 
            with {
                title: 'Article',
                idDown: "1",
                banner: randomBanner,
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
        <a href="{{ path('app_home') }}" class="butn butn-prim " ><i class="fas fa-home"></i> <span class="label1">Home</span></a>
        <a href="{{ path('app_test_list') }}" class="butn butn-prim" ><i class="fas fa-dice"></i><span class="label1">Tests</span></a>
        <a href="{{ path('app_blog') }}" class="butn butn-third" ><i class="fas fa-book-reader"></i><span class="label1">Blog</span></div>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim" ><i class="fas fa-gopuram"></i><span class="label1">NSDM</span></a>

        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">

        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor bk-drk3 shdw-in-D pad1">
            <h2 class="info1 txt-soft pad2">
                <span class="title3 txt-second">{{article.nom}}<span>
            </h2>
            <div class="txt-soft bk-drk2 shdw-in-D brdr-rad5 pad2">
                <artcile class="article__content ">
                    {{article.contenu | raw}}
                </article>
            </div>
        </section> 
        <hr class="hr-blk">   
            
        {# ------------------------------------------------------------ #}
        {% include "front/partials/sectionMajorUp.html.twig" 
            with {
                idSection: "2",
                title: "Commentaires",
                idUp: "1",
                idDown: "3",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
      
        <div class=" disp-col-start pad1 ">
            {% if not comments %}
                <h4 class="sub-title3 txt-second-light txt-center">Pas encore de commentaires</h4>
            {% else %}
                <h3 class="title3 txt-second padx1">Derniers Message</h3>
                <hr class="hr-soft">
            {% endif %}    
            {% for comment in comments %}
                <div class="fluidx bk-drk2 shdw-in-D brdr-rad5 pad1">
                    <div class=" disp-col-center">
                        {# <h4 class="title4 txt-prim-light">{{ factor.nom }}</h4> #} 
                        <div class=" disp-spbtwn fluidx padx1">
                            {# link ton user profile #}
                            <a href="{{ path('app_profil', {'userSlug': comment.user.userSlug}) }}" class="title4 txt-prim">{{ comment.user|capitalize }} </a>

                            {# <div class="title4 txt-second"> {{ comment.user|capitalize }}  </div> #}
                            <div class="sub-title2 txt-third"> <b>{{ comment.value }}/10</b> </div>
                            <div class="info1 txt-soft"> {{ comment.createdAt | date('d/m/Y') }} </div>
                            
                        </div>
                    </div>
                    <div class="">
                        <div class="txt-soft brdr-rad5 shdw-in-D pad1">
                            {{ comment.msg }}
                        </div>
                        {% if comment.answ %}
                            <hr class="hr-soft">
                            <div class="txt-end">
                                <div class="accordion__answ__head txt-soft">
                                     Answer - {{ comment.answAt | date('d/m/Y') }} : 
                                    <span class="title4 txt-second txt-end">INSIDIOME</span><br>
                                </div>
                                <div class="txt-soft brdr-rad5 shdw-in-D pad1">
                                    {{ comment.answ | raw }}
                                </div>    
                            </div>
                        {% endif %}
                    </div>
                </div>
                <hr class="hr-soft">
                {% endfor %}
                <div class="pad1"></div>
                {% if app.user %}
                    <div id="comment" class="disp-col-center shdw-in-D brdr-rad5 fluidx pad2">
                        <h3 class="title4 txt-second padx1 txt-center">Vous avez aimé ce test ?<br></h3>
                        <p class="info1 txt-prim-light txt-center">Encouragez moi avec un commentaire !</p>
                        <p class="info1 txt-danger txt-center">{{ message }}</p>
                        <hr class="hr-soft">
                        {{ form_start(form, {'attr': {'class': 'fluidx'}}) }}
                            <span class="info1 txt-soft">Votre note de 1 à 10</span>
                            {{ form_row(form.value) }}
                            <span class="info1 txt-soft">Votre message (max 400 caract)</span>
                            {{ form_row(form.msg, {'attr': {'class': 'fluidx'}}) }}
                            <button class="butn butn-prim">{{ button_label|default('enregister') }}</button>
                        {{ form_end(form) }}
                    </div>
                {% endif %}
            </div>


        </div>
        {% include "front/partials/sectionMajorDown.html.twig" %}
        <hr class="hr-blk">

       {# ----------------------------------------------- #}
        {# ------------------------------------------------------------ #}
        {% include "front/partials/sectionMajorUp.html.twig" 
            with {
                idSection: "2",
                title: "Articles similaires",
                idUp: "1",
                idDown: "3",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
        <section  class="section__minor bk-drk3 shdw-in-D pad1">
            <h2 class="info1 txt-soft pad2">
                <span class="title3 txt-second">Soon<span>
            </h2>

        </section>             
            

        {% include "front/partials/sectionMajorDown.html.twig" %}
        <hr class="hr-blk">

       {# ----------------------------------------------- #}
    
        {# ------------------------------------------------------------ #}
        {% include "front/partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}