{% extends 'new-base.html.twig' %}


    {% block title %}INSIDIOME Blog{% endblock %}
    {% block og_title %}INSIDIOME Blog{% endblock %}

    {% block description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Nos BDSM-tests et Kink-quizzes vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
        Développée par un kinkster pour les kinksters, notre plateforme gratuite est en constante évolution est destinée aux hommes gays, 
        mais les valeurs BDSM transcendent les orientations sexuelles et de genre. 
        Rejoignez-nous pour une expérience de qualité et d'intensité inégalées. 
        Notez que INSIDIOME n'est pas une plateforme de partage de contenu pornographique ni une plateforme commerciale.
    {% endblock %}
    {% block og_description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Nos BDSM-tests et Kink-quizzes vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
        Développée par un kinkster pour les kinksters, notre plateforme gratuite est en constante évolution est destinée aux hommes gays, 
        mais les valeurs BDSM transcendent les orientations sexuelles et de genre. 
        Rejoignez-nous pour une expérience de qualité et d'intensité inégalées. 
        Notez que INSIDIOME n'est pas une plateforme de partage de contenu pornographique ni une plateforme commerciale.
    {% endblock %}

    {% block keywords %}mode de vie BDSM, kink quiz, bdsm test, pratiquer le BDSM{% endblock %}

    {% block canonical %}http://silenus.fr/home{% endblock %}
    {% block og_link %}http://silenus.fr/home{% endblock %}

    {% block og_image %}{{randomBanner}}{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
    <style>
        .category__box{
            padding: 0.5rem;
            margin: 0.5rem;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/blog-bando.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">
        {# ------------------------------------------------------------------------------- #}
        {# header----------------------------------------------------------------------- #}
        {% include "front/partials/headerBlogUP.html.twig" 
            with {
                title: categorie.nom,
                idDown: "1",
                banner: randomBanner,
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
        <a href="{{ path('app_home') }}" class="butn butn-prim " ><i class="fas fa-home"></i> <span class="label1">Home</span></a>
        <a href="{{ path('app_test_list') }}" class="butn butn-prim" ><i class="fas fa-dice"></i><span class="label1">Tests</span></a>
        <a href="{{ path('app_blog') }}" class="butn butn-third" ><i class="fas fa-book-reader"></i><span class="label1">Blog</span></div>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim" ><i class="fas fa-gopuram"></i><span class="label1">NSDM</span></a>

        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">

        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor bk-drk3 shdw-in-D pad3">
            <h2 class="info1 txt-soft">
            
            {% if categorie.parent  %}{% if categorie.parent.parent  %}{{categorie.parent.parent.nom}} / {% endif %}{{categorie.parent.nom}} / {% endif %} <br>
            <span class="title3 txt-second">{{categorie.nom}}<span>
            <h2>

        <span class="txt-second-active"></span></h2>
            
            <hr class="hr-soft">
            <article class="info1 txt-soft">
                {{categorie.presentFr | raw}}
            </article>
            <hr class="hr-soft">
            <h3 class="sub-title3 txt-second-light">{{categorie.articles | length }} articles</h3>
        </section>
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
        {% include "front/partials/sectionMajorUp.html.twig" 
            with {
                idSection: "1",
                title: "Les Articles",
                idUp: "present",
                idDown: "2",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
        <h3 class="title3 txt-second mar0">Dans cette Catégorie :</h3>
        <hr class="hr-soft">
        <section class="disp-col-center">
            {% for article in categorie.articles %}
            
                <article class="crd__lng  bk-drk2 shdw-in-D">
                    <div class="disp-spbtwn">
                        <img src="{{ randomBanner }}" class="fluidx card__lng__img" alt="{{article.nom}}">
                        <div class="crd__lng__content disp-col-center fluid">
                            <h4 class="title4 txt-prim-light">{{article.nom}}</h4>
                            {% set now = date() %}
                            {% if article.updatedAt|date_modify('+1 week') > now %}
                                <hr class="hr-soft mar0">
                                <h3 class="sub-title3 txt-third">new</h3>
                            {% endif %}
                        </div>
                        <a href="{{ path('app_blog_article', {articleSlug: article.slug}) }}"
                        class="butn-vertical butn-prim">
                            <i class="fas fa-eye"></i>
                        </a>  
                    </div>
                    <div class="crd__lng__footer disp-center shdw-in-D txt-soft pad2">
                        {{  article.descFr | raw }}
                    </div>
                </article>
                <hr class="hr-soft">
            {% endfor %}
        </section>    
        {# ------------------------------------------------------------ #}

        {% include "front/partials/sectionMajorDown.html.twig" %}
        <hr class="hr-blk">
       {# ----------------------------------------------- #}
       
        {# ------------------------------------------------------------ #}
        {% include "front/partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}
    </main>

    
{% endblock %}