<div class="crd disp-col-center shdw-in-D bk-drk1 brdr-shdw-L marx2">
    
    {% if test.image is not null %} 
        <div class="crd__img" style="background-image: url({{ asset('build/img/mapped/square/test/' ~ test.image ) }});"> 
        {# <img src="{{ asset('build/img/mapped/square/test/' ~ test.image ) }}" class="fluidx" alt="{{ test.name }}"> #}
    {% else %}
        <div class="crd__img" style="background-image: url({{ asset('build/img/gen/default.jpg') }});">
        {# <img src="{{ asset('build/img/gen/default.jpg') }}" class="fluidx" alt="{{ test.name }}"> #}
    {% endif %}
    </div>
    <div class="crd__content disp-col-center pad1">
        <h3 class="title3 txt-second mar0 notranslate" translate="no">{{ test.name }}</h3>
        <h4 class="sub-title2 txt-soft notranslate" translate="no">{{ test.testType }}</h4>
        <hr class="hr-soft">
        {% if lang is same as 'fr' %} 
            <p class="txt-second-light">{{ test.sousTitre }}</p>
        {% else %}
            <p class="txt-second-light">{{ test.subTitle }}</p>
        {% endif %}
        <a href="{{ path('app_test', {'testSlug': test.testSlug}) }}" class="butn butn-prim btn-sm m-2">
            <i class="fas fa-eye"></i>
        </a>
    </div>       
</div>