<div id="testCarousel" class="carousel slide fludix" data-bs-ride="carousel" data-interval="1000">
    <div class="carousel-indicators">
        {% for test in tests %}
            {% if test.isActive == true %}
                <button type="button" data-bs-target="#testCarousel" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ loop.index }}"></button>
            {% endif %}
        {% endfor %}
    </div>

    <div class="carousel-inner pad3">
        {% for test in tests %}
            {% if test.isActive == true %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <section class="fluidx disp-center">
                        {% include "front/component/cardTestFR.html.twig" %}
                    </section>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#testCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#testCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



 
                       
