.accordion__item {
    // max-width: 400px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.accordion__item__content {
    height : 0px;
    visibility: hidden;
    padding: 0px;
    transition: height 0.5s ease-out;
    color: var(--soft);
    font-size: max(1.1vw, 0.9em);
    font-family: 'Roboto', sans-serif;

}

.accordion__item:hover {
    .accordion__item__content{
        visibility: visible;
        height: auto;
        // padding-left: max(3vw, 1em);
        // padding-right: max(3vw, 1em);
        color: var()
    }
    .accordion__txt {
        padding: max(2vw, 6px);

    }
    .accordion__answ__head{
        padding-right: max(2vw, 6px);
    }
}
