aside {
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 360px;
    height: 100vh;
    display: flex;
    border: 2px solid black;
}

.aside__content {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

@media (max-width: 992px) {
    aside {
        max-width: 280px;
    }
}

@media (max-width: 768px) {
    aside {
        width: 0px;
        visibility: hidden;
        padding: 0px;
    }
    .aside__content {
        width: 0px;
        visibility: hidden;
    }
}  