.card__article {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.card__article__content div{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.card__article__content div{
    color : white;

}

.article__content div {
    color : white;
}