.crd {
    max-width: 400px;
    min-width: 300px;
    border-radius: 10px;
    overflow: hidden;

}
.crd__img {
    width: 100%;
    max-width: 400px; 
    min-height: 300px;
    background-size: cover;
    background-position: center;
}

.crd__present {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.crd__present__img {
    width: 100%;
    max-width: 400px; 
    min-width: 300px;
}

.crd__present__img img {
    max-width: 100%;
}

.crd__present__content {
    flex:1
}

.crd__lng {
    width: 100%;
    max-width: 500px;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
}

.crd__lng:hover {
    transform: scale(1.05);
}

.crd__lng:hover .crd__lng__footer {
    visibility: visible;
    height: auto;
    flex-wrap: wrap;
    padding: 15px;
}

.card__lng__img {
    width: 80px;
}

.crd__lng__footer {
    height : 0px;
    visibility: hidden;
    padding: 0;
}

@media (max-width: 992px) {
    .crd__present {
        max-width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .crd__present__img {
        width: 100%;
    
    }
}

@media (max-width: 768px) {

}