.ghost__body__container {
    width: 100%;
    max-width: 1128px;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0; 
    padding: 10px;
    background-color: yellow;
}

.ghost__aside {
    width: 100%;
    max-width: 360px;
    height: 100vh;
    display: flex;
    border: 2px solid black;
    padding: 10px;
    background-color: blue;
} 

.ghost__main__container {
    width: 100%;    
    max-width: 768px;
    display:flex;
    flex-direction: column;
    position: relative;
    padding: 10px;
    background-color: green;
}


