
.main__header {
    width: 100%;
    max-width: 768px;
    // height: 100%;  
    // min-height: 100vh;  
}

.main__header__banner {
    position: relative;
    // height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.main__header__banner__present {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__header__present {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__header__present--content {
    width: 100%;
    border-radius: 7px;
    // background-color: rgba(0,0,0,0.5);
}

// .test__result__header {
//     width: 100%;
//     height: 100%;
// }
// .test__result__header img {
//     width: 100%;
//     max-width: 300px;

// }
// .test__result__header__present {
//     flex:1;
// }

@media (max-width: 768px) {
  


}  
@media (max-width: 576px) {

 
}  


