.header__nav, .footer__nav {
    width: 100%;
}
.header__nav--list, .footer__nav--list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;

}

.nav__up-down {
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex ;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
}
// .nav__up-down {
//     min-height: 100px;
// }

nav ul {
    list-style-type: none; 
}
  
nav li {
    display: inline-block;
}
  
nav a {
    // display: block;
    text-decoration: none;
}

@media (max-width: 768px) {
    .footer__nav--list {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
} 
 