.pagination {

    .current {
        display: inline-block;
        padding: 5px 15px;
        margin: 5px 2px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px; 
        text-decoration: none;  
        font-family: 'Roboto', sans-serif;
        background-color:  var(--prim-active);
        font-size: max(1vw, 0.8em);
        color: white;
    }
  
    .page, .first, .last, .previous, .next {
      > a {
        display: inline-block;
        padding: 5px 15px;
        margin: 5px 2px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 4px; 
        text-decoration: none;  
        font-family: 'Roboto', sans-serif;
        background-image: linear-gradient(to bottom, var(--prim), var(--prim-dark2));
        font-size: max(1vw, 0.8em);
        color: white;
  
        &:hover {
            background-image: linear-gradient(to bottom, var(--prim-active), var(--prim-dark));
            color: black;
        }
      }
    }
  }