
@import 'accordion.scss';
@import 'aside.scss';
@import 'card.scss';
@import 'divers.scss';
@import 'footer.scss';
@import 'header.scss';
@import 'main.scss';
@import 'modal.scss';
@import 'nav.scss';
@import 'pagination.scss';
@import 'section.scss';
@import 'test.scss';
@import 'blog.scss';


body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: black;
}

.body__container {
    width: 100%;
    max-width: 1128px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media (max-width: 992px) {
    // .body__container {
    //     max-width: 768px;
    // }
}

@media (max-width: 768px) {

}  


