.test_header {
    width : 100%;
    position : relative;
}

.test_menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-test-container {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:  rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.card-test-container:not(:first-child) {
    display: none;
  }
  
  .card-test-container.flipped {
    transform: rotateY(180deg);
  }
  
  .card-test-container.flipped .card-test {
    transform: rotateY(180deg);
  }

.testrun {
    width: 100%;
    max-width: 576px;
    height: 500px;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color:  rgba(0, 0, 0, 0.5);;
    border-radius: 10px;


}

.testrun__question {
    width: 100%;
    border-radius: 5px;
}

.testrun__consent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1rem;
    padding: 0px;

}

.testrun__consent__text {
    font-family: 'Anton', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
}

.testrun__choices {
    width: 100%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // background: linear-gradient(90deg, red, yellow, green );

    .form-check-container {
        display: flex;
        justify-content: space-evenly;
        background: linear-gradient(90deg, red, yellow, green );
        border-radius: 5px;
    }

    form {
        width: 100%;
    }

    fieldset {
        width: 100%;
    }

    div {
        width: 100%;
    }

    .form-check {
        margin: 0px;
        padding: 0px;
        display: flex;
        justify-content: center;
    }

    .form-check-input {
        margin: 10px;
        padding: 0px;
    }

    .form-check-label {
        display: none;
        
    }

    label {
        display: none;
    }


    .txt-resA {
        color: green;
        font-weight: bold;
    } 
    .txt-resB {
        color: greenyellow;
        font-weight: bold;
    }
    .txt-resC {
        color: yellow;
        font-weight: bold;
    }
    .txt-resD {
        color: orange;
        font-weight: bold;
    }
    .txt-resE {
        color: red;
        font-weight: bold;
    }   


}

.test__result {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}