{{ form_start(form) }}
    <div class="row">
        <div class="col-12 marb1">
            {{ form_label(form.nom, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-12 marb1">
            {{ form_label(form.slug, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.slug, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-12 marb1">
            {{ form_label(form.descFR, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.descFR, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-6 marb1">
            {{ form_label(form.isPrem, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.isPrem, {'attr': {'class': 'form-check-input'}}) }}
        </div>
        <div class="col-6 marb1">
            {{ form_label(form.isPrivate, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.isPrivate, {'attr': {'class': 'form-check-input'}}) }}
        </div>
        <div class="col-12 marb1">
            {{ form_label(form.parent, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.parent, {'attr': {'class': 'form-control'}}) }}
        </div>
        <button class="btn butn-prim mar marb1">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}

{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-sm btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}
