<form method="post" action="{{ path('app_back_factor_delete', {'id': factor.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ factor.id) }}">
    <button class="btn btn-sm btn-danger marx1"><i class="fas fa-trash"></i></button>
</form>
