{{ form_start(form) }}
    <div class="row">
        <div class="col-6 marb1">
            {{ form_label(form.nom, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-6 marb1">
            {{ form_label(form.name, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-12 marb1">
            {{ form_label(form.descFr, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.descFr, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-12 marb1">
            {{ form_label(form.descEng, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.descEng, {'attr': {'class': 'form-control'}}) }}
        </div>

        {# <div class="col-12 marb1">
            {{ form_label(form.major, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.major, {'attr': {'class': 'form-control'}}) }}
        </div> #}

        <button class="btn butn-prim mar marb1">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
