{% extends 'skynn1.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}Admin Kinksters{% endblock %}


    {% block description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Une plateforme gratuite développée par un kinkster pour les kinksters.
        Nos BDSM-tests, Kink-quiz et des artciles vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
    {% endblock %}
    
    {% block robots %}index,unfollow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('skynn') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
 {# --------------------------------------------------------------------------------- #}
    {# aside left----------------------------------------------------------------------- #}
    <aside class="aside-left bk-drk3 shdw-in-drk4 mar3" style="background-image: url({{ asset('build/img/gen/back1.jpg') }});">

    </aside>
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

    
    <section class="trunk fluid disp-col-start bk-drk2 shdw-in-drk4 pad3">

        <nav class="disp-spbtwn fluid brdr-rad10 shdw-in-drk4 pad3">
            <h1 class="title2 text-light">Kinksters Board</h1>
            <a href="#" class="butn butn-prim marx1">+</a>
        </nav>
        <div class="pad1"></div>
        {# --------------------------------------------------------------------------------- #}
        {# Nav    -------------------------------------------------------------------------- #}


        {# Nav end  ------------------------------------------------------------------------ #}
        {# --------------------------------------------------------------------------------- #}

        {# --------------------------------------------------------------------------------- #}
        {# Main      ----------------------------------------------------------------------- #}

        <section class="disp-col-center fluid bk-drk4 shdw-in-drk4 pad3">
            <h2 class="title3 text-light">Tests Board</h2>
            
        </section>

        {# Main end  ----------------------------------------------------------------------- #}
        {# --------------------------------------------------------------------------------- #}


    </section>

    {# --------------------------------------------------------------------------------- #}
    {# aside Rigth----------------------------------------------------------------------- #}
    <aside class="aside-right bk-drk3 shdw-in-drk4" style="background-image: url({{ asset('build/img/gen/back1.jpg') }});">
        <section class="aside-content disp-col-center">
            <h2 class="title3 text-light">Admin Board Menu</h2>
            {% include "adminBoard/partials/menuMain.html.twig" %}
        </section>
    </aside>
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}
   
   
{% endblock %}