{% extends 'new-base.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}Sujet INSIDIOME{% endblock %}
    {% block og_title %}Sujet INSIDIOME{% endblock %}

    {% block description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Une plateforme gratuite développée par un kinkster pour les kinksters.
        Nos BDSM-tests, Kink-quiz et des artciles vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
    {% endblock %}
    {% block og_description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Une plateforme gratuite développée par un kinkster pour les kinksters.
        Nos BDSM-tests, Kink-quiz et des artciles vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
    {% endblock %}

    {% block keywords %}mode de vie BDSM, BDSM France, fetish France, pratiquer le BDSM, gay BDSM France{% endblock %}

    {% block canonical %}https://www.insidiome.com/forum{% endblock %}
    {% block og_link %}https://www.insidiome.com/forum{% endblock %}

    {% block og_image %}{{randomBanner}}{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}


    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {{ encore_entry_script_tags('app') }}
    <script>
        window.onload = function() {
            const modalTest = new bootstrap.Modal('#modalTest');
            
            // Délai de 500 millisecondes
            setTimeout(function() {
                modalTest.show(); 
            }, 700);
        }  
    </script> 

{% endblock %}

{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/home-bando.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">
        {# ------------------------------------------------------------------------------- #}
        {# header----------------------------------------------------------------------- #}
        {# menu----------------------------------------------------------------------- #}
        

        {#  content Beginning------------------------------------------------------------ #}
        <section class="section__minor disp-center vh100 bk-drk3 shdw-in-D pad1" >
            <div class="section__minor fluidx brdr-rad10 bk-drk3 shdw-in-D pad2">
                <h2 class="title3 txt-second">{{ subject.titre }}</h2>
                <p class="info1 txt-second-light">Saisissez votre commentaire</p>
                <hr class="hr-soft">
                {# <form action="{{ path('app_forum_subject_add_message', {slugFr: subject.slugFr}) }}" method="post">
                    <div class="form-group
                        {% if errors.comment is defined %} 
                            has-error 
                        {% endif %}">
                        <div class="info1 txt-prim-light">Commentaire</div>
                        <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                        {% if errors.comment is defined %} 
                            <div class="form-text text-danger">{{ errors.comment }}</div>
                        {% endif %}
                    </div>
                    <button class="butn butn-prim mary1" type="submit">Enregistrer</button>
                </form> #}

                
                {{ form_start(form )}} 
                    {# <div class="form-group mary1">
                        <div class="info1 txt-prim-light">Commentaire</div> #}
                        {{ form_row(form.content) }}
                    {# </div> #}
                    
                    <button class="butn butn-prim mary1" type="submit">Enregistrer</button>
                {{ form_end(form) }}{# form to create a new section #}
            </div>

            

        </section>
        {# <div class="modal fade" id="popModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bk-drk2 shdw-in-D pad2">

                </div>
            </div>
        </div> #}
        {#  content end------------------------------------------------------------ #} 
        {# ------------------------------------------------------------------------ #}

        {# ------------------------------------------------------------ #}

        {# ------------------------------------------------------------ #}


        {# ------------------------------------------------------------------------ #}
        {#  Modals     ------------------------------------------------------------ #} 
        <div class="modal fade" id="addSectionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bk-drk3 shdw-in-D pad1">
                    <h2 class="title3 txt-second">Ajouter une section</h2>
                    <hr class="hr-soft">
 
                </div>
            </div>
        </div>

        <div class="modal fade" id="remainModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bk-drk3 shdw-in-D">
                    {% include "front/home/content/presentEN.html.twig" %}
                </div>
            </div>
        </div>
              
        {#  End Modals ------------------------------------------------------------ #} 
        {# ------------------------------------------------------------------------ #}

    </main>

    
{% endblock %}