{% extends 'new-base.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}Sujet INSIDIOME{% endblock %}
    {% block og_title %}Sujet INSIDIOME{% endblock %}

    {% block description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Une plateforme gratuite développée par un kinkster pour les kinksters.
        Nos BDSM-tests, Kink-quiz et des artciles vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
    {% endblock %}
    {% block og_description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Une plateforme gratuite développée par un kinkster pour les kinksters.
        Nos BDSM-tests, Kink-quiz et des artciles vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
    {% endblock %}

    {% block keywords %}mode de vie BDSM, BDSM France, fetish France, pratiquer le BDSM, gay BDSM France{% endblock %}

    {% block canonical %}https://www.insidiome.com/forum{% endblock %}
    {% block og_link %}https://www.insidiome.com/forum{% endblock %}

    {% block og_image %}{{randomBanner}}{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}


    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    
    {{ encore_entry_script_tags('app') }}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>




{% endblock %}

{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/home-bando.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">
        {# ------------------------------------------------------------------------------- #}
        {# header----------------------------------------------------------------------- #}
        {# menu----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        <div class="butn butn-second marx1" ><i class="fas fa-home"></i> <span class="label1">Accueil</span></div>
        <a href="{{ path('app_test_list') }}" class="butn butn-prim " ><i class="fas fa-dice"></i><span class="label1">Tests</span></a>
        {# <a href="{{ path('app_blog') }}" class="butn butn-prim" ><i class="fas fa-book-reader"></i><span class="label1">Blog</span></a> #}
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim" ><i class="fas fa-gopuram"></i><span class="label1">NSDM</span></a>
        {# <a href="{{ path('app_wall') }}" class="butn butn-prim marx1" ><i class="fas fa-users"></i><span class="label1">BLOG</span></a>
        <a href="{{ path('app_insidiome') }}" class="butn butn-prim marx1" ><i class="fas fa-vihara"></i><span class="label1">INSIDIOME</span></a> #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/headerBlogUP.html.twig" 
            with {
                title: "Sujet",
                idDown: "1",
                banner: randomBanner,
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}

        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">

        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor bk-drk3 shdw-in-D pad3">
            <h2 class="title3 txt-second">{{ subject.titre }}</h2>
            <p class="info1 txt-second-light">{{ subject.descrFr }}</p>
            <hr class="hr-soft">
            {% if messages %}
                {% for message in messages %}
                    <p class="info1 txt-soft">{{ message.kinkster.pseudo }}</p>
                    <p class="info1 txt-soft">{{ message.updatedAt | date("Y/m/d H:i:s", "Europe/Paris") }}</p>
                    <p class="info1 txt-prim-light">{{ message.contenu }}</p>
                    <hr class="hr-soft">
                {% endfor %}
            {% else %}
                <p class="title3 txt-second">Aucun message</p>
            {% endif %}
            {# link to #[Route('/forum/subject/add-message/{slugFr}', name: 'app_forum_subject_add_message')] #}
            <a href="{{ path('app_forum_subject_add_message', {'slugFr': subject.slugFr}) }}" class="butn butn-prim" >
                <i class="fas fa-plus"></i><span class="label1">Ajouter un message</span>
            </a>

                {# {{ form_start(formSection, {'attr': {'id': 'addSectionForm'}}) }}
                    <div class="form-group">
                        <div class="info1 txt-prim-light">Titre</div>
                        {{ form_row(formSection.titre) }}
                    </div>
                    <hr class="hr-soft">
                    <div class="form-group">
                        <div class="info1 txt-prim-light">Description</div>
                        {{ form_row(formSection.descrFr) }}
                    </div>
                    <hr class="hr-soft">
                    <div class="form-group">
                        <div class="info1 txt-prim-light">Place</div>
                        {{ form_row(formSection.place) }}
                    </div>
                    <hr class="hr-soft">
                    <div class="form-group">
                        <div class="info1 txt-prim-light">Actif ?</div>
                        {{ form_widget(formSection.isActive) }}
                    </div>
                    <hr class="hr-soft">
                    <div class="form-group">
                        <div class="info1 txt-prim-light">Privé ?</div>
                        {{ form_widget(formSection.isPrivate) }}
                    </div>
                    <hr class="hr-soft">
                    <button class="butn butn-prim" type="submit">Submit</button>
                {{ form_end(formSection) }}
            <div id="sectionReponse" class="txt-prim"></div> #}

            {# form to create a new section #}
            

        </section>
        {#  content end------------------------------------------------------------ #} 
        {# ------------------------------------------------------------------------ #}

        {# ------------------------------------------------------------ #}
        {% include "front/partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}


        {# ------------------------------------------------------------------------ #}
        {#  Modals     ------------------------------------------------------------ #} 
        <div class="modal fade" id="addSectionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bk-drk3 shdw-in-D pad1">
                    <h2 class="title3 txt-second">Ajouter une section</h2>
                    <hr class="hr-soft">
 
                </div>
            </div>
        </div>

        <div class="modal fade" id="remainModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bk-drk3 shdw-in-D">
                    {% include "front/home/content/presentEN.html.twig" %}
                </div>
            </div>
        </div>
              
        {#  End Modals ------------------------------------------------------------ #} 
        {# ------------------------------------------------------------------------ #}

    </main>

    
{% endblock %}