{% extends 'new-base.html.twig' %}

    {% block lang %} en {% endblock %}
    {% block title %}INSIDIOME Tests & Quizzes{% endblock %}
    {% block og_title %}INSIDIOME Tests & Quizzes{% endblock %}

    {% block description %}
        INSIDIOME offers you BDSM tests, Kink quizzes.
        It will help you better identify your wants and needs.
        This will allow you to enter into a more qualitative, intense and safe experience of power exchange.
    {% endblock %}
    {% block og_description %}
        INSIDIOME offers you BDSM tests, Kink quizzes.
        It will help you better identify your wants and needs.
        This will allow you to enter into a more qualitative, intense and safe experience of power exchange.
    {% endblock %}

    {% block keywords %}BDSM quiz, BDSM test, kink quiz, kink test, BDSM games, kink games, bdsmtest{% endblock %}

    {% block canonical %}https://insidiome.com/kink-and-bdsm-tests/list{% endblock %}
    {% block og_link %}https://insidiome.com/kink-and-bdsm-tests/list/{% endblock %}

    {% block og_image %}https://www.insidiome.com/build/img/gen/test-ban.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/test-bando.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">
        {# ------------------------------------------------------------------------------- #}
        {# header----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainUp.html.twig" 
            with {
                title: "Tests",
                idDown: "1",
                banner: "build/img/gen/test-ban.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}

        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">

        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor bk-drk3 shdw-in-D pad3">
            <h2 class="title3 txt-second"><span class="txt-second-active">Tests </span>presentation</h2>
            {# <h2 class="sub-title3 txt-second-light">Présentation</h2> #}
            <div class=" section__minor__content shdw-in-D brdr-rad5 marx1 mary2 padx1 pady2">
                <section class="section__minor__content__presentation">
                    {# tanslation in english : #}
                    <p class="info1 txt-soft">Socrate, the philosopher said: "Know yourself".</p>
                    <p class="info1 txt-soft">We are full of various and varied impulses. Exploring our kinks and BDSM is not just a valve to purge these impulses.</p>
                    <p class="info1 txt-soft">If we have these impulses it is because they are part of us. Looking at them in the face is much more powerful and interesting than denying them.</p>
                    <p class="info1 txt-soft">As long as things are done between consenting adults, there is no harm.</p>
                    <p class="info1 txt-soft">To evolve and improve, to flourish and progress, it is necessary to become aware of your experience.</p>
                    <p class="info1 txt-soft">Through these tests, this platform offers you to explore your inner language.</p>
                    <p class="info1 txt-second">Other tests will be available very soon 😉</p>
                    <p class="info1 txt-soft">Know yourself!</p>
                    <p class="info1 txt-soft">INSIDIOME</p>
                </section>
            </div>
        </section>
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
        {% include "front/partials/sectionMajorUp.html.twig" 
            with {
                idSection: "1",
                title: "All Tests",
                idUp: "present",
                idDown: "2",
                banner: "build/img/gen/banner2.jpg",
            } 
        %}
        <div class="disp-center pad1">!
            <h3 class="title3 txt-second">5 tests available !</h3>
        </div>    
        {% include "front/component/carouselTest.html.twig" %}


        {% include "front/partials/sectionMajorDown.html.twig" %}
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}

        {% include "front/partials/sectionMajorUp.html.twig" 
            with {
                idSection: "2",
                title: "Catégories",
                idUp: "1",
                idDown: "2",
                banner: "build/img/gen/banner2.jpg",
            } 
        %}

            <section  class="section__minor brdr-rad10 bk-drk3 shdw-in-D pad1">
                <h2 class="title3 txt-second">Test ranking <span class="txt-second-active"></span></h2>
                <h2 class="sub-title2 txt-second-light">To choose wisely<span class="txt-second-active"></span></h2>
                <hr class="hr-soft">
                <section  class="section__minor brdr-rad5  bk-drk3 shdw-in-D pad1">
                    <h3 class="title4 txt-second">Basics</h3>
                    <h3 class="sub-title3 txt-second-light">To begin</h3>
                    <hr class="hr-soft">
                    {% for test in tests %}
                        {% if test.advanced == false %}
                            {% include "front/test/content/crdTestLng.html.twig" %}
                        {% endif %}
                    {% endfor %}
                </section>  
                <hr class="hr-blk">
                <section  class="section__minor brdr-rad5  bk-drk3 shdw-in-D pad1">
                    <h3 class="title4 txt-second">Generics</h3>
                    <h3 class="sub-title3 txt-second-light">Whether you are dominant or submissive</h3>
                    <hr class="hr-soft">
                    {% for test in tests %}
                        {% if test.isGen == true %}
                            {% include "front/test/content/crdTestLng.html.twig" %}
                        {% endif %}
                    {% endfor %}
                </section>  
                <hr class="hr-blk">  
                <section  class="section__minor brdr-rad5  bk-drk3 shdw-in-D pad1">
                    <h3 class="title4 txt-second">Advanced</h3>
                    <h3 class="sub-title3 txt-second-light">For further</h3>
                    <hr class="hr-soft">
                    {% for test in tests %}
                        {% if test.advanced == true %}
                            {% include "front/test/content/crdTestLng.html.twig" %}
                        {% endif %}
                    {% endfor %}
                </section>  
                <hr class="hr-blk">
                <section  class="section__minor brdr-rad5  bk-drk3 shdw-in-D pad1">
                    <h3 class="title4 txt-second">Subs</h3>
                    <h3 class="sub-title3 txt-second-light">For submissive</h3>
                    <hr class="hr-soft">
                    {% for test in tests %}
                        {% if test.isSub == true %}
                            {% include "front/test/content/crdTestLng.html.twig" %}
                        {% endif %}
                    {% endfor %}
                </section>  
                <hr class="hr-blk">
                <section  class="section__minor brdr-rad5  bk-drk3 shdw-in-D pad1">
                    <h3 class="title4 txt-second">Doms</h3>
                    <h3 class="sub-title3 txt-second-light">For dominats : available soon...!</h3>
                    <hr class="hr-soft">
                    {% for test in tests %}
                        {% if test.isDom == true %}
                            {% include "front/test/content/crdTestLng.html.twig" %}
                        {% endif %}
                    {% endfor %}
                </section>  
            </section>    


        {% include "front/partials/sectionMajorDown.html.twig" %}
        <hr class="hr-blk">
       
        {# ------------------------------------------------------------ #}
        {% include "front/partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}