{% extends 'new-base.html.twig' %}

    {% block lang %} fr {% endblock %}
    {% block title %}INSIDIOME Tests & Quiz{% endblock %}
    {% block og_title %}INSIDIOME Tests & Quiz{% endblock %}

    {% block description %}
        INSIDIOME vous propose des tests BDSM, des quiz Kink. 
        Il vous aideront a mieux identifier vos envies et besoins. 
        Ceci vous permettra de rentrer dans une expérience de l’échange de pouvoir plus qualitative, intense et safe.
    {% endblock %}
    {% block og_description %}
        INSIDIOME vous propose des tests BDSM, des quiz Kink. 
        Il vous aideront a mieux identifier vos envies et besoins. 
        Ceci vous permettra de rentrer dans une expérience de l’échange de pouvoir plus qualitative, intense et safe.
    {% endblock %}

    {% block keywords %}quiz BDSM, test BDSM, quiz kink, test kink, jeux BDSM, jeux kink, bdsmtest{% endblock %}

    {% block canonical %}https://insidiome.com/kink-and-bdsm-tests/list{% endblock %}
    {% block og_link %}https://insidiome.com/kink-and-bdsm-tests/list/{% endblock %}

    {% block og_image %}https://www.insidiome.com/build/img/gen/test-ban.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/test-bando.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">
        {# ------------------------------------------------------------------------------- #}
        {# header----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainUp.html.twig" 
            with {
                title: "Tests",
                idDown: "1",
                banner: "build/img/gen/test-ban.jpg",
            } 
        %}
        {# nav ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainUp.html.twig" %}
        {# menu----------------------------------------------------------------------- #}
 
        {# end menu ----------------------------------------------------------------------- #}
        {% include "front/partials/navMainDown.html.twig" %}
        {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        {#  end header------------------------------------------------------------------------ #}
        <hr class="hr-blk">

        {#  content Beginning------------------------------------------------------------ #}
        <section  class="section__minor bk-drk3 shdw-in-D pad2">
            <h2 class="title3 txt-second">Présentation des <span class="txt-second-active">Tests</span></h2>
            {# <h2 class="sub-title3 txt-second-light">Présentation</h2> #}
            <div class=" section__minor__content shdw-in-D brdr-rad5 pad2">
                <section class="section__minor__content__presentation">
                    <p class="info1 txt-soft">Socrate, le philosophe disait : « Connais-toi toi-même ».</p>
                    <p class="info1 txt-soft">Nous sommes pleins de pulsions diverses et variées. L’exploration de nos kinks et du BDSM ne sont pas de simples soupapes pour purger ces pulsions.</p>
                    <p class="info1 txt-soft">Si nous avons ces pulsions c’est qu’elle font parties de nous. Les regarder en face est bien plus puissant et intéressant que de les nier.</p>
                    <p class="info1 txt-soft">Tant que les choses sont faites entre adultes consentants, il n’y a aucun mal.</p>
                    <p class="info1 txt-soft">Pour évoluer et améliorer, s’épanouir et progresser, il convient de conscientiser son expérience.</p>
                    <p class="info1 txt-soft">Par ces tests, cette plateforme vous propose d’explorer votre langage intérieur.</p>
                    <p class="info1 txt-second">D'autres tests seront très bientôt disponibles 😉</p>
                    <p class="info1 txt-soft">Connais-toi toi-même !</p>
                    <p class="info1 txt-soft">INSIDIOME</p>

                </section>
            </div>
        </section>
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
        {% include "front/partials/sectionMajorUp.html.twig" 
            with {
                idSection: "1",
                title: "Tous Les Tests",
                idUp: "present",
                idDown: "2",
                banner: "build/img/gen/banner2.jpg",
            } 
        %}
        <div class="disp-center pad1">!
            <h3 class="title3 txt-second">5 tests disponibles !</h3>
        </div>    
        {% include "front/component/carouselTest.html.twig" %}


        {% include "front/partials/sectionMajorDown.html.twig" %}
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}


        {% include "front/partials/sectionMajorUp.html.twig" 
            with {
                idSection: "2",
                title: "Catégories",
                idUp: "1",
                idDown: "2",
                banner: "build/img/gen/banner2.jpg",
            } 
        %}

            <section  class="section__minor bk-drk3 shdw-in-D pad1">
                <h2 class="title3 txt-second">Classement des tests <span class="txt-second-active"></span></h2>
                <h2 class="sub-title2 txt-second-light">Pour bien choisir<span class="txt-second-active"></span></h2>
                <hr class="hr-soft">
                <section  class="section__minor bk-drk3 shdw-in-D pad1">
                    <h3 class="title4 txt-second">Basiques</h3>
                    <h3 class="sub-title3 txt-second-light">Pour débuter</h3>
                    <hr class="hr-soft">
                    {% for test in tests %}
                        {% if test.advanced == false %}
                            {% include "front/test/content/crdTestLng.html.twig" %}
                        {% endif %}
                    {% endfor %}
                </section>  
                <hr class="hr-blk">
                <section  class="section__minor bk-drk3 shdw-in-D pad1">
                    <h3 class="title4 txt-second">Génériques</h3>
                    <h3 class="sub-title3 txt-second-light">Que vous soyez dominant ou soumis</h3>
                    <hr class="hr-soft">
                    {% for test in tests %}
                        {% if test.isGen == true %}
                            {% include "front/test/content/crdTestLng.html.twig" %}
                        {% endif %}
                    {% endfor %}
                </section>  
                <hr class="hr-blk">  
                <section  class="section__minor bk-drk3 shdw-in-D pad1">
                    <h3 class="title4 txt-second">Avancés</h3>
                    <h3 class="sub-title3 txt-second-light">Pour aller plus loin</h3>
                    <hr class="hr-soft">
                    {% for test in tests %}
                        {% if test.advanced == true %}
                            {% include "front/test/content/crdTestLng.html.twig" %}
                        {% endif %}
                    {% endfor %}
                </section>  
                <hr class="hr-blk">
                <section  class="section__minor bk-drk3 shdw-in-D pad1">
                    <h3 class="title4 txt-second">Sub</h3>
                    <h3 class="sub-title3 txt-second-light">Pour les soumis</h3>
                    <hr class="hr-soft">
                    {% for test in tests %}
                        {% if test.isSub == true %}
                            {% include "front/test/content/crdTestLng.html.twig" %}
                        {% endif %}
                    {% endfor %}
                </section>  
                <hr class="hr-blk">
                <section  class="section__minor bk-drk3 shdw-in-D pad1">
                    <h3 class="title4 txt-second">Dom</h3>
                    <h3 class="sub-title3 txt-second-light">Pour les dominants : bientôt disponible</h3>
                    <hr class="hr-soft">
                    {% for test in tests %}
                        {% if test.isDom == true %}
                            {% include "front/test/content/crdTestLng.html.twig" %}
                        {% endif %}
                    {% endfor %}
                </section>  
            </section>    


        {% include "front/partials/sectionMajorDown.html.twig" %}
        <hr class="hr-blk">
       
        {# ------------------------------------------------------------ #}
        {% include "front/partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}