{% extends 'new-base.html.twig' %}

    {% block lang %} fr {% endblock %}
    {% block title %}INSIDIOME Quiz : {{test.name}}{% endblock %}
    {% block og_title %}INSIDIOME Quiz : {{test.name}}{% endblock %}

    {% block description %}{{test.descFr | raw}} - Quiz : {{test.testType}}{% endblock %}
    {% block og_description %} {{test.descFr | raw}} - Quiz : {{test.testType}} {% endblock %}

    {% block keywords %}{{test.tags}}{% endblock %}

    {% block canonical %}https://insidiome.com/kink-and-bdsm-tests/present/{{test.testSlug}}{% endblock %}
    {% block og_link %}https://insidiome.com/kink-and-bdsm-tests/present/{{test.testSlug}}{% endblock %}

    {% block og_image %}{{imageUrl}}{% endblock %}

    {% block og_type %}quiz{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
    <script>

    </script>
{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/test-bando2.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">
        {# ------------------------------------------------------------------------------- #}
        {# header----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainUp.html.twig" 
            with {
                title: test.name,
                idDown: "1",
                banner: "build/img/mapped/square/test/" ~ test.image,
            } 
        %}
            {# nav ----------------------------------------------------------------------- #}
            {% include "front/partials/navMainUp.html.twig" %}
            {# menu----------------------------------------------------------------------- #}

            {# end menu ----------------------------------------------------------------------- #}
            {% include "front/partials/navMainDown.html.twig" %}
            {# end nav----------------------------------------------------------------------- #}
        {% include "front/partials/headerMainDown.html.twig" %}
        <hr class="hr-blk">
        {#  end header------------------------------------------------------------------------ #}
  
        <section  class="section__minor bk-drk2 shdw-in-D pad1">
            {# <h2 class="title3 txt-second">Amusez vous !</h2> #}
            <div class=" section__minor__content disp-col-center padx1 pady1">

                <section class="crd__present bk-drk2 shdw-in-D brdr-rad10 fluidx">
                    <div class="crd__present__img shdw-in-D">
                            {% if test.image is not null %} 
                            <div class="crd__img " style="background-image: url({{ asset('build/img/mapped/square/test/' ~ test.image ) }});"> 
                            {# <img src="{{ asset('build/img/mapped/square/test/' ~ test.image ) }}" class="fluidx" alt="{{ test.name }}"> #}
                        {% else %}
                            <div class="crd__img " style="background-image: url({{ asset('build/img/gen/default.jpg') }});">
                            {# <img src="{{ asset('build/img/gen/default.jpg') }}" class="fluidx" alt="{{ test.name }}"> #}
                        {% endif %}
                        </div>
                    </div>
                    <div class="crd__present__content disp-col-center pad1">
                        <h3 class="title3 txt-second">{{ test.name }}</h2>
                        <h4 class="sub-title2 txt-soft">{{ test.testType }}</h4>
                        <p class="title3 txt-third">{{ averageValue }} / 10</p>
                        <hr class="hr-soft">
                        <p class="info1 txt-second-light">{{ test.sousTitre }}</p>
                        
                        {% if app.user %}
                            <a href="{{ path('app_test_run2', {'testSlug': test.testSlug}) }}" 
                                class="butn butn-prim">
                                Faire le test 
                            </a>
                        {% else %}
                            <div type="button" class="butn butn-prim" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                Faire le test
                            </div>
                        {% endif %}    
                        {# modal ---------------------------------- #}
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content bk-drk2 shdw-in-D pad1">
                                        <h3 class="title3 txt-second">{{ test.name }}</h2>
                                        <hr class="hr-soft">
                                        <p class="info1 txt-soft">Vous n'etes pas connecté ou enregistré <br>
                                            Vos résultats ne seront pas sauvegardés et vous ne pourrez pas les consulter ultérieurement<br>
                                            c'est dommage !
                                            <a href="{{ path('app_cellar_door') }}" class="butn butn-third">Compte</a>
                                        </p>
                                        <hr class="hr-soft">
                                        <a href="{{ path('app_test_run2', {'testSlug': test.testSlug}) }}" class="butn butn-prim">Faire le test</a>

                                    </div>
                                </div>
                            </div>

                        {# end modal ----------------------------------  #}
                    </div>
                </section>
                <section class="shdw-in-D bk-drk1 brdr-rad10 pad3 mary1">
                    <h3 class="title4 txt-second">Présentation</h3>
                    <div class="info1 txt-soft">{{ test.presentFr | raw }}</div>
                <section>
            </div>
        </section>
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}
        {% include "front/partials/sectionMajorUp.html.twig" 
            with {
                idSection: "1",
                title: "Facteurs",
                idUp: "present",
                idDown: "2",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
            <h3 class="title3 txt-second padx1">Liste des Facteurs</h3>
            <p class="sub-title3 txt-soft padx1">Ces <strong class"txt-second">{{factors|length}}</strong> facteurs sont les éléments d'analyse pour le sujet du <strong class"txt-second">{{test.name}}</strong></p>
            <div class="accordion disp-col-center padx3 pady1"> 
                {% for factor in factors %}
                    <div class="accordion__item fluidx bk-drk2 shdw-in-D">
                        <div class="accordion__item__heading disp-spbtwn">
                            {# <h4 class="title4 txt-prim-light">{{ factor.nom }}</h4> #} 
                            <div class="accordion__item__heading__title fluidx">
                                <h4 class="title4 txt-second-light txt-center">{{ factor.nom }}</h4>
                            </div>
                            <i class="fas fa-plus txt-prim padx1"></i> 

                        </div>
                        <div class="accordion__item__content ">
                            <div class="accordion__txt brdr-rad5 shdw-in-D">
                                {{ factor.descFr | raw }}
                            </div>
                        </div>

                    </div>
                    
                {% endfor %}
            </div>


        {% include "front/partials/sectionMajorDown.html.twig" %}
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}

        {# ------------------------------------------------------------ #}
        {% include "front/partials/sectionMajorUp.html.twig" 
            with {
                idSection: "2",
                title: "Commentaires",
                idUp: "1",
                idDown: "3",
                banner: "build/img/gen/banner1.jpg",
            } 
        %}
            
            
           
            <div class=" disp-col-start pad1 marb4 ">
                {% if not comments %}
                    <h4 class="sub-title3 txt-second-light txt-center">Pas encore de commentaires</h4>
                {% else %}
                    <h3 class="title3 txt-second padx1">Derniers Message</h3>
                    <hr class="hr-soft">
                {% endif %}    
                {% for comment in comments %}
                    <div class="fluidx bk-drk2 shdw-in-D brdr-rad5 pad1">
                        <div class=" disp-col-center">
                            {# <h4 class="title4 txt-prim-light">{{ factor.nom }}</h4> #} 
                            <div class=" disp-spbtwn fluidx padx1">
                                {# link ton user profile #}
                                <a href="{{ path('app_profil', {'userSlug': comment.user.userSlug}) }}" class="title4 txt-prim">{{ comment.user|capitalize }} </a>

                                {# <div class="title4 txt-second"> {{ comment.user|capitalize }}  </div> #}
                                <div class="sub-title2 txt-third"> <b>{{ comment.value }}/10</b> </div>
                                <div class="info1 txt-soft"> {{ comment.createdAt | date('d/m/Y') }} </div>
                                
                            </div>
                        </div>
                        <div class="">
                            <div class="txt-soft brdr-rad5 shdw-in-D pad1">
                                {{ comment.msg }}
                            </div>

                            {% if comment.answ %}
                                <hr class="hr-soft">
                                <div class="txt-end">
                                    <div class="accordion__answ__head txt-soft">
                                        Answer - {{ comment.answAt | date('d/m/Y') }} : 
                                        <span class="title4 txt-second txt-end">INSIDIOME</span><br>
                                    </div>
                                    <div class="txt-soft brdr-rad5 shdw-in-D pad1">
                                        {{ comment.answ | raw }}
                                    </div>    
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <hr class="hr-blk">
                {% endfor %}
                <div class="pad1"></div>
        
                {# <hr class="hr-soft"> #}
                {% if app.user %}
                    <div id="comment" class="disp-col-center shdw-in-D brdr-rad5 fluidx pad1">
                        <h3 class="title4 txt-second padx1 txt-center">Vous avez aimé ce test ?<br></h3>
                        <p class="info1 txt-prim-light txt-center">Encouragez moi avec un commentaire !</p>
                        <p class="info1 txt-danger txt-center">{{ message }}</p>
                        <hr class="hr-soft">
                        {{ form_start(form, {'attr': {'class': 'fluidx'}}) }}
                            <span class="info1 txt-soft">Votre note de 1 à 10</span>
                            {{ form_row(form.value) }}
                            <span class="info1 txt-soft">Votre message (max 400 caract)</span>
                            {{ form_row(form.msg, {'attr': {'class': 'fluidx'}}) }}
                            <button class="butn butn-prim">{{ button_label|default('enregister') }}</button>
                        {{ form_end(form) }}
                    </div>
                {% endif %}
            </div>


        </div>
        {% include "front/partials/sectionMajorDown.html.twig" %}
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}

       
        {# ------------------------------------------------------------ #}
        {% include "front/partials/footer.html.twig" %}
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}
