{% extends 'new-base.html.twig' %}

    {% block lang %} en {% endblock %}
    {% block title %}{{ kinkster.pseudo}} : {{test.name}} Quiz{% endblock %}
    {% block og_title %}{{ kinkster.pseudo}} : {{test.name}} Quiz{% endblock %}

    {% block description %}Discover the results of {{ kinkster.pseudo}} for the INSIDIOME quiz - {{test.testType}} : {{test.name}}{% endblock %}
    {% block og_description %}Discover the results of {{ kinkster.pseudo}} for the INSIDIOME quiz - {{test.testType}} : {{test.name}}{% endblock %}

    {% block keywords %}{{test.tags}}{% endblock %}

    {% block canonical %}https://insidiome.com/kink-and-bdsm-tests/result/{{impactSlug}}{% endblock %}
    {% block og_link %}https://insidiome.com/kink-and-bdsm-tests/result/{{impactSlug}}{% endblock %}

    {% block og_image %}{{imageUrl}}{% endblock %}

    {% block og_type %}quiz{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
    <script>

    </script>
{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/test-bando2.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">

        <section  class="section__minor disp-col-center bk-drk3 shdw-in-D pad1">
            <section  class="section__minor disp bk-drk2 brdr-rad10 shdw-in-D fluidx" style="max-width: 400px;">
                <img class="fluidx" src="{{ asset('build/img/mapped/square/test/' ~ test.image ) }}" alt="{{ test.name }}">
                <div class="padx1">
                    <div class="test__result__header__present disp-col-center pad1">
                        <h2 class="title4 txt-prim-light txt-center mar0">{{ kinkster.pseudo}} </h2>
                        <h1 class="title3 txt-second txt-center mar0">{{test.name}}</h1>
                        <h2 class="sub-title2 txt-soft txt-center">{{ test.testType }}</h2>
                        <hr class="hr-soft">
                        <h2 class="info1 txt-prim-light txt-center mar0">WWW.INSIDIOME.COM</h2>
                        
                    </div>

                    <div class="fluidx fluidy brdr-rad10 padx1">
                        {% for score in scores %} 
                        <div class="fluidx ">
                            <div class="disp-spbtwn fluidx">
                                {% include "front/test/content/colorResultEN.html.twig" %}
                            </div>
                            <hr class="hr-soft mar0">
                        </div>
                        {% endfor %}
                        <div class="pad2">
                            <div type="button" class="butn butn-prim" data-bs-toggle="modal" data-bs-target="#resultModal">
                                Return
                            </div>
                        </div>
                        <hr class="hr-soft">
                   
                    </div>
                </div>
            </section>    
            {# modal ---------------------------------- #}
                <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bk-drk2 shdw-in-D pad2">
                            <h3 class="title3 txt-second">{{ test.name }}</h2>
                            <hr class="hr-soft">
                            {% if owner is same as 'true' %}
                                <h4 class="title4 txt-prim txt-center mar0">Owner!</h4><br><br>
                                <p class="info1 txt-soft txt-center mar0">
                                    We checked, <br>
                                    you are the owner of these results. <br>
                                    Here is the link to share them on your networks:<br>
                                    A personalized card will be automatically created<br><br>
                                </p>
                                <div class="pad2 brdr-rad5 shdw-in-D">     
                                    <p class="info1 txt-prim txt-center mar0">
                                        {{ impactUrl }} 
                                    </p>    
                                </div>
                                <p class="txt-prim-light txt-center">
                                    You can make a screenshot to share on social medias!<br>
                                    You can find your results on your profile.
                                </p>
                                <hr class="hr-soft">
                            {% endif %}

                            <hr class="hr-soft">
                            <p class="info1 txt-soft txt-center mar0">
                                Each of the test factors is explained here :
                            </p>    
                            <a href="{{ path('app_test', {'testSlug': test.testSlug}) }}#1" class="butn butn-prim mar1">Factors</a>
                            <hr class="hr-soft">
                            <a href="{{ path('app_profil', {'userSlug': kinkster.userSlug}) }}#1" class="butn butn-prim mar1">Return</a>
                        </div>
                    </div>
                </div>

        </section>
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}