{% extends 'new-base.html.twig' %}

    {% block lang %} en {% endblock %}
    {% block title %}INSIDIOME - ENTER{% endblock %}
    {% block og_title %}INSIDIOME - ENTER{% endblock %}

    {% block description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}
    {% block og_description %}Page d'entrée du site INSIDIOME - chox de la langue / Entrance page of the INSIDIOME site - choice of language{% endblock %}

    {% block keywords %}insidiome, bdsm, life style, lifestyle, life-style, life, style, lifesty{% endblock %}

    {% block canonical %}https://insidiome.fr{% endblock %}
    {% block og_link %}https://insidiome.fr{% endblock %}

    {% block og_image %}https://www.insidiome.com/build/img/gen/room1.jpg{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    {{ encore_entry_link_tags('general') }}
    <style>
        #confetti-canvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            max-width: 700px;
            height: 100vh;
            pointer-events: none;
        }


    </style>   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvas-confetti/1.6.0/confetti.min.js"></script>
    {{ encore_entry_script_tags('app') }}
    {# {{ encore_entry_script_tags('testModal') }}  #}
    {# {{ encore_entry_script_tags('testShowButton') }}  #}
    {# {{ encore_entry_script_tags('popModal') }} #}
    <script>
        window.onload = function() {
            const modalTest = new bootstrap.Modal('#modalTest');
            
            // Délai de 500 millisecondes
            setTimeout(function() {
                modalTest.show(); 
            }, 700);
        }  

        window.addEventListener('DOMContentLoaded', () => {
            const containers = document.querySelectorAll('.form-check-container');

            containers.forEach(container => {
                const checks = container.querySelectorAll('input[type="radio"]');
                const button = document.getElementById(`butn${container.id}`);

                checks.forEach(check => {
                check.addEventListener('click', () => {
                    if (container.querySelector('input[type="radio"]:checked')) {
                    button.classList.remove('d-none');
                    } else {
                    button.classList.add('d-none');
                    }
                    });
                });
            });
        });

        const lastButn = document.querySelector('.last');

        lastButn.addEventListener('click', () => {
            confetti.create(null, { colors: ['#008000', '#ff8833'] }).fire();
        });
    </script>

{% endblock %}

{% block body %}


    <main class="main__container relative vh100">
        <div id="confetti-canvas"></div>
        <section class="test__run__back" style="background-image: url('{{ asset('build/img/gen/back2.jpg') }}');">
        </section>


<form method="POST" action="{{ path('app_test_treatment', {'testSlug': test.testSlug} ) }}">
{% for key, quest in arrayQuests %}
    {% if key == 0 %}
        <div class="modal fade" id="modalTest" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog vh100 disp-col-center">
                <div class="modal-content modal-run-test  disp-col-center shdw-in-D brdr-shdw-L brdr-rad10 padx1 pady3">


                    {# <div class="testrun p-3"> #}
                        <div><h2 class="sub-title2 txt-soft txt-center">INSIDIOME</h2></div>
                        <div><h1 class="title3 txt-second txt-center">{{test.name}}</h1></div>
                        <p class="info1 txt-soft txt-center">For Subs</p>
                        <p class="title3 txt-prim-light txt-center">{{ key + 1 }} / {{ arrayQuests | length }}</p>
                        {# <div><h2 class="text-center">{{ count + 1 }} / {{ length }}</h2></div> #}
                        <div class="testrun__question bg-dark my-5 p-3"><p class="txt-soft">{{quest.questEn}}</p></div>
                        <div class="testrun__consent px-3">
                            <div class="text-danger testrun__consent__text">
                                <b>No !</b>
                            </div>
                            <div class="text-warning testrun__consent__text">
                                <b>Neutral</b>
                            </div>
                            <div class="text-success testrun__consent__text">
                                <b>Yes !</b>
                            </div>
                        </div>
                        <div class="testrun__choices">


        {% else %}
            <div class="modal fade" id="modalTest{{key}}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog vh100 disp-col-center">
                    <div class="modal-content modal-run-test disp-col-center shdw-in-D brdr-shdw-L brdr-rad10 padx1 pady3">
                        {# <div class="testrun p-3"> #}
                            <div><h2 class="sub-title1 txt-soft txt-center">INSIDIOME</h2></div>
                            <div><h1 class="title3 txt-second txt-center">{{test.name}}</h1></div>
                            <p class="info1 txt-soft txt-center notranslate" translate="no">{{test.testType}}</p>
                            <p class="title3 txt-prim-light txt-center">{{ key + 1 }} / {{ arrayQuests | length }}</p>
                            {# <div><h2 class="text-center">{{ count + 1 }} / {{ length }}</h2></div> #}
                            <div class="testrun__question bg-dark my-5 p-3"><p class="txt-soft">{{quest.questEn}}</p></div>
            
                            <div class="testrun__consent px-3">
                                <div class="text-danger testrun__consent__text">
                                    <b>No !</b>
                                </div>
                                <div class="text-warning testrun__consent__text">
                                    <b>Neutral</b>
                                </div>
                                <div class="text-success testrun__consent__text">
                                    <b>Yes !</b>
                                </div>
                            </div>
                            <div class="testrun__choices">
        {% endif %}                        

                            <div id="{{key}}" class="form-check-container">
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="choice{{key}}" id="choices1_{{ key }}" value="0" required>
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="choice{{key}}" id="choices2_{{ key }}" value="8">
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="choice{{key}}" id="choices3_{{ key }}" value="16">
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="choice{{key}}" id="choices4_{{ key }}" value="24">
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="choice{{key}}" id="choices5_{{ key }}" value="32">
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="choice{{key}}" id="choices6_{{ key }}" value="40">
                                </div>
                                <div class="form-check">
                                <input class="form-check-input" type="radio" name="choice{{key}}" id="choices7_{{ key }}" value="50">
                                </div>
                            </div>

                            <div class="d-none">
                                <input type="number" id="factorId_{{ key }}" name="factorId_{{ key }}" value="{{ quest.factorId }}">
                            </div>

                            </div>
                            {% if key == countQuests - 1 %}
                                <button id="butn{{ key }}" type="submit" class="butn butn-prim mary2 glow d-none last">Calculer</button>
                                
                            {% else %}
                                <div id="butn{{ key }}" type="button" class="butn butn-prim next mary2 d-none"  
                                    data-bs-target="#modalTest{{ key + 1 }}" 
                                    data-bs-toggle="modal">
                                    Suivant
                                </div>
                            {% endif %}
                        {# </div> #}
                    </div>
                </div>
            </div>
            {% endfor %}
            </form>

    </main>
 
{% endblock %}