{% extends 'new-base.html.twig' %}

    {% block lang %} fr {% endblock %}
    {% block title %}INSIDIOME {{test.name}}{% endblock %}
    {% block og_title %}INSIDIOME {{test.name}}{% endblock %}

    {% block description %}{{test.descFr | raw}}{% endblock %}
    {% block og_description %} {{test.descFr | raw}} {% endblock %}

    {% block keywords %}{{test.tags}}{% endblock %}

    {% block canonical %}https://insidiome.com/kink-and-bdsm-tests/present/{{test.testSlug}}{% endblock %}
    {% block og_link %}https://insidiome.com/kink-and-bdsm-tests/present/{{test.testSlug}}{% endblock %}

    {% block og_image %}https://insidiome.com/build/img/mapped/square/test/{{test.image}}{% endblock %}

    {% block og_type %}website{% endblock %}
    {% block og_locale %}fr_FR{% endblock %}

    {% block robots %}index,follow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('general') }}
   
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}
    <script>
      
    </script>
{% endblock %}
{% block body %}
    
    {# aside----------------------------------------------------------------------- #}
    {% include "front/partials/asideUp.html.twig" 
        with {
            imgBack: "build/img/gen/test-bando.jpg",
        } 
    %}

    {% include "front/partials/asideDown.html.twig" %}
    {# end aside ----------------------------------------------------------------------- #}

    <main class="main__container">
        {# ------------------------------------------------------------------------------- #}
        {# header----------------------------------------------------------------------- #}




        <section  class="section__minor disp-col-center bk-drk3 shdw-in-D pad1">
            <section  class="section__minor disp bk-drk2 brdr-rad10 shdw-in-D fluidx" style="max-width: 400px;">
                <img class="fluidx" src="{{ asset('build/img/mapped/square/test/' ~ test.image ) }}" alt="{{ test.name }}">
                <div class="padx2">
                    <div class="test__result__header__present disp-col-center pad1">

                        <h1 class="title3 txt-second txt-center mar0">{{test.name}}</h1>
                        <h2 class="sub-title2 txt-soft txt-center">{{ test.testType }}</h2>
                        <hr class="hr-soft">
                        <h2 class="info1 txt-prim-light txt-center mar0">WWW.INSIDIOME.COM</h2>
                        
                    </div>

                    <div class="fluidx fluidy brdr-rad10 padx1">
                        {% for score in scores %} 
                        <div class="fluidx ">
                            <div class="disp-spbtwn fluidx">
                                {% include "front/test/content/colorResultFR.html.twig" %}
                            </div>
                            <hr class="hr-soft mar0">
                        </div>
                        {% endfor %}
                        <div class="pad2">
                            <div type="button" class="butn butn-prim" data-bs-toggle="modal" data-bs-target="#resultModal">
                                Retour
                            </div>
                        </div>
                        <hr class="hr-soft">

                        <p class="txt-prim-light txt-center">
                            Faites un capture d'écran !<br>
                        </p>
                        
                    </div>
                </div>
            </section>    
            {# modal ---------------------------------- #}
                <div class="modal fade" id="resultModal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content bk-drk2 shdw-in-D pad2">
                            <h3 class="title3 txt-second">{{ test.name }}</h2>
                            <hr class="hr-soft">
                            <p class="info1 txt-soft txt-center">
                                Pour enregistrer vos prochain tests, pensez à vous connecter ou à vous enregistrer
                                
                            </p>
                            <a href="{{ path('app_cellar_door') }}" class="butn butn-third">Compte</a>
                            <hr class="hr-soft">

                            <p class="info1 txt-soft txt-center mar0">
                                Chacun des facteurs du test est expliqué ici :
                            </p>    
                            <a href="{{ path('app_test', {'testSlug': test.testSlug}) }}#1" class="butn butn-prim mar1">Facteurs</a>


                        </div>
                    </div>
                </div>

        </section>
        <hr class="hr-blk">
        {# ------------------------------------------------------------ #}

    </main>

    
{% endblock %}