{% extends 'base.html.twig' %}

{% block body %}
    <div class="headband">
        {% include "front/partials/nav.html.twig" %}
        {# <div class="PageTitle">HOME</div> #}
        <img src="{{ asset('build/img/gen/room1.jpg') }}" alt="sofa" class="max">
    </div>
    <hr>

    <div class="row m-2">
        <h1>Avatars</h1>
        <h2>La galerie</h2>
        <p>Des avavatars seront ajoutés au fur et à mesure de l'avancement du projet.</p>
        <p>Vous pouvez en choisir un pour votre compte.</p>
        <p>Cliquez simplement sur la mignature.</p>
        <div class="navigation fluid m-3">
            {{ knp_pagination_render(avatars) }}
        </div>
        {% for key, avatar in avatars %}
            <div class="col-3 p-0 border border-dark">
                <img src="{{ asset(avatar.file) }}" 
                    alt="{{ avatar.title }}" 
                    class="img-fluid"
                    type="button" 
                    data-bs-toggle="modal" 
                    data-bs-target="#avatar{{ key }}"
                >
            </div>
            <div class="modal banner__modal fade" id="avatar{{ key }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content p-3">
                        <img src="{{ asset(avatar.file) }}" alt="{{ avatar.title }}" class="img-fluid">
                        <a class="btn btn-outline-success my-2" href="{{ path('app_avatar_choice', {'avatarId': avatar.id , 'userSlug': app.user.userSlug}) }}">Choisir</a>
                        <button type="button" class="btn btn-outline-secondary my-2" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>        
        {% endfor %}
        <div class="navigation fluid m-3">
            {{ knp_pagination_render(avatars) }}
        </div>
    </div>
{% endblock %}


