{% extends 'base.html.twig' %}

{% block title %}Avatar{% endblock %}

{% block body %}
    <h1>Avatar</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ avatar.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ avatar.title }}</td>
            </tr>
            <tr>
                <th>File</th>
                <td>{{ avatar.file }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_avatar_index') }}">back to list</a>

    <a href="{{ path('app_avatar_edit', {'id': avatar.id}) }}">edit</a>

    {{ include('avatar/_delete_form.html.twig') }}
{% endblock %}
