<section  class="category__box bk-drk3 brdr-rad5 shdw-in-D fluidx">
    {% if category.children %}
        {% if category.articles is not empty %}

            <div  class="disp-start">
                <a href="{{ path('app_blog_category', { 'categSlug': category.slug }) }}" class="butn butn-prim" >{{ category.nom}} - {{category.articles | length}} articles</a>
            </div>

        {% else %}
            <div class="disp-start">
                <div class="butn butn-second" >{{ category.nom}} </div>
            </div>
        {% endif %}    
            
            <div class="">
                {% for category in category.children %}
                    {% include "front/blog/component/loopCatChild.html.twig" %}
                {% endfor %}
            </div>
            
    {% else %}
        {% if category.articles %}
            <div  class="disp-start">
                <a href="{{ path('app_blog_category', { 'categSlug': category.slug }) }}" class="butn butn-prim" >{{ category.nom}} - {{category.articles | length}} articles</a>
            </div>
        {% else %}
            <div class="disp-start">
                <div class="butn butn-second" >{{ category.nom}} </div>
            </div>
        {% endif %}      
    {% endif %}
</section>