<div class="col-12 bando text-center p-3" style="background-image: url({{ asset('build/img/gen/bando.png') }});">
    <h4>Manage your profil</h4>
</div>

<div class="row text-center pt-3">
    <div class="col-2"></div>
    <div class="col-8">
        <a href="{{ path('app_profil', {'userSlug': kinkster.userSlug} ) }}" class="btn btn-outline-secondary btn-sm d-block m-1">See your Profil</a>

        {# <a href="#" class="btn btn-outline-secondary btn-sm d-block m-1">Votre galerie</a> #}
        {# <a href="{{ path('app_image_user_index', {'userSlug': kinkster.userSlug} ) }}" class="btn btn-outline-secondary btn-sm d-block m-1">Votre galerie</a> #}
        <a href="{{ path('app_kinkster_edit', {'userSlug': kinkster.userSlug} ) }}" class="btn btn-outline-secondary btn-sm d-block m-1">Your informations</a>
        <a href="{{ path('app_logout') }}" class="btn btn-outline-warning btn-sm d-block m-1">Deconnexion</a>
        {# <a href="#" class="btn btn-outline-danger btn-sm d-block m-1">Suppress your account</a> #}
    </div>
    <div class="col-2"></div>
</div>