    <div class="headband">
        {% include "front/partials/nav.html.twig" %}
        <img src="{{ asset('build/img/gen/factory1.png') }}" alt="{{ kinkster.pseudo }}" class="max">
        <hr>
        <div class="row">
            <div class="col-12 col-sm-6">

                <img class="test" src="{{ asset('build/img/gen/default.png') }}" alt="{{ kinkster.pseudo }}" style="width: 100%;">
                    {# <a href="{{ path('app_image_user_new', {'userSlug': app.user.userSlug} ) }}" class="btn btn-outline-secondary btn-sm d-block m-1">Ajouter une image</a> #}
               
            </div>
            <div class="col-12 col-sm-6">
                <div class="presentation">
                    <div class="text-center px-3 pt-4">
                        <h4>Welcome !</h4>
                        <h3>{{ kinkster.pseudo }}</h3>
                        <p>Some new features will be added soon, I'm working on it 😉</p>
                        
                    </div>    
                    {# <div class="col-12 pt-3">
                        {% if kinkster.isValidated != true %}
                        <h4>You have not validated your profile</h4>
                        <p>An email with a validation link has been sent to you</p>
                        <p>Don't forget to check your spam</p>
                        {% endif %}
  
                    </div> #}
                </div>                 
            </div>
            <div class="col-12">
                <div class="presentation">
                    <div class="py-3 text-center ">
                        <p>{{ kinkster.description }}</p>
                    </div>
                </div>
            </div> 
        </div>

    </div>