<div class="headband">
    {% include "front/partials/nav.html.twig" %}
    <img src="{{ asset('build/img/gen/room1.jpg') }}" alt="{{ kinkster.pseudo }}" class="max">
    <hr>
    <div class="row">
        <div class="col-12 col-sm-6">
            {% if avatar == null %}
            <img class="test max" src="{{ asset('build/img/gen/default.png') }}" alt="{{ kinkster.pseudo }}">
            {% else %}
            <img class="test max" src="{{ asset(avatar.file) }}" alt="{{ kinkster.pseudo }}">
            {% endif %}
        </div>
        <div class="col-12 col-sm-6">
            <div class="presentation">
                <div class="py-3 text-center ">
                    <h4>Profil of </h4>
                    <h3>{{ kinkster.pseudo }}</h3>
                    {# {% if is_granted('ROLE_ADMIN') %}
                        <div class="px-2">
                            {{ include('front/image_user/_delete_form.html.twig', {'userSlug': kinkster.userSlug} , {'id': idImage}) }}
                        </div>
                    {% endif %}    #}
                </div>
            </div>                 
        </div>
        <div class="col-12">
            <div class="presentation">
                <div class="py-3 text-center ">
                    <p>{{ kinkster.description }}</p>
                </div>
            </div>
        </div>    
    </div>
    <hr>   
</div>