<form method="post" action="{{ path('app_back_test_delete', {'id': test.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ test.id) }}">
    <button class="btn btn-sm btn-danger marx1">Delete</button>
</form>
