{{ form_start(form) }}
    <div class="row">

        <div class="col-6 marb1">
            {{ form_label(form.name, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-6 marb1">
            {{ form_label(form.testSlug, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.testSlug, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-6 marb1">
            {{ form_label(form.sousTitre, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.sousTitre, {'attr': {'class': 'form-control'}}) }}    
        </div>

        <div class="col-6 marb1">
            {{ form_label(form.subTitle, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.subTitle, {'attr': {'class': 'form-control'}}) }}    
        </div>

        <div class="col-12 marb1">
            {{ form_label(form.descFr, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.descFr, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-12 marb1">
            {{ form_label(form.descEng, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.descEng, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-12 marb1">
            {{ form_label(form.presentFr, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.presentFr, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-12 marb1">
            {{ form_label(form.presentEng, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.presentEng, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-6 marb1">
            {{ form_label(form.image, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-6 marb1">
            {{ form_label(form.testType, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.testType, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="col-4 marb1">
            {{ form_label(form.isActive, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.isActive, {'attr': {'class': 'form-check-input'}}) }}
        </div>

        <div class="col-4 marb1">
            {{ form_label(form.isDom, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.isDom, {'attr': {'class': 'form-check-input'}}) }}
        </div>

        <div class="col-4 marb1">
            {{ form_label(form.isSub, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.isSub, {'attr': {'class': 'form-check-input'}}) }}
        </div>

        <div class="col-4 marb1">
            {{ form_label(form.isGen, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.isGen, {'attr': {'class': 'form-check-input'}}) }}
        </div>

        <div class="col-4 marb1">
            {{ form_label(form.advanced, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.advanced, {'attr': {'class': 'form-check-input'}}) }}
        </div>

        <div class="col-4 marb1">
            {{ form_label(form.isOld, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(form.isOld, {'attr': {'class': 'form-check-input'}}) }}
        </div>

        <button class="butn butn-prim mar marb1">save</button>

    </div>
{{ form_end(form) }}



