{% extends 'skynn1.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}Admin Tests{% endblock %}


    {% block description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Une plateforme gratuite développée par un kinkster pour les kinksters.
        Nos BDSM-tests, Kink-quiz et des artciles vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
    {% endblock %}
    
    {% block robots %}index,unfollow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('skynn') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
 {# --------------------------------------------------------------------------------- #}
    {# aside left----------------------------------------------------------------------- #}
    <aside class="aside-left bk-drk3 shdw-in-drk4 mar3" style="background-image: url({{ asset('build/img/gen/back1.jpg') }});">

    </aside>
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

    
    <section class="trunk fluid disp-col-start bk-drk2 shdw-in-drk4 pad3">

        {# --------------------------------------------------------------------------------- #}
        {# Nav    -------------------------------------------------------------------------- #}


        {# Nav end  ------------------------------------------------------------------------ #}
        {# --------------------------------------------------------------------------------- #}

        {# --------------------------------------------------------------------------------- #}
        {# Main      ----------------------------------------------------------------------- #}
        <div class="card fluid marb2">
            <img src="{{ asset('build/img/mapped/square/test/' ~ test.image ) }}">
            <div class="card-body bk-drk3 shdw-in-drk4">
                <div class="disp-spbtwn">
                    <div class="pad1">
                        <h1 class="title1 text-light">{{ test.name }} - Edition</h1>
                        <p class="card-text text-light">
                            Slug : slug : {{ test.testSlug }}<br>
                            Créé le  : {{ test.updatedAt ? test.updatedAt|date('Y-m-d H:i:s') : '' }}<br>
                            Nombre d'impacts : {{ test.count }}<br>
                            ID : {{ test.id }}
                        </p>
                        <p class="text-light">Description courte : {{ test.descFr | raw }}</p>
                    </div>
                    <div class="pad1">
                        <p class="card-text text-light">
                        {{ test.isActive ? 'isActive: <br><span class="text-success">Yes</span>' : 'isActive : <br><span class="text-danger">No</span>' }}<br>
                        {{ test.isDom ? 'isDom: <br><span class="text-success">Yes</span>' : 'isDom : <br><span class="text-danger">No</span>' }}<br>
                        {{ test.isSub ? 'isSub: <br><span class="text-success">Yes</span>' : 'isSub : <br><span class="text-danger">No</span>' }}<br>
                        {{ test.isGen ? 'isGen: <br><span class="text-success">Yes</span>' : 'isGen: <br><span class="text-danger">No</span>' }}<br>
                        {{ test.advanced ? 'advanced: <br><span class="text-success">Yes</span>' : 'advanced: <br><span class="text-danger">No</span>' }}<br>
                        {{ test.isOld ? 'isOld: <br><span class="text-success">Yes</span>' : 'isOld : <br><span class="text-danger">No</span>' }}<br>
                    </p>
                    </div>
                </div>
                <section class="disp-spbtwn fluid brdr-rad10 bk-drk3 shdw-in-drk4 pad3 marb2">
                    <a href="{{ path('app_back_test') }}" class="btn btn-sm btn-primary">back to list</a>
                    <a href="{{ path('app_back_test_edit', {'id': test.id}) }}" class="btn btn-sm btn-success">edit</a>
                    {{ include('adminBoard/A-test/_delete_form.html.twig') }}
                </section>
            </div>
        </div>

        <section class="disp-col-center fluid brdr-rad10 bk-drk4 shdw-in-drk4 pad3 marb2">
            <div class="test">
                <h2 class="title1 text-light">{{ test.name }}</h2>
                <p class="text-light">Sous Titre : {{ test.sousTitre | raw }}</p>
                <p class="text-light">Présentation : {{ test.presentFr | raw }}</p>

                <section class="fluid brdr-rad10 bk-drk4 shdw-in-drk4 pad1 marb1">
                    <a href="{{ path('app_back_factor_new', {'id': test.id}) }}" class="butn butn-prim mary1">Add a factor</a>
                </section>  
                {% if test.factors is empty %}
                <section class="fluid brdr-rad10 bk-drk4 shdw-in-drk4 pad1 marb1">
                    <p class="text-light">Pas de facteur</p>
                </section>
                {% else %}
                <h3 class="text-light">Facteurs du test :</h3>

                    {% for factor in test.factors %}
                    <section class="fluid brdr-rad10 bk-drk4 shdw-in-drk4 pad1">
                        {# <div class="factor">  #}
                            <div class="disp-spbtwn">
                                <h4 class="title2 text-light">{{ factor.nom }}</h4>
                                <div class="brdr-rad10 bk-drk4 shdw-in-drk4 pad1">
                                    <a href="{{ path('app_back_factor_edit', {'id': factor.id}) }}" class="btn btn-sm btn-success marx1"><i class="fas fa-pen"></i></a>
                                    {# <a href="{{ path('app_back_factor_delete', {'id': factor.id}) }}" class="btn btn-sm btn-danger marx1"><i class="fas fa-trash"></i></a> #}
                                    {{ include('adminBoard/A-test/testFactor/_delete_form.html.twig') }}
                                </div>   
                                  
                            </div>
                            <hr class="hr-soft">  
                            <p class="text-light">{{ factor.descFr | raw }}</p>
                            <h5 class="text-light">Questions sur ce facteur :</h5>
                            
                            <section class="fluid brdr-rad10 bk-drk4 shdw-in-drk4 pad1 marb1">
                                <a href="{{ path('app_back_question_new', {'id': factor.id}) }}" class="butn butn-prim mary1">Add a question</a>
                            </section> 
                            {% if factor.questions is empty %}
                            <section class="fluid brdr-rad10 bk-drk4 shdw-in-drk4 pad1 marb1">
                                <p class="text-light">Pas de question</p>
                            </section>       
                            {% else %}
                            <section class="fluid brdr-rad10 disp-col-center bk-drk4 shdw-in-drk4 pad1 marb1">

                                {% for question in factor.questions %}
                                <div class="fluid disp-spbtwn">
                                    <h4 class="text-light"> - {{ question.questFr | raw }}</h4>
                                    <div class="disp-col-center brdr-rad10 bk-drk4 shdw-in-drk4 pad1 marb1">
                                        <a href="{{ path('app_back_question_edit', {'id': question.id}) }}" class="btn btn-sm btn-success marb1"><i class="fas fa-pen"></i></a>
                                        {{ include('adminBoard/A-test/testQuest/_delete_form.html.twig') }}
                                    </div>  
                                       
                                </div> 
                                <hr class="hr-soft"> 
                                {% endfor %}
                            </section>   
                            {% endif %}
  

                        {# </div> #}
                    </section>   
                    {% endfor %}
                {% endif %}
 

            </div>
        </section>

 



                <section class="disp-col-center fluid brdr-rad10 bk-drk4 shdw-in-drk4 pad3 marb2">
            <div class="test">
                <h2 class="text-light">{{ test.name }}</h2>
                <p class="text-light">{{ test.subTitle }}</p>
                <p class="text-light">{{ test.presentEng }}</p>
                <h3 class="text-light">Test Factors :</h3>
                
                {% if test.factors is empty %}
                <section class="fluid brdr-rad10 bk-drk4 shdw-in-drk4 pad1 marb2">
                    <p class="text-light">No factors</p>
                </section>    
                {% else %}

                    {% for factor in test.factors %}
                    <section class="fluid brdr-rad10 bk-drk4 shdw-in-drk4 pad1 marb2">
                        <div class="factor">
                            <h4 class="text-light">{{ factor.name }}</h4>
                            <p class="text-light">{{ factor.descEng }}</p>
                            <h5 class="text-light">Questions on this factor :</h5>
                            
                            {% if factor.questions is empty %}
                            <section class="fluid brdr-rad10 bk-drk4 shdw-in-drk4 pad1 marb2">
                                <p class="text-light">No questions</p>
                            </section>    
                            {% else %}
                            <section class="fluid brdr-rad10 bk-drk4 shdw-in-drk4 pad1 marb2">
                                {% for question in factor.questions %}
                                    <p class="text-light">- {{ question.questEng }}</p>
                                {% endfor %}
                            </section>
                            {% endif %}
                            
                        </div>
                    </section>    
                    {% endfor %}
                {% endif %}
            </div>
        </section>

        {# Main end  ----------------------------------------------------------------------- #}
        {# --------------------------------------------------------------------------------- #}


    </section>

    {# --------------------------------------------------------------------------------- #}
    {# aside Rigth----------------------------------------------------------------------- #}
    <aside class="aside-right bk-drk3 shdw-in-drk4" style="background-image: url({{ asset('build/img/gen/back1.jpg') }});">
        <section class="aside-content disp-col-center">
            <h2 class="title3 text-light">Admin Board Menu</h2>
            {% include "adminBoard/partials/menuMain.html.twig" %}
        </section>
    </aside>
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}
   
   
{% endblock %}