{% extends 'skynn1.html.twig' %}

    {% block lang %}fr{% endblock %}
    {% block title %}Admin Tests{% endblock %}


    {% block description %}
        Découvrez ou approfondissez vos connaissances BDSM avec INSIDIOME. 
        Une plateforme gratuite développée par un kinkster pour les kinksters.
        Nos BDSM-tests, Kink-quiz et des artciles vous aident à identifier vos besoins et envies pour améliorer votre expérience. 
    {% endblock %}
    
    {% block robots %}index,unfollow{% endblock %}


{% block stylesheets %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    {{ encore_entry_link_tags('skynn') }}

{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    {{ encore_entry_script_tags('app') }}


{% endblock %}
{% block body %}
 {# --------------------------------------------------------------------------------- #}
    {# aside left----------------------------------------------------------------------- #}
    <aside class="aside-left bk-drk3 shdw-in-drk4 mar3" style="background-image: url({{ asset('build/img/gen/back1.jpg') }});">

    </aside>
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}

    
    <section class="trunk fluid disp-col-start bk-drk3 shdw-in-drk4 pad3">


        {# --------------------------------------------------------------------------------- #}
        {# Nav    -------------------------------------------------------------------------- #}


        {# Nav end  ------------------------------------------------------------------------ #}
        {# --------------------------------------------------------------------------------- #}

        {# --------------------------------------------------------------------------------- #}
        {# Main      ----------------------------------------------------------------------- #}

        <section class="disp-col-center fluid brdr-rad10 bk-drk4 shdw-in-drk4 pad3">
            <h1 class="title3 text-light">Tests List</h1>
            <a href="{{ path('app_back_test_new') }}" class="butn butn-prim mary3">Create new</a>
            <table class="table table-dark table-striped table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Count</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for test in tests %}
                    <tr>
                        <td>{{ test.id }}</td>
                        <td><img src="{{ asset('build/img/mapped/square/test/' ~ test.image ) }}" class="img-thumbnail"></td>
                        <td>{{ test.name }}</td>
                        <td>{{ test.count }}</td>
                        <td>
                            <a href="{{ path('app_back_test_show', {'id': test.id}) }}" class="butn butn-prim mary1"><i class="fas fa-eye"></i></a>
                            <a href="{{ path('app_back_test_full_edit', {'id': test.id}) }}" class="butn butn-prim mary1"><i class="fas fa-pen"></i></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="20">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

    
            
        </section>

        {# Main end  ----------------------------------------------------------------------- #}
        {# --------------------------------------------------------------------------------- #}


    </section>

    {# --------------------------------------------------------------------------------- #}
    {# aside Rigth----------------------------------------------------------------------- #}
    <aside class="aside-right bk-drk3 shdw-in-drk4" style="background-image: url({{ asset('build/img/gen/back1.jpg') }});">
        <section class="aside-content disp-col-center">
            <h2 class="title3 text-light">Admin Board Menu</h2>
            {% include "adminBoard/partials/menuMain.html.twig" %}
        </section>
    </aside>
    {# end aside ----------------------------------------------------------------------- #}
    {# --------------------------------------------------------------------------------- #}
   
   
{% endblock %}